<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Sports</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{css/Nunito.css}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>
	
	    <!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
		
		      <!-- Main Content -->
			<div id="content">
		
		        <!-- Topbar -->
		        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:include="/header/header">
		
		
		        </nav>
		        <!-- End of Topbar -->
		
		        <!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title"><b>Project Introduce</b></h2>
					</div>
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 " >
			              <div class="card shadow mb-4">
								<h2 id="precompiled-bootstrap" style="margin-left:20px; margin-top:20px">
									<span class="bd-content-title"><b>Github Link</b></span>
								</h2>
								<p style="margin-left:25px">
									<a href="https://github.com/bjh0501/OneSports" target="_blank">https://github.com/bjh0501/OneSports</a>
								</p>
								<hr>
								<h2 id="precompiled-bootstrap"style="margin-left:20px; margin-top:10px">
									<span class="bd-content-title"><b>Blog Link</b></span>
								</h2>
								<p style="margin-left:25px">
									<a href="https://blog.naver.com/familytoto2019_2b02" target="_blank">https://blog.naver.com/familytoto2019_2b02</a>
								</p>
								<hr>
								<h2 id="precompiled-bootstrap" style="margin-left:20px; margin-top:10px; margin-bottom:15px">
									<span class="bd-content-title"><b>Main Page Image</b></span>
								</h2>
								<img src="/img/pageImage.png" width=300px height=300px style="margin-left:25px">
								<hr>
								<h2 id="precompiled-bootstrap">
									<span class="bd-content-title"style="margin-left:20px; margin-top:10px"><b>Banner</b></span>
								</h2>
								<pre>
	    ____                                ___                                      _               
	   F __ ]     _ ___       ____         F __".    _ ___       ____      _ ___    FJ_       ____   
	  J |--| L   J '__ J     F __ J       J (___|   J '__ J     F __ J    J '__ ", J  _|     F ___J  
	  | |  | |   | |__| |   | _____J      J\___ \   | |--| |   | |--| |   | |__|-J | |-'    | '----_ 
	  F L__J J   F L  J J   F L___--.    .--___) \  F L__J J   F L__J J   F L  `-' F |__-.  )-____  L
	 J\______/F J__L  J__L J\______/F    J\______J J  _____/L J\______/F J__L      \_____/ J\______/F
	  J______F  |__L  J__|  J______F      J______F |_J_____F   J______F  |__L      J_____F  J______F 
	                                               L_J 
  </pre>
  <hr>
                                                                                             
								<h2 id="precompiled-bootstrap">
									<span class="bd-content-title"style="margin-left:20px; margin-top:10px"><b>사용언어</b></span>
								</h2>
									<h4 style="margin-left:50px; ">※자바</h4>
									<h4 style="margin-left:50px; ">※스프링 부트</h4>
									<h4 style="margin-left:50px; ">※템플릿 엔진</h4>
									<h5 style="margin-left:100px; ">타임리프</h4>
									<h4 style="margin-left:50px; ">※디비 매퍼</h4>
									<h5 style="margin-left:100px; ">마이바티스</h4>
									<h4 style="margin-left:50px; ">※자바스크립트</h4>
									<h5 style="margin-left:100px; ">jQuery</h4>
									<h5 style="margin-left:100px; ">canvas</h4>
									<h5 style="margin-left:100px; ">부트스트랩</h4>
								<hr>
								<h2 id="precompiled-bootstrap">
									<span class="bd-content-title"style="margin-left:20px; margin-top:10px"><b>데이터 베이스 구성</b></span>
								</h2>
								<p style="margin-left:50px; margin-bottom:40px">MYSQL 5.7</p>
								<p style="margin-left:50px; margin-bottom:40px">
									<a href="img/aboutus/erd.png" target="_blank">ERD보기</a>
								</p>
								<hr>
								<h2 id="precompiled-bootstrap">
									<span class="bd-content-title"style="margin-left:20px"><b>System</b></span>
								</h2>
								<p style="margin-left:50px">Server : AWS, EC2, S3</p>
								<p style="margin-left:50px">Server OS : 우분투</p>
								<p style="margin-left:50px">자바 버전 : JDK8</p>
								<p style="margin-left:50px"><b>Technology Used</b></p>
								<p style="margin-left:75px"><b>JAVA</b></p>
								<ul style="margin-left:100px">
									<li>oAuth(네이버, 카카오톡, 페이스북)</li>
									<li>캡챠</li>
									<li>BCrypt암호화</li>
									<li>파일, 이미지 업로드(S3로)</li>
									<li>파이어베이스</li>
									<li>POI(엑셀다운)</li>
									<li>크롤링</li>
									<li>SMTP</li>
									<li>MVC</li>
									<li>메이븐</li>
									<li>인터셉터</li>
									<li>로그기록</li>
								</ul>
								<p style="margin-left:75px"><b>Frontend</b></p>
								<ul style="margin-left:100px">
									<li>jQuery</li>
									<li>AJAX</li>
									<li>canvas</li>
									<li>다음에디터</li>
									<li>결제모듈</li>
								</ul>
								<p style="margin-left:75px"><b>기타 기능</b></p>
								<ul style="margin-left:100px">
									<li>페이징</li>
									<li>AWS-EC2, S3</li>
									<li>마일리지</li>
									<li>장바구니</li>
									<li>택배배송</li>
									<li>익명 글쓰기</li>
									<li>페이징</li>
									<li>대댓글</li>
									<li>GitHub</li>
								</ul>
								<p style="margin-left:50px"><b>사용툴</b></p>
								<ul style="margin-left:50px">
									<li>STS 4</li>
									<li>깃 크라켄</li>
									<li>푸티</li>
									<li>파일질라</li>
									<li>워크밴치</li>
									<li>Sublime text</li>
									<li>포토샵 CS5</li>
								</ul>
			              </div>    
			            </div>
					</div>
				</div>
		        <!-- /.container-fluid -->
		
		</div>
	      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:include="/footer/footer">
      
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
	</div>
  <!-- End of Page Wrapper -->

  

 <!-- Bootstrap core JavaScript-->
		<script th:src="@{vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

		<!-- Custom scripts for all pages-->
		<script th:src="@{js/sb-admin-2.min.js}"></script>
	<!-- common -->
    <script src="/js/common.js"></script>
	<script src="/js/header.js"></script>

</body>

</html>
