<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{/css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<link rel="stylesheet" href="/css/jquery-ui.min.css">
<style>
.boardrow:hover {
	background: black;
	color: white;
	cursor: pointer;
}

label {
	display: inline-block;
	width: 5em;
}
</style>

<!-- </head> -->
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">자유 게시판</h2>
						&nbsp;<a class="btn btn-light btn-circle" id="helpButton" character="보아" href="javascript:;">
							<i class="fas fa-info-circle"></i>
						</a>
					</div>
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="table-responsive" th:if="${pagination.listCnt} > 0">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th style="width: 15%">글번호</th>
											<th style="width: 40%">제목</th>
											<th style="width: 20%">글쓴이</th>
											<th style="width: 15%">작성일</th>
											<th style="width: 10%">조회수</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="list: ${boardList}">
											<tr class="boardrow"
												th:onClick="|javascript:clickBoard( ${ list.boardNo } );|"
												th:if="${list.useYn=='Y'}" th:title="${list.boardContents}">
												<td style="text-align: center;"><th:block
														th:if="${list.boardGrpDepth} > 0"
														th:each="num: ${#numbers.sequence(1, list.boardGrpDepth)}">
														>
													</th:block> <span th:text="${list.boardNo}"></span></td>
												<td><span th:text="${list.boardTitle}"></span> <font
													color="orange">(<span th:text="${list.commentCnt}"></span>)
												</font> <i th:if="${list.boardFileName} != null"
													class="fas fa-file"></i></td>
												<td style="text-align: center;"><span
													th:text="${list.custNickname}"></span><img
													th:if="${list.custGubun != ''}" th:src="${list.custGubun}"
													width=26 height=26></img></td>
												<td th:text="${list.regDt}" style="text-align: center;"></td>
												<td th:text="${list.visit}" style="text-align: center;"></td>
											</tr>
											<tr th:if="${list.useYn=='W'}">
												<td colspan=5>
													<center style="color: gray">삭제된 게시글입니다.</center>
												</td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
							<div class="table-responsive" th:if="${pagination.listCnt} == 0">
								<center>게시글이 존재하지 않습니다.</center>
							</div>
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="row align-items-end">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
									<a href="registerBoard" type="button"
										class="btn btn-secondary btn-lg" style="float: right">글쓰기</a>
								</div>
							</div>
							<div class="row justify-content-md-center">
								<div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 mb-4">
									<div class="input-group">
										<select class="custom-select" style="max-width: 135px;"
											id="searchType">
											<option value="both" selected>제목+내용</option>
											<option value="title">제목</option>
											<option value="contents">내용</option>
											<option value="register">작성자</option>
										</select> <input type="text" class="form-control" placeholder="search"
											id="keyword" th:value="${pagination.getKeyword()}">
										<button type="button" class="btn btn-secondary"
											onClick="javascript:fn_search();">검색</button>
									</div>
								</div>
							</div>
							<div class="row justify-content-md-center"
								th:if="${pagination.listCnt} > 0">
								<div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 mb-4"
									id="paginationBox">
									<ul class="pagination justify-content-center">
										<li class="page-item" th:if="${pagination.prev}"><a
											class="page-link" tabindex="-1" aria-disabled="true"
											th:href="|javascript:fn_prev('${pagination.page}', '${pagination.range}', '${pagination.rangeSize}')|">Previous</a>
										</li>
										<th:block
											th:each="idx: ${#numbers.sequence(pagination.getStartPage(), pagination.getEndPage())}">
											<li class="page-item active" th:if="${pagination.page==idx}">
												<a class="page-link" th:text="${idx}"
												th:href="|javascript:fn_pagination(${idx}, ${pagination.getRange()}, ${pagination.getRangeSize()} )|">2</a>
											</li>
											<li class="page-item" th:if="${pagination.page!=idx}"><a
												class="page-link" th:text="${idx}"
												th:href="|javascript:fn_pagination(${idx}, ${pagination.getRange()}, ${pagination.getRangeSize()} )|">2</a>
											</li>
										</th:block>
										<li class="page-item" th:if="${pagination.next}"><a
											class="page-link"
											th:href="|javascript:fn_next('${pagination.getRange()}','${pagination.getRange()}', '${pagination.getRangeSize()}')|">Next</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->



	<!-- Bootstrap core JavaScript-->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<!-- Custom scripts for all pages-->
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{js/sb-admin-2.min.js}"></script>
	
	<script src="/js/jquery-ui.min.js"></script>
	<!-- common -->
    <script src="/js/common.js"></script>
	<script src="/js/header.js"></script>
</body>
</html>
<script>
var helpCommentList = [
	"안녕하세요 제 이름은 보아입니다.<br>자유게시판 리스트사용법부터 알려드릴게요.",
	"각 글들은 글번호, 제목, 글쓴이, 작성일, 조회수<br>이렇게 구성되있습니다.",
	"각글에 마우스를 올리면 내용 미리보기가 <br>해당 글 하단에 보이고<br>"
	+ "제목에는 글의 댓글갯수가 나타나고<br>글쓴이는 소셜 아이콘이 나타나고<br>"
			+ "없는건 익명사용자입니다.",
	"작성일은 1분이하는 방금전으로, 1시간 이하는 분으로,<br>"
			+ "작성일은 1일이하는 시간으로, 3일이하 일로 표시되고<br>그이상은 시간으로 표시되여하단에<br>"
			+ "글쓰기 버튼을 클릭하면 글도 쓰러 갈수있어요.",
	"글검색은 제목+내용, 제목, 내용, 작성자로<br>검색도 가능합니다." ]
	
	$(function() {
		$("#dataTable tbody tr").tooltip({
			content: function() {
				return $(this).prop('title')
			},
			show: {
// 			  delay: 200
			},
			position : {
				track : true,
				collision: "none"
			}
		});
	});	
	
	$('#searchType').val("[[ ${pagination.getSearchType()} ]]");

	var currentKeyword = $('#keyword').val();
	var currentSearchType = $('#searchType').val();

	function fn_search() {
		var url = "/boardList";
		url = url + "?searchType=" + $('#searchType').val();
		url = url + "&keyword=" + $('#keyword').val();

		location.href = url;
	}

	//이전 버튼 이벤트	
	function fn_prev(page, range, rangeSize) {
		var page = ((range - 2) * rangeSize) + 1;
		var range = range - 1;

		var url = "/boardList";
		url = url + "?page=" + page;
		url = url + "&range=" + range;
		url = url + "&searchType=" + currentSearchType;
		url = url + "&keyword=" + currentKeyword;

		location.href = url;
	}

	//페이지 번호 클릭
	function fn_pagination(page, range, rangeSize, searchType, keyword) {
		var url = "/boardList";
		url = url + "?page=" + page;
		url = url + "&range=" + range;
		url = url + "&searchType=" + currentSearchType;
		url = url + "&keyword=" + currentKeyword;

		location.href = url;
	}

	//다음 버튼 이벤트
	function fn_next(page, range, rangeSize) {
		var page = parseInt((range * rangeSize)) + 1;
		var range = parseInt(range) + 1;
		var url = "/boardList";

		url = url + "?page=" + page;
		url = url + "&range=" + range;
		url = url + "&searchType=" + currentSearchType;
		url = url + "&keyword=" + currentKeyword;

		location.href = url;
	}

	function clickBoard(no) {
		location.href = "/showBoard/" + no;
	}

	$("#keyword").keyup(function(e) {
		if (e.keyCode == 13)
			fn_search();
	});
</script>