<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

<!--jquery ui -->
<link rel="stylesheet" href="css/jquery-ui.min.css">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid" style="display: none;">
					<div class="row">
						<h2 class="text-title">Q&A</h2>
					</div>
					<div class="d-flex flex-row-reverse bd-highlight">
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
							<button type="button" class="btn btn-secondary btn-block"
								data-toggle="modal" data-target="#exampleModal"
								data-backdrop="static" data-keyboard="false">문의하기</button>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
							<div class="card shadow mb-4">
								<div class="card-body">
									<div id="accordion">
										<th:block th:each="list : ${qnaList}">
											<h3>
												<span th:if="${list.getQnaAdminContents() == '아직 답변이 달리지 않았습니다.'}" style="color:orange;">[답변 대기중]</span>
												<span th:text="${list.getQnaQuestionContents()}"></span> <br>
												<span style="float: right"> <img
													src="/img/social/icon/facebookMiniIcon.jpg" width=24px
													th:if="${list.getGubun()=='FA'}"> <img
													src="/img/social/icon/naverMiniIcon.jpg" width=24px
													th:if="${list.getGubun()=='NA'}"> <img
													src="/img/social/icon/kakaoMiniIcon.jpg" width=24px
													th:if="${list.getGubun()=='KA'}"> <img
													src="/img/social/icon/onesportsMiniIcon.jpg" width=24px
													th:if="${list.getGubun()=='ON'}"> <span
													th:text="${list.getFamilyCustNickname()}"></span>
												</span>
											</h3>
											<div>
												<p>
													<span th:text="${list.getQnaAdminContents()}">아직 답변이
														달리지 않았습니다.</span> <br> <span style="float: right"
														th:text="${list.getFamilyCustAdminNickname()}">
														wkrtjdwk</span>
												</p>
												<p th:if="${cust != null && cust.custOperatorGubun == 'Y' && list.getQnaAdminContents() == '아직 답변이 달리지 않았습니다.' }">
													<textarea style="width: 100%"></textarea>
													<button type="button" class="btn btn-secondary btn-block"
														th:onClick="|javascript:answer($(this), ${list.getQnaNo()});|">답변달기</button>
												</p>
											</div>
										</th:block>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex flex-row-reverse bd-highlight">
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
							<button type="button" class="btn btn-secondary btn-block"
								data-toggle="modal" data-target="#exampleModal"
								data-backdrop="static" data-keyboard="false">문의하기</button>
						</div>
					</div>
					<!--  <div class="row justify-content-md-center">
						<div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 mb-4">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled"><a class="page-link"
									href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</div>
					</div> -->
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<!-- 문의폼 -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">문의하기</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group" th:if="${cust} == null">
						<label for="recipient-name" class="col-form-label">닉네임</label> <input
							type="text" class="form-control" id="nickname">
					</div>
					<div class="form-group" th:if="${cust} == null">
						<label for="recipient-name" class="col-form-label">비밀번호</label> <input
							type="password" class="form-control" id="password">
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">문의내용</label>
						<textarea class="form-control" id="contents"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-secondary" data-toggle="modal"
						data-target="#ok" data-backdrop="static" data-keyboard="false">문의하기</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 문의폼 -->

	<!-- 메시지박스 -->

	<div class="modal fade" id="ok" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document"
			style="top: 72px; left: -8px; width: 350px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">문의하기</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<center>
						문의를 하면 삭제나 수정을 못합니다.<br> 계속 하시겠습니까?
					</center>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-secondary"
						onClick="javascript:question();" th:if="${annoGubun} == 'N'">문의하기</button>
					<button type="button" class="btn btn-secondary"
						onClick="javascript:annoQuestion();" th:if="${annoGubun} == 'Y'">문의하기</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 메시지박스-->

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!--jquery ui -->
	<script src="/js/jquery-ui.min.js"></script>
	
	<!-- common -->
    <script src="/js/common.js"></script>
	<script src="/js/header.js"></script>
	
</body>

</html>


<script>
$(document).ready(function(){
	$("#accordion").accordion({
		collapsible : false
	,	active: true
	});
	
	$(".container-fluid").fadeIn();
	
	$(".ui-accordion-content").removeAttr("style");
	$(".ui-accordion-content").attr("style", "display:none");

});

function question() {
	if($("#contents").val().trim() == "") {
		alert("내용을 입력해주세요.");
		$("#contents").focus();
		return;
	}
	
	var sContents = $("#contents").val().trim()
	
	sContents = sContents.replace("\n", "<br>");
	
	$.ajax({
		url : "/qna/register",
		type : "POST",
		cache : false,
		dataType : "json",
		data : "qnaQuestionContents=" + $("#contents").val().trim(),
		success : function(data) {
			if(data == 1) {
				alert("문의가 등록되었습니다.");
				location.reload();
			} else {
				alert("알수 없는 에러가 발생하였습니다. 새로고침 후 다시 시도해주세요.");
			}
		},
		error : function(request, status, error) {
			alert("알수 없는 에러가 발생하였습니다. 새로고침 후 다시 시도해주세요.");
		}
	});
}

function annoQuestion() {
	if($("#nickname").val().trim() == "") {
		alert("내용을 입력해주세요.");
		$("#nickname").focus();
		return;
	}

	if($("#nickname").val().length < 2 || $("#nickname").val().length > 8) {
		alert("닉네임은 2~8글자로 입력해주세요.");
		$("#nickname").focus();
		return;
	}
	
	var reg_hanengnum = /^[ㄱ-ㅎ|가-힣|a-z|A-Z|0-9|\*]+$/;

	if (!reg_hanengnum.test($("#nickname").val())) {
        alert("닉네임은 한글, 영문, 숫자만 입력 가능합니다.");
        $("#nickname").focus();
        return;
	}
	
	if($("#password").val() == "") {
		alert("패스워드를 입력해주세요.");
		$("#password").focus();
		return;
	}
	
	if($("#password").val().length < 4 || $("#password").val().length > 20) {
		alert("패스워드는 4~20글자로 입력해주세요.");
		$("#password").focus();
		return;
	}
	
	if($("#contents").val().trim() == "") {
		alert("내용을 입력해주세요.");
		$("#contents").focus();
		return;
	}
	
	var sContents = $("#contents").val().trim()
	
	sContents = sContents.replace("\n", "<br>");
	
	$.ajax({
		url : "/qna/register",
		type : "POST",
		cache : false,
		dataType : "json",
		data : "qnaQuestionAnnoId=" + $("#nickname").val().trim()
				+"&qnaQuestionAnnoPw=" + $("#password").val()
				+"&qnaQuestionContents=" + $("#contents").val().trim(),
		success : function(data) {
			if(data == 1) {
				alert("문의가 등록되었습니다.");
				location.reload();
			} else {
				alert("알수 없는 에러가 발생하였습니다. 새로고침 후 다시 시도해주세요.");
			}
		},
		error : function(request, status, error) {
			alert("알수 없는 에러가 발생하였습니다. 새로고침 후 다시 시도해주세요.");
		}
	});
}

function answer(obj, qnaNo)  {
	if($(obj).prev().val().trim() == "") {
		alert("답변을 입력해주세요.");
		$(obj).prev().focus();
		return;
	}

	$.ajax({
		url : "/qna/answer",
		type : "POST",
		cache : false,
		dataType : "json",
		data : "qnaNo=" + qnaNo
				+"&qnaAdminContents=" + $(obj).prev().val(),
		success : function(data) {
			if(data == 1) {
				alert("답변이 등록되었습니다.");
				location.reload();
			} else {
				alert("알수 없는 에러가 발생하였습니다. 새로고침 후 다시 시도해주세요.");
			}
		},
		error : function(request, status, error) {
			alert("알수 없는 에러가 발생하였습니다. 새로고침 후 다시 시도해주세요.");
		}
	});
}
</script>