<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Sports</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/css/Nunito.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>
	
	    <!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
		
		      <!-- Main Content -->
			<div id="content">
		
		        <!-- Topbar -->
		        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:include="/header/header">
		
		
		        </nav>
		        <!-- End of Topbar -->
		
		        <!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">글보기</h2>
					</div>
					 <div class="card shadow mb-4">
			            <div class="card-body">
							<div class="input-group mb-3">
						  		<h1 th:text="${board.getBoardTitle()}">제목</h1>
							</div>
							<hr>
							<div class="row">
								<div class="col-xl-5 col-md-5 mb-2">
									<div class="input-group">
								  		<div class="input-group-prepend">
									 	  <span class="input-group-text" id="basic-addon1">글작성자</span>
								  		</div>
										<label style="padding-top:8px; padding-left:2px;" th:text="${board.getCustNickname()}" id="regNick">Admin</label>
									</div>
								</div>
								<div class="col-xl-7 col-md-7 mb-2">
									<div class="input-group mb-2">
								  		<div class="input-group-prepend">
									 	  <span class="input-group-text" id="basic-addon1">작성일</span>
								  		</div>
										<label style="padding-top:8px; padding-left:2px;" th:text="${board.getRegDt()}"></label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-5 col-md-5 mb-2">
									<div class="input-group">
								  		<div class="input-group-prepend">
									 	  <span class="input-group-text" id="basic-addon1">글번호</span>
								  		</div>
										<label style="padding-top:8px; padding-left:2px;" th:text="${board.getBoardNo()}"></label>
									</div>
								</div>
								<div class="col-xl-7 col-md-7 mb-2">
									<div class="input-group mb-2">
								  		<div class="input-group-prepend">
									 	  <span class="input-group-text" id="basic-addon1">조회수</span>
								  		</div>
										<label style="padding-top:8px; padding-left:2px;" th:text="${board.getVisit()}">0</label>
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-xl-12 col-md-12 mb-2" th:text="${board.getBoardContents()}" id="boardDiv">
									<iframe id="boardContents" src="/showEditor"  style="width:100%; height:100%" onLoad="autoResize(this);"></iframe>
								</div>
							</div>
			            
				            <div class="row">
								<div class="col-xl-3 col-md-3 mb-3">
									<div class="input-group mb-3">
										<button type="button" class="btn btn-secondary btn-lg btn-block" onClick="javascript:location.href='/boardList'"  style="min-width:114px;">목록으로</button>
									</div>
								</div>
								<div class="col-xl-9 col-md-9 mb-9">
									<div class="d-flex flex-row-reverse">
										<div class="col-xl-3 col-md-3 mb-3" th:if="${cust == board.getRegCustNo()}">
											<div class="input-group mb-3">
												<button type="button" class="btn btn-secondary btn-lg btn-block" style="min-width:74px;" data-toggle="modal" data-target="#updateModal">수정</button>
											</div>
										</div>
										<div class="col-xl-3 col-md-3 mb-3" th:if="${cust == board.getRegCustNo()}">
											<div class="input-group mb-3">
												<button type="button" class="btn btn-secondary btn-lg btn-block" style="min-width:74px;" th:onClick="|javascript:deleteBoard(${board.getBoardNo()});|">삭제</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-xl-12 col-md-12 mb-3">
									<div class="input-group">
										<h4>댓글<span style="color:orange">(0)</span></h4>
									</div>
								</div>
							</div>
							<div class="row" th:if="${cust != 0}"> 
								<div class="input-group">
									<b><label style="padding-top:8px;padding-right:2px;" th:text="${custComment.getFamilyCustNick()}" id="custNick">이름</label></b>
									<a class="navbar-brand" href="javascript:;" style="cursor:default;">
								   		<img th:src="${socialImg}" width="30" height="30" alt="" th:if="${cust != 0}" id="socialImg">
								 	</a>
									<input type="text" class="form-control" placeholder="Comment" aria-describedby="basic-addon1" id="inputComment">
									<button type="button" class="btn btn-secondary" style="margin-left:5px" th:onClick="|javascript:socialComment(${board.getBoardNo()});|">등록</button>
								</div>
							</div>
							<div class="row" th:if="${cust == 0}">
								<div class="col-xl-4 col-md-6 col-sm-6 mb-3">
									<div class="input-group">
										<label style="padding-top:8px;padding-right:2px;">아이디</label>
										<input type="text" class="form-control" placeholder="id" aria-describedby="basic-addon1" id="annoId">
									</div>
								</div>
								<div class="col-xl-4 col-md-6 col-sm-6 mb-3">
									<div class="input-group">
										<label style="padding-top:8px;padding-right:2px;">비밀번호</label>
										<input type="password" class="form-control" placeholder="passowrd" aria-describedby="basic-addon1" id="annoPw">
									</div>
								</div>
								<div class="col-xl-12 col-md-12 col-sm-12">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Comment" aria-describedby="basic-addon1" id="annoComment">
										<button type="button" class="btn btn-secondary" style="margin-left:5px" th:onClick="|javascript:registerComment('anno', ${board.getBoardNo()});|">등록</button>
									</div>
								</div>
							</div>
							<hr id="commentHr">
							<th:block th:each="com :${comment}">
								<div class="row">
									<div class="input-group d-flex">
										<div class="p-1">
											<b><label class="text-word-r" th:text="${com.getCommentAnnoId()}">이름</label></b>
											<th:block th:if="${com.getScCustGubun()} == 'NA'" >
												 <a class="navbar-brand" href="javascript:;" style="cursor:default;">
											   		<img src="/img/social/icon/naverMiniIcon.jpg" width="30" height="30" alt="">
											 	</a>
										 	</th:block>
										 	<th:block th:if="${com.getScCustGubun()} == 'KA'" >
												 <a class="navbar-brand" href="javascript:;" style="cursor:default;">
											   		<img src="/img/social/icon/kakaoMiniIcon.jpg" width="30" height="30" alt="">
											 	</a>
										 	</th:block>
										 	<th:block th:if="${com.getScCustGubun()} == 'FA'" >
												 <a class="navbar-brand" href="javascript:;" style="cursor:default;">
											   		<img src="/img/social/icon/facebookMiniIcon.jpg" width="30" height="30" alt="">
											 	</a>
										 	</th:block>
										 	<th:block th:if="${com.getScCustGubun()} == 'ON'" >
												 <a class="navbar-brand" href="javascript:;" style="cursor:default;">
											   		<img src="/img/social/icon/onesportsMiniIcon.jpg" width="30" height="30" alt="">
											 	</a>
										 	</th:block>
									 	</div>
									 	<div class="p-1">
											<p class="text-word-l" th:text="${com.getCommentContents()}">내가쓴 댓글</p>
										</div>
										<p class="ml-auto p-2 ">
											<button type="button" class="btn btn-secondary">답글쓰기</button>
											<button type="button" class="btn btn-secondary">수정</button>
											<button th:if="${cust == com.getRegCustNo()}"  type="button" class="btn btn-secondary" onClick="javascript:deleteComment();">삭제</button>
											<input type="text" th:value="${com.getRegCustNo()}">
											<label class="text-word-l" th:text="${com.getRegDt()}">날짜</label>
										</p>
									</div>
								</div>
							</th:block>
						</div>
		          	</div>
				</div>
		        <!-- /.container-fluid -->
		
		</div>
	      <!-- End of Main Content -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">비밀번호 입력</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">비밀번호:</label>
            <input type="password" class="form-control" id="annoInputPw">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-secondary" th:onClick="|javascript:goUpdate(${board.getRegCustNo()}, ${board.getBoardNo()} )|">확인</button>
      </div>
    </div>
  </div>
</div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:include="/footer/footer">
      
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
	</div>
  <!-- End of Page Wrapper -->

  

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>
</body>

</html>
<script>	
	function deleteBoard(no) {
		var con = confirm("정말로 삭제하시겠습니까?");
		
		if(con == true) {
			location.href="/deleteBoard/" + no;
		}
	}
	
	function goUpdate(reg, boardNo) {
		// 익명
		annoId = $("#regNick").html()
		if(reg == 0) {
			if($("#annoInputPw").val() == "") {
				alert("비밀번호를 입력해주세요.");
				return;
			} else {
				$.ajax({
					url : "/updateBoard/check",
					type : "POST",
					cache : false,
					dataType : "json",
					data : "boardAnnoPw=" + $("#annoInputPw").val()
							+ "&boardNo=" + boardNo
							+ "&boardAnnoId=" + annoId
							+ "&scCustGubun=" + "FA",
					success : function(data) {
						if(data == 0) {
							
						}  else if(data == -98) {
							alert("비밀번호가 틀렸습니다.");
						}
					},
	
					error : function(request, status, error) {
						var msg = "ERROR : " + request.status + "<br>"
						msg += +"내용 : " + request.responseText + "<br>" + error;
						console.log(msg);
					}
				});
			}
			
		} else { // 유저
			
		}
	}
	
	function registerComment(gubun, boardNo) {
		if(gubun == "anno") {
			if($("#annoId").val().trim() == "") {
				alert("아이디를 입력해주세요.");
				$("#annoId").focus();
				return ;
			}
			
			if($("#annoPw").val() == "") {
				alert("비밀번호를 입력해주세요.");
				$("#annoPw").focus();
				return ;
			}
			
			if($("#annoComment").val().trim() == "") {
				alert("댓글을 입력해주세요.");
				$("#annoComment").focus();
				return ;
			}
			
			$.ajax({
				url : "/board/insertComment",
				type : "POST",
				cache : false,
				dataType : "json",
				data : "boardNo=" + boardNo
						+ "&commentContents=" + $("#annoComment").val()
						+ "&commentAnnoId=" + $("#annoId").val()
						+ "&commentAnnoPw=" + $("#annoPw").val(),
				success : function(data) {
					var sCommentStr = "";
					
					sCommentStr += '<div class="row com">';
					sCommentStr += '	<div class="input-group d-flex">';
					sCommentStr += '		<div class="p-1">';
					sCommentStr += '			<b><label class="text-word-r">' + $("#annoId").val() + '</label></b>';
					// sCommentStr += '			<a class="navbar-brand" href="#">';
					// sCommentStr += '				<img src="img/social/naver.jpg" width="30" height="30" alt="">';
					// sCommentStr += '			</a>';
					sCommentStr += '		</div>';
					sCommentStr += '		<div class="p-1">';
					sCommentStr += '			<p class="text-word-l">' + $("#annoComment").val() + '</p>';
					sCommentStr += '		</div>';
					sCommentStr += '		<p class="ml-auto p-2 ">';
					sCommentStr += '			<button type="button" class="btn btn-secondary">답글쓰기</button>';
					sCommentStr += '			<button type="button" class="btn btn-secondary">수정</button>';
					sCommentStr += '			<button type="button" class="btn btn-secondary">삭제</button>';
					sCommentStr += '			<label class="text-word-l">2015. 12. 12 12:25:33</label>';
					sCommentStr += '		</p>';
					sCommentStr += '	</div>';
					sCommentStr += '</div>';		
					
					$("#commentHr").after(sCommentStr);
					
					$("#annoComment").val("")
				},
				error : function(request, status, error) {
					var msg = "ERROR : " + request.status + "<br>"
					msg += +"내용 : " + request.responseText + "<br>" + error;
					console.log(msg);
				}
			});
		}
	}
	
	function socialComment(boardNo) {
		if($("#inputComment").val().trim() == "") {
			alert("댓글을 입력해주세요.");
			return ;
		}
		
		$.ajax({
			url : "/board/insertComment",
			type : "POST",
			cache : false,
			dataType : "json",
			data : "boardNo=" + boardNo
					+ "&commentContents=" + $("#inputComment").val(),
			success : function(data) {
				var sCommentStr = "";
				
				sCommentStr += '<div class="row com">';
				sCommentStr += '	<div class="input-group d-flex">';
				sCommentStr += '		<div class="p-1">';
				sCommentStr += '			<b><label class="text-word-r">' + $("#custNick").html() + '</label></b>';
				sCommentStr += '			<a class="navbar-brand" href="#">';
				sCommentStr += '				<img src="' + $("#socialImg").attr("src") + '" width="30" height="30" alt="">';
				sCommentStr += '			</a>';
				sCommentStr += '		</div>';
				sCommentStr += '		<div class="p-1">';
				sCommentStr += '			<p class="text-word-l">' + $("#inputComment").val() + '</p>';
				sCommentStr += '		</div>';
				sCommentStr += '		<p class="ml-auto p-2 ">';
				sCommentStr += '			<button type="button" class="btn btn-secondary">답글쓰기</button>';
				sCommentStr += '			<button type="button" class="btn btn-secondary">수정</button>';
				sCommentStr += '			<button type="button" class="btn btn-secondary">삭제</button>';
				sCommentStr += '			<label class="text-word-l">2015. 12. 12 12:25:33</label>';
				sCommentStr += '		</p>';
				sCommentStr += '	</div>';
				sCommentStr += '</div>';		
				
				$("#commentHr").after(sCommentStr);
				$("#inputComment").val("");
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function deleteComment() {
		
	}
</script>
