<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<meta http-equiv='Content-type' content='text/html; charset=utf-8'>
<meta http-equiv="cache-control" content="no-cache, must-revalidate">
<meta http-equiv="pragma" content="no-cache">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link href="/css/Nunito.css" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<style>
.boardrow:hover {
	background: black;
	color: white;
	cursor: pointer;
}

.boardactive {
	background: gray;
    font-weight: bold;
}

.input-group-text {
	border-radius: initial;
}
</style>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">글보기</h2>
					</div>
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="input-group mb-3">
								<h2 style="color: orange;"
									th:if="${board.getBoardNotice() == 'Y'}">[공지사항]</h2>
								<th:block
									th:each="num: ${#numbers.sequence(1,board.boardGrpDepth)}"
									th:if="${board.boardGrpDepth} > 0">
									<h1 style="color: orange">></h1>
								</th:block>
								<h1 th:text="${board.getBoardTitle()}">제목</h1>
							</div>
							<hr>
							<div class="row">
								<div class="col-xl-5 col-md-5 mb-2">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">글작성자</span>
										</div>
										<label style="padding-top: 8px; padding-left: 2px;"
											th:text="${board.getCustNickname()}" id="regNick">Admin</label>
									</div>
								</div>
								<div class="col-xl-7 col-md-7 mb-2">
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">작성일</span>
										</div>
										<label style="padding-top: 8px; padding-left: 2px;"
											th:text="${board.getRegDt()}"></label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-5 col-md-5 mb-2">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1" style="width: 91px">글번호</span>
										</div>
										<label style="padding-top: 8px; padding-left: 2px;"
											th:text="${board.getBoardNo()}"></label>
									</div>
								</div>
								<div class="col-xl-7 col-md-7 mb-2">
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">조회수</span>
										</div>
										<label style="padding-top: 8px; padding-left: 2px;"
											th:text="${board.getVisit()}">0</label>
									</div>
								</div>
							</div>
							<div class="row" th:if="${board.getBoardFileName() != ''}">
								<div class="col-xl-5 col-md-5 mb-2">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">첨부파일</span>
										</div>
										<a style="padding-top: 8px; padding-left: 2px;"
											th:text="${board.getBoardFileName()}"
											th:href="'/board/downloadFile/'+${board.getBoardNo()}"></a>
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<textarea style="display: none;" id="contentsArea"
									th:text="${board.getBoardContents()}"></textarea>
								<div class="col-xl-12 col-md-12 mb-2" id="boardDiv"></div>
							</div>

							<div class="row">
								<div class="col-xl-3 col-md-3 mb-3">
									<div class="input-group mb-3">
										<button type="button"
											class="btn btn-secondary btn-lg btn-block"
											onClick="javascript:goList();" style="min-width: 114px;">목록으로</button>
										<input type="hidden" id="listLink" th:value="${listLink}">
									</div>
								</div>
								<div class="col-xl-9 col-md-9 mb-9">
									<div class="d-flex flex-row-reverse">
										<div class="col-xl-3 col-md-3 mb-3"
											th:if="${board.getRegCustNo() == 0}">
											<div class="input-group mb-3">
												<button type="button"
													class="btn btn-secondary btn-lg btn-block"
													style="min-width: 74px; background: #656565;"
													onClick="javascript:clickModal('BE')">수정</button>
											</div>
										</div>
										<div class="col-xl-3 col-md-3 mb-3"
											th:if="${board.getRegCustNo() == cust}">
											<div class="input-group mb-3">
												<button type="button"
													class="btn btn-secondary btn-lg btn-block"
													style="min-width: 74px; background: #656565;"
													th:onClick="|javascript:location.href='/updateBoard/${board.getBoardNo()}'|">수정</button>
											</div>
										</div>
										<div class="col-xl-3 col-md-3 mb-3"
											th:if="${cust == board.getRegCustNo() || board.getRegCustNo() == 0}">
											<div class="input-group mb-3">
												<button type="button"
													class="btn btn-secondary btn-lg btn-block"
													style="min-width: 74px; background: #828282;"
													onClick="javascript:clickModal('BD')">삭제</button>
											</div>
										</div>
										<div class="col-xl-3 col-md-3 mb-3">
											<div class="input-group mb-3">
												<button type="button"
													th:if="${board.getBoardNotice() != 'Y'}"
													class="btn btn-secondary btn-lg btn-block"
													style="min-width: 74px; background: #bdbdbd;"
													th:onClick="|javascript:reply(${board.getBoardNo()});|">답장</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" th:if="${replyBoardList.size()} > 1">
								<div class="col-xl-12 col-md-12 mb-3">
								<hr>
									<div class="input-group">
										<h4>답장 게시글 목록</h4>
										<table class="table table-bordered" id="dataTable"
											width="100%" cellspacing="0">
											<thead>
												<tr>
													<th style="width: 80px;">글번호</th>
													<th style="width: 250px;">제목</th>
													<th style="width: 100px;">글쓴이</th>
													<th>작성일</th>
													<th>조회수</th>
												</tr>
											</thead>
											<tbody>
												<th:block th:each="list: ${replyBoardList}">
													<tr class="boardrow"
														th:onClick="|javascript:clickBoard( ${ list.boardNo } );|"
														th:if="${list.useYn=='Y'}">
														<td>
														 	<th:block
														 	 th:if="${list.boardGrpDepth} > 0"
														 	 th:each="num: ${#numbers.sequence(1, list.boardGrpDepth)}">
																>
															</th:block>
															<span th:text="${list.boardNo}"></span>
														</td>
														<td>
															<span  th:text="${list.boardTitle}"></span>
															<font color="orange">(<span  th:text="${list.commentCnt}"></span>)</font>
															
															<i th:if="${list.boardFileName} != null" class="fas fa-file"></i>
														</td>
														<td><span th:text="${list.custNickname}"></span><img
															th:if="${list.custGubun != ''}" th:src="${list.custGubun}"
															width=26 height=26></img></td>
														<td th:text="${list.regDtStr}"></td>
														<td th:text="${list.visit}"></td>
													</tr>
													<tr th:if="${list.useYn=='W'}">
														<td colspan=5>
														<center style="color: gray">삭제된 게시글입니다.</center>
														</td>
													</tr>
												</th:block>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<th:block th:if="${board.getBoardNotice() != 'Y'}">
								<hr >
								<div class="row" >
									<div class="col-xl-12 col-md-12 mb-3">
										<div class="input-group">
											<h4>
												댓글<span style="color: orange" id="commentCnt"
													th:text="'('+${commentCnt}+')'">0</span>
											</h4>
										</div>
									</div>
								</div>
								<div class="row" th:if="${cust != -1}">
									<div class="input-group">
										<b><label style="padding-top: 8px; padding-right: 2px;"
											th:text="${custComment.getFamilyCustNick()}" id="custNick">이름</label></b>
										<a class="navbar-brand" href="javascript:;"
											style="cursor: default;"> <img th:src="${socialImg}"
											width="30" height="30" alt="" th:if="${cust != 0}"
											id="socialImg">
										</a> <input type="text" class="form-control" placeholder="Comment"
											aria-describedby="basic-addon1" id="inputComment"
											onkeypress="if(event.keyCode==13) {$('#socialRegisterButton').trigger('click');}">
										<button type="button" class="btn btn-secondary"
											style="margin-left: 5px"
											th:onClick="|javascript:socialComment(${board.getBoardNo()});|"
											id="socialRegisterButton">등록</button>
									</div>
								</div>
								<div class="row" th:if="${cust == -1}" id="commentDiv">
									<div class="col-xl-4 col-md-6 col-sm-6 mb-3">
										<div class="input-group">
											<label style="padding-top: 8px; padding-right: 2px;">아이디</label>
											<input type="text" class="form-control" placeholder="id"
												aria-describedby="basic-addon1" id="annoId">
										</div>
									</div>
									<div class="col-xl-4 col-md-6 col-sm-6 mb-3">
										<div class="input-group">
											<label style="padding-top: 8px; padding-right: 2px;">비밀번호</label>
											<input type="password" class="form-control"
												placeholder="passowrd" aria-describedby="basic-addon1"
												id="annoPw">
										</div>
									</div>
									<div class="col-xl-12 col-md-12 col-sm-12">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Comment"
												aria-describedby="basic-addon1" id="annoComment"
												onkeypress="if(event.keyCode==13) {$('#annoRegisterButton').trigger('click');}">
											<button type="button" class="btn btn-secondary"
												style="margin-left: 5px"
												th:onClick="|javascript:registerComment(${board.getBoardNo()});|"
												id="annoRegisterButton">등록</button>
										</div>
									</div>
								</div>
								<hr id="commentHr">
								<center class="empty" th:if="${commentCnt} < 1">댓글이 존재하지
									않습니다.</center>
							</th:block>
							<th:block th:each="com :${comment}">
								<div class="row">
									<div class="input-group d-flex">
										<div class="p-1">
											<th:block th:if="${com.getCommentGrpDepth() > 1}"
												th:each="num: ${#numbers.sequence(1, com.getCommentGrpDepth() -1)}">></th:block>
											<b><label class="text-word-r"
												th:text="${com.getCommentAnnoId()}">이름</label></b> <a
												class="navbar-brand" href="javascript:;"
												style="cursor: default;"> <th:block
													th:if="${com.getScCustGubun()} == 'NA'">
													<img src="/img/social/icon/naverMiniIcon.jpg" width="30"
														height="30" alt="">
												</th:block> <th:block th:if="${com.getScCustGubun()} == 'KA'">
													<img src="/img/social/icon/kakaoMiniIcon.jpg" width="30"
														height="30" alt="">
												</th:block> <th:block th:if="${com.getScCustGubun()} == 'FA'">
													<img src="/img/social/icon/facebookMiniIcon.jpg" width="30"
														height="30" alt="">
												</th:block> <th:block th:if="${com.getScCustGubun()} == 'ON'">
													<img src="/img/social/icon/onesportsMiniIcon.jpg"
														width="30" height="30" alt="">
												</th:block>
											</a>
										</div>
										<div class="p-1 commentContents">
											<p class="text-word-l" th:text="${com.getCommentContents()}" th:if="${com.getUseYn()=='Y'}">댓글</p>
											<p class="text-word-l" th:if="${com.getUseYn()=='N'}" style="color:gray;">삭제된 댓글입니다.</p>
										</div>
										<p class="ml-auto p-2" th:if="${com.getUseYn()=='Y'}">
											<button type="button" class="btn btn-secondary"
												th:onClick="|javascript:replyComment($(this), 
												${com.getCommentGrpNo()},
												${com.getCommentGrpOrd()},
												${com.getCommentGrpDepth()}+1);|">답글쓰기</button>

											<button
												th:if="${com.getRegCustNo() == cust || com.getRegCustNo() == 0}"
												type="button" class="btn btn-secondary"
												th:data-commentno="${com.getCommentNo()}"
												th:data-gubun="${com.getScCustGubun()}"
												th:onClick="|javascript:updateComment($(this), this.getAttribute('data-commentno'), this.getAttribute('data-gubun'));|">수정</button>

											<button
												th:if="${com.getRegCustNo() == cust || com.getRegCustNo() == 0}"
												type="button" class="btn btn-secondary"
												th:data-gubun="${com.getScCustGubun()}"
												th:data-grpord="${com.getCommentGrpOrd()}"
												th:data-grpno="${com.getCommentGrpNo()}"
												th:onClick="|javascript:deleteComment( ${com.getCommentNo()}, $(this),
												this.getAttribute('data-gubun'),
												this.getAttribute('data-grpOrd'),
												this.getAttribute('data-grpNo'),);|">삭제</button>
											<label class="text-word-l" th:text="${com.getRegDtStr()}">날짜</label>
										</p>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->
			<div class="modal fade" id="promptModal" tabindex="-1" role="dialog"
				aria-labelledby="promptModal" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">비밀번호 입력</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span> <input type="text"
									id="promptGubun" style="display: none;">
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">비밀번호:</label>
								<input type="password" class="form-control" id="annoInputPw">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-secondary"
								th:onClick="|javascript:chooseAction()|" id="promptButton">확인</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->



	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	
	<!-- common -->
    <script src="/js/common.js"></script>
	<script src="/js/header.js"></script>
</body>

</html>
<script>
	if(getCookie('boardVisit' + [[ ${board.getBoardNo()} ]]) == undefined) {
		setCookie('boardVisit' + [[ ${board.getBoardNo()} ]], "true", '1');
	}
	
	var annoDeleteCommentNo;
	var annoDeleteCommentGrpOrd;
	var annoDeleteCommentGrpNo;
	
	$( document ).ready(function() {
		$("#boardDiv").html($("#contentsArea").val());
		
		for(i = 1; i < $("#dataTable tr").length; i++) {
			if($("#dataTable tr:eq(" + i + ") td:eq(0) span").html() == [[ ${board.getBoardNo()} ]]) {
				$("#dataTable tr:eq(" + i + ")").attr("class", "boardactive");
				$("#dataTable tr:eq(" + i + ")").attr("onClick", "");
			}
		}
	})
	var currentReplyNo = 0;
	
	function replyComment(obj, grp, ord, depth) {
		var getButtonName = obj.html();
		
		if(depth == 7) {
			alert("댓글의 답글은 최대 5개만 달 수 있습니다.");
			return;
		}
		
		if(getButtonName == "답글쓰기") {
			obj.html("답글닫기");
				id = "replyId" + currentReplyNo;
				pass = "replyPass" + currentReplyNo;
				comment = "replyComment" + currentReplyNo;
				
				var htmlStr = "";
				
				if( $("#custNick").html() == undefined || $("#custNick").html() == "") {
					htmlStr += '<div class="row">';
					htmlStr += '	<div class="col-xl-4 col-md-6 col-sm-6 mb-3">';
					htmlStr += '		<div class="input-group">';
					htmlStr += '			<label style="padding-top:8px;padding-right:2px;">아이디</label>';
					htmlStr += '			<input type="text" class="form-control" placeholder="id" aria-describedby="basic-addon1" id="' + id +  '">';
					htmlStr += '		</div>';
					htmlStr += '	</div>';
					htmlStr += '	<div class="col-xl-4 col-md-6 col-sm-6 mb-3">';
					htmlStr += '		<div class="input-group">';
					htmlStr += '			<label style="padding-top:8px;padding-right:2px;">비밀번호</label>';
					htmlStr += '			<input type="password" class="form-control" placeholder="passowrd" aria-describedby="basic-addon1" id="' + pass +  '">';
					htmlStr += '		</div>';
					htmlStr += '	</div>';
					htmlStr += '	<div class="col-xl-12 col-md-12 col-sm-12">';
					htmlStr += '		<div class="input-group">';
					
					var buttonName = "replyButton" + currentReplyNo;
					var onKeyEvent = "if(event.keyCode==13) {$(\'#" + buttonName + "\').trigger(\'click\');}";
					
					htmlStr += '			<input type="text" class="form-control" placeholder="Comment" aria-describedby="basic-addon1" id="' + comment +  '" onKeypress="' + onKeyEvent + '">';					
					htmlStr += '			<button type="button" id="' + buttonName + '" class="btn btn-secondary" style="margin-left:5px"';
					htmlStr += '			onclick="javascript:registerReplyComment(' + currentReplyNo + ', '+grp+', '+ord+', '+depth+');">등록</button>';
					htmlStr += '		</div>';
					htmlStr += '	</div>';
					htmlStr += '</div>';
				} else {
					htmlStr += '<div class="row">';
					htmlStr += '	<div class="input-group">';
					htmlStr += '		<b><label style="padding-top:8px;padding-right:2px;">' + $("#custNick").html() + '</label></b>';
					htmlStr += '		<a class="navbar-brand" href="javascript:;" style="cursor:default;">';
					htmlStr += '			<img src="' + $("#socialImg").attr("src") + '" width="30" height="30" alt="">';
					htmlStr += '		</a>';
					
					var buttonName = "replyButton" + currentReplyNo;
					var onKeyEvent = "if(event.keyCode==13) {$(\'#" + buttonName + "\').trigger(\'click\');}";
					
					htmlStr += '			<input type="text" class="form-control" placeholder="Comment" aria-describedby="basic-addon1" id="' + comment +  '" onKeypress="' + onKeyEvent + '">';					
					htmlStr += '			<button type="button" id="' + buttonName + '" class="btn btn-secondary" style="margin-left:5px"';
					htmlStr += '			onclick="javascript:registerReplyComment(' + currentReplyNo + ', '+grp+', '+ord+', '+depth+');">등록</button>';
					htmlStr += '	</div>';
					htmlStr += '</div>';
				}
				
				
			obj.closest(".row").after(htmlStr);
		} else {
			obj.html("답글쓰기");
			obj.closest(".row").next().remove()
		}
		
		currentReplyNo++;
	}
	
	function registerReplyComment(replyNo, grp, ord, depth) {
		comment = $("#replyComment" + replyNo).val();
		ord = parseInt(ord)+1
		
		var dataStr = "boardNo=" + [[ ${board.getBoardNo()} ]];
		
		if( $("#custNick").html() == undefined || $("#custNick").html() == "") {
			id = $("#replyId" + replyNo).val();
			pass = $("#replyPass" + replyNo).val();
			
			var regexp = /^[0-9ㄱ-힣a-zA-Z]*$/
			v = id
	
			if (!regexp.test(v) || id.length < 2
					|| id.length > 8) {
				alert("아이디는 2~8자리, 영어, 숫자, 한글만 입력이 가능합니다.");
				$("#replyId" + replyNo).focus();
				return;
			}
			
			if($("#replyPass" + replyNo) == "") {
				alert("비밀번호를 입력해주세요.");
				$("#replyPass" + replyNo).focus();
				return ;
			}
			
			if(pass.length < 8 || pass.length > 20) {
				alert("비밀번호는 8~20글자로 입력해주세요.");
				$("#replyPass" + replyNo).focus();
				return ;
			}
			
			dataStr += "&commentAnnoId=" + id;
			dataStr += "&commentAnnoPw=" + pass;
		}
		
		if(comment.trim() == "") {
			alert("댓글을 입력해주세요.");
			$("#annoComment").focus();
			return ;
		}
		
		if(comment.trim().length > 120) {
			alert("댓글은 120글자 까지만 입력가능합니다.");
			return ;
		}
		 
		dataStr += "&commentGrpNo=" + grp;
		dataStr += "&commentGrpOrd=" + ord;
		dataStr += "&commentGrpDepth=" + depth;
		dataStr += "&commentContents=" + comment;
		
		$.ajax({
			url : "/board/replyComment",
			type : "POST",
			cache : false,
			dataType : "json",
			data : dataStr,
			success : function(data) {
				if(data == 1) {
					location.reload();
				} else {
					alert("알수 없는 에러가 발생하였습니다. 새로고침 후 다시 시도해주세요.");
				}
			},
			error : function(request, status, error) {
				alert("알수 없는 에러가 발생하였습니다. 새로고침 후 다시 시도해주세요.");
			}
		});
	}
	
	function deleteBoard(no, regNo) {
		 //일반
		if(regNo != 0){
			var con = confirm("정말로 삭제하시겠습니까?");
			
			if(con == true) {
				str = "";
				str += "?boardGrpOrd=" + [[ ${board.getBoardGrpOrd()} ]]
				str += "&boardGrpNo=" + [[ ${board.getBoardGrpNo()} ]]
				location.replace("/deleteBoard/" + no + str);
			}
		} else {
			if($("#annoInputPw").val() == "") {
				alert("비밀번호를 입력해주세요.");
				$("#annoInputPw").focus();
				return;
			}
			
			
			$.ajax({
				url : "/deleteAnnoBoard/" + no,
				type : "POST",
				cache : false,
				dataType : "json",
				data : "boardAnnoPw=" + $("#annoInputPw").val()
				+ "&boardGrpOrd=" + [[ ${board.getBoardGrpOrd()} ]]
				+ "&boardGrpNo=" + [[ ${board.getBoardGrpNo()} ]],
				success : function(data) {
					if(data == 0) {
						location.replace("/boardList");
					}  else if(data == -99) {
						alert("비밀번호가 틀렸습니다.");
					} else {
						alert("알수 없는 에러가 발생하였습니다. 새로고침 후 다시 시도해주세요.");
					}
				},

				error : function(request, status, error) {
					alert("알수 없는 에러가 발생하였습니다. 새로고침 후 다시 시도해주세요.");
				}
			});
		} 
	}
	
	function goUpdate(reg, boardNo) {
		// 익명
		annoId = $("#regNick").html()
		if(reg == -1) {
			if($("#annoInputPw").val() == "") {
				alert("비밀번호를 입력해주세요.");
				return;
			} else {
				$.ajax({
					url : "/updateBoard/check",
					type : "POST",
					cache : false,
					dataType : "json",
					data : "boardAnnoPw=" + $("#annoInputPw").val()
							+ "&boardNo=" + boardNo
							+ "&boardAnnoId=" + annoId,
					success : function(data) {
						if(data == 0) {
							location.href = "/updateBoard/" + boardNo
						}  else if(data == -98) {
							alert("비밀번호가 틀렸습니다.");
						}
					},
					error : function(request, status, error) {
						var msg = "ERROR : " + request.status + "<br>"
						msg += +"내용 : " + request.responseText + "<br>" + error;
						console.log(msg);
					}
				});
			}
			
		} else { // 유저
			
		}
	}
	
	function chooseAction() {
		gubun = $("#promptGubun").val();
		
		if(gubun == "BD") {
			deleteBoard([[ ${board.getBoardNo()} ]], [[ ${board.regCustNo} ]])
		} else if(gubun == "BE") {
			goUpdate([[ ${cust} ]], [[ ${board.getBoardNo()} ]])
		} else if(gubun == "CD") {
			deleteComment2(annoDeleteCommentNo, $("#annoInputPw").val(), annoDeleteCommentGrpOrd, annoDeleteCommentGrpNo)
		}
	}
	
	function clickModal(gubun) {
		if(gubun == "BD" && [[${board.regCustNo}]] != 0) {
			deleteBoard([[ ${board.getBoardNo()} ]], [[ ${cust} ]])
		} else {
			$('#promptGubun').val(gubun);
			$("#annoInputPw").val("");
			$('#promptModal').modal("show");	
		}		
	}
	
	function registerComment(boardNo) {
		if($("#annoId").val().trim() == "") { 
			alert("아이디를 입력해 주세요.")
			$("#annoId").focus();
			return ;
		}
		
		var regexp = /^[0-9ㄱ-힣a-zA-Z]*$/
		v = $("#annoId").val()

		if (!regexp.test(v) || $("#annoId").val().length < 2
				|| $("#annoId").val().length > 8) {
			alert("아이디는 2~8자리, 영어, 숫자, 한글만 입력이 가능합니다.");
			$("#annoId").focus();
			$('#promptModal').modal("hide"); 
			return;
		}
		
		if($("#annoPw").val() == "") {
			alert("비밀번호를 입력해주세요.");
			$("#annoPw").focus();
			$('#promptModal').modal("hide"); 
			return ;
		}
		
		if($("#annoPw").val().length < 8 || $("#annoPw").val().length > 20) {
			alert("비밀번호는 8~20글자로 입력해주세요.");
			$("#annoPw").focus();
			$('#promptModal').modal("hide"); 
			return ;
		}
		
		if($("#annoComment").val().trim() == "") {
			alert("댓글을 입력해주세요.");
			$("#annoComment").focus();
			$('#promptModal').modal("hide"); 
			return ;
		}
		
		if($("#annoComment").val().trim().length > 120) {
			alert("댓글은 120글자 까지만 입력가능합니다.");
			$('#promptModal').modal("hide"); 
			return ;
		}
		
		$.ajax({
			url : "/board/insertComment",
			type : "POST",
			cache : false,
			dataType : "json",
			data : "boardNo=" + boardNo
					+ "&commentContents=" + $("#annoComment").val()
					+ "&commentAnnoId=" + $("#annoId").val()
					+ "&commentAnnoPw=" + $("#annoPw").val(),
			success : function(data) {
				location.reload();
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function socialComment(boardNo) {
		if($("#inputComment").val().trim() == "") {
			alert("댓글을 입력해주세요.");
			return ;
		}
		
		if($("#inputComment").val().trim().length > 120) {
			alert("댓글은 120글자 까지만 입력가능합니다.");
			return ;
		}
		
		$.ajax({
			url : "/board/insertComment",
			type : "POST",
			cache : false,
			dataType : "json",
			data : "boardNo=" + boardNo
					+ "&commentContents=" + $("#inputComment").val(),
			success : function(data) {
				location.reload();
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function deleteComment2(no, pass, grpOrd, grpNo) {
		if(pass == "") {
			alert("비밀번호를 입력해주세요.");
			$("#annoInputPw").focus();
			return;
		}

		$.ajax({
			url : "/board/deleteComment",
			type : "POST",
			cache : false,
			dataType : "json",
			data : "commentNo=" + no
			+ "&commentAnnoPw=" + pass
			+ "&commentGrpOrd=" + grpOrd
			+ "&commentGrpNo=" + grpNo,				
			success : function(data) {
				if(data == 1) {
					alert("댓글이 삭제되었습니다.");
					location.reload();
				} else if(data == -99) {
					alert("비밀번호가 틀렸습니다.");
					$("#annoInputPw").val("");
					$("#annoInputPw").focus();
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function deleteComment(no, obj, gubun, grpOrd, grpNo) {
		if(gubun == "AN") {
			clickModal("CD");
			annoDeleteCommentNo = no;
			annoDeleteCommentGrpOrd = grpOrd;
			annoDeleteCommentGrpNo = grpNo;
		} else {
			var con = confirm("정말로 삭제하시겠습니까?");
			
			if(con == true) {
				$.ajax({
					url : "/board/deleteComment",
					type : "POST",
					cache : false,
					dataType : "json",
					data : "commentNo=" + no
					+ "&commentGrpOrd=" + grpOrd
					+ "&commentGrpNo=" + grpNo,
					success : function(data) {
						if(data == 1) {
							deleteResultComment(obj);
						}
					},
					error : function(request, status, error) {
						var msg = "ERROR : " + request.status + "<br>"
						msg += +"내용 : " + request.responseText + "<br>" + error;
						console.log(msg);
					}
				});
			}
		}	
	}
	
	function deleteResultComment(obj) {
		nowCnt = $("#commentCnt").html().replace(")", "").replace("(", "")
		nowCnt--;
		$("#commentCnt").html("("+nowCnt+")");
		obj.parent().parent().parent()
		.slideUp("normal", function() { 
			$(this).remove();
			if(nowCnt == 0) {
				$("#commentHr").after('<center class="empty" >댓글이 존재하지 않습니다.</center>');
			}	
		} );
		
	}
	
	function updateComment(obj, commentNo, gubun) {		
		obj.attr("style", "display: none");
		obj.parent().parent().children(".commentContents").addClass("w-100")
		var contents = obj.parent().parent().children(".commentContents").children().html()
		var input = '내용<input type="text" class="form-control" placeholder="Comment" value="' + contents + '">';
		
		
		var passInput = "";
		
		if(gubun == "AN") {
			passInput = '비밀번호<input type="password" class="form-control" placeholder="Passowrd">';
		}
		
		var button = "";
		
		var button = '<button type="button" class="btn btn-secondary" onclick="javascript:updateComment2(' + commentNo + ', $(this), \'' + gubun + '\')">수정하기</button>'
		var cancelButton = "<button type='button' class='btn btn-secondary' onclick=\"javascript:cancelComment('"  + contents + "', $(this))\">수정취소</button>";

		obj.parent().parent().children(".commentContents").children().html(input + passInput + button + cancelButton);
	}
	
	function cancelComment(contents, obj) {
		obj.parent().parent().removeClass("w-100")
 		obj.parent().parent().parent().children(".p-2").children("button").attr("style", "")
		
		htmlCon = '<p class="text-word-l">' + contents + '</p>';
		obj.parent().parent().html(htmlCon);
		
	}
	
	function updateComment2(commentNo, obj, gubun) {

		var contents = "";
		if(gubun == "AN") {
			contents = obj.prev().prev().val();
		}  else {
			contents = obj.prev().val();
		}
		
		var dataStr = "";
		
		if(contents.trim() == "") {
			alert("댓글을 입력해주세요.");
			obj.prev().prev().focus();
			return ;
		}
		
		if(contents.trim().length > 120) {
			alert("댓글은 120글자 까지만 입력가능합니다.");
			return ;
		}
		
		dataStr = "commentNo=" + commentNo
		+"&commentContents=" + contents;
		
		if(gubun == "AN") {
			var pass = obj.prev().val();
			
			if(pass.trim() == "") {
				alert("비밀번호를 입력해주세요.");
				obj.prev().focus();
				return ;
			} else {
				dataStr +="&commentAnnoPw=" + pass; 
			}
		}
		
		$.ajax({
			url : "/board/updateComment",
			type : "POST",
			cache : false,
			dataType : "json",
			data : dataStr,
			success : function(data) {
				if(data == 1) {
					obj.parent().parent().removeClass("w-100")
					obj.parent().parent().parent().children(".p-2").children("button").attr("style", "")
					htmlCon = '<p class="text-word-l">' + contents + '</p>';
					
					obj.parent().parent().html(htmlCon);
				} else if(data == -99) {
					alert("비밀번호가 틀렸습니다.")
				} else {
					alert("알수 없는 오류가 발생하였습니다.\n새로고침 후 다시 시도해주세요.")
				}
				
				
			},
			error : function(request, status, error) {
				alert("알수 없는 오류가 발생하였습니다.\n새로고침 후 다시 시도해주세요.")
			}
		});
	}
	
	function reply(boardNo) {
		grpNo = [[ ${board.boardGrpNo} ]] ;
		grpOrd = [[ ${board.boardGrpOrd} ]];
		grpDepth = [[ ${board.boardGrpDepth} ]];
		
		if(grpDepth == 5) {
			alert("게시글의 답글은 최대 5개만 달 수 있습니다.");
			return;
		}
		
		location.href="/registerBoard/" + boardNo + "?grpNo=" + grpNo 
				+ "&grpOrd=" + grpOrd + "&grpDepth=" + grpDepth
	}
	
	$("#annoInputPw").keyup(function(e){if(e.keyCode == 13)  $("#promptButton").trigger("click")});
	
	function goList() {
		if($("#listLink").val() == "") {
			location.href = "/boardList";
		} else {
			location.href = $("#listLink").val()
		}
	}
	
	function clickBoard(no) {
		location.href= "/showBoard/" + no;
	}
</script>
