<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Sports</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/css/Nunito.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top" onLoad="javascript:loadContent();">

  <!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>
	
	    <!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
		
		      <!-- Main Content -->
			<div id="content">
		
		        <!-- Topbar -->
		        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:include="/header/header">
		
		
		        </nav>
		        <!-- End of Topbar -->
		
		        <!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">글수정</h2>
					</div>
					<textarea id="getContents" th:text="${board.getBoardContents()}" style="display:none;"></textarea>
					 <div class="card shadow mb-4">
			            <div class="card-body">
							<div th:if="${board.getBoardAnnoId() != null}" class="input-group mb-3">
						  		<div class="input-group-prepend">
							 	  <span class="input-group-text" id="basic-addon1">글쓴이</span>
						  		</div>
								<input type="text" class="form-control" placeholder="Register" aria-label="Register" aria-describedby="basic-addon1" id="annoId" th:value="${board.getBoardAnnoId()}" disabled>
							</div>
							<div th:if="${board.getBoardAnnoId() != null}" class="input-group mb-3">
						  		<div class="input-group-prepend">
							 	  <span class="input-group-text" id="basic-addon1">비밀번호</span>
						  		</div>
								<input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" id="annoPw">
							</div>
							<div class="input-group mb-3">
						  		<div class="input-group-prepend">
							 	  <span class="input-group-text">제목</span>
						  		</div>
								<input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1" id="title" th:value="${board.getBoardTitle()}" >
							</div>
							<input th:if="${loginGubun == null}" type="hidden" id="annoGubun" value="Y">
							<input th:if="${loginGubun != null}" type="hidden" id="annoGubun" value="N">
							<input type="file" id="file">
							<div th:include="/board/editor/editor"></div>
			            
				            <div class="row">
								<div class="col-xl-6 col-md-6 mb-6">
									<div class="input-group mb-3">
										<button type="button" class="btn btn-secondary btn-block" onClick="location.href='/boardList'">취소</button>
									</div>
								</div>
								<div class="col-xl-6 col-md-6 mb-6">
									<div class="input-group mb-3">
										<button type="button" class="btn btn-secondary btn-block" th:onClick="|javascript:updateContent(${board.getBoardNo()});|">수정하기</button>
										<input type="hidden" id="updateGubun" value="Y">
									</div>
								</div>
							</div>
						</div>
		          	</div>
				</div>
		        <!-- /.container-fluid -->
		
		</div>
	      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:include="/footer/footer">
      
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
	</div>
  <!-- End of Page Wrapper -->

  
 <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>
</body>

</html>
