<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Sports</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/css/Nunito.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top" onLoad="javascript:loadContent();">

  <!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>
	
	    <!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
		
		      <!-- Main Content -->
			<div id="content">
		
		        <!-- Topbar -->
		        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:include="/header/header">
		
		
		        </nav>
		        <!-- End of Topbar -->
		
		        <!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">글수정</h2>
					</div>
					<textarea id="getContents" th:text="${board.getBoardContents()}" style="display:none;"></textarea>
					 <div class="card shadow mb-4">
			            <div class="card-body">
							<div th:if="${board.getBoardAnnoId() != null}" class="input-group mb-3">
						  		<div class="input-group-prepend">
							 	  <span class="input-group-text" id="basic-addon1">글쓴이</span>
						  		</div>
								<input type="text" class="form-control" placeholder="Register" aria-label="Register" aria-describedby="basic-addon1" id="annoId" th:value="${board.getBoardAnnoId()}" disabled>
							</div>
							<div th:if="${board.getBoardAnnoId() != null}" class="input-group mb-3">
						  		<div class="input-group-prepend">
							 	  <span class="input-group-text" id="basic-addon1">비밀번호</span>
						  		</div>
								<input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" id="annoPw">
							</div>
							<div class="input-group mb-3">
						  		<div class="input-group-prepend">
							 	  <span class="input-group-text">제목</span>
						  		</div>
								<input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1" id="title" th:value="${board.getBoardTitle()}" >
							</div>
							<div class="input-group mb-3" th:if="${board.getBoardFileName() != null}" id="uploadedFile">
						  		<div class="input-group-prepend">
							 	  <span class="input-group-text">기존에 업로드된 파일명</span>
						  		</div>
								<input th:value="${board.getBoardFileName()}" type="text" class="form-control"  disabled>
								<button type="button" class="btn btn-secondary" onClick="deleteFile();">파일삭제</button>
							</div>
							<div class="input-group mb-3" id="fileDiv" style="display: none;">
						  		<div class="input-group-prepend">
							 	  <span class="input-group-text">업로드된 파일명</span>
						  		</div>
								<input type="text" class="form-control" id="fileName"  disabled>
								<div class="input-group-prepend">
							 	  <span class="input-group-text">업로드된 파일크기</span>
						  		</div>
								<input type="text" class="form-control" id="fileSize" disabled>
							</div>
							<input th:if="${loginGubun == null}" type="hidden" id="annoGubun" value="Y">
							<input th:if="${loginGubun != null}" type="hidden" id="annoGubun" value="N">
							<input type="file" id="file" style="display: none;">
							<div th:include="/board/editor/editor"></div>
			            
				            <div class="row">
								<div class="col-xl-6 col-md-6 mb-6">
									<div class="input-group mb-3">
										<button type="button" class="btn btn-secondary btn-block" onClick="location.href='/boardList'">취소</button>
									</div>
								</div>
								<div class="col-xl-6 col-md-6 mb-6">
									<div class="input-group mb-3">
										<button type="button" class="btn btn-secondary btn-block" th:onClick="|javascript:updateContent(${board.getBoardNo()});|">수정하기</button>
										<input type="hidden" id="updateGubun" value="Y">
									</div>
								</div>
							</div>
						</div>
		          	</div>
				</div>
		        <!-- /.container-fluid -->
		
		</div>
	      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:include="/footer/footer">
      
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
	</div>
  <!-- End of Page Wrapper -->

  
 <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>
</body>

</html>
<script>		
	function clickFile() {
		$("#file").trigger("click");
		
		$('#file').bind("change", function() {
			fileInfo();
		});
	}
	
	function fileInfo() {
		if($("#file").get(0).files[0] == undefined) {
			$("#fileDiv").attr("style", "display: none;");
		} else {
			if($("#uploadedFile").length > 0) {
				$("#uploadedFile").remove();
			}
			
			$("#fileDiv").attr("style", "");
			$("#fileSize").val(($("#file").get(0).files[0].size/1024).toFixed(1) + "KB");
			$("#fileName").val($("#file").get(0).files[0].name);
			
			if($("#file").get(0).files[0].size <= 1024*1024*3) {
				var formData = new FormData();
				formData.append('file', $("#file").get(0).files[0]);
				
				$.ajax({
					url : '/board/uploadFile',
					type : 'POST',
					enctype : 'multipart/form-data',
					data: formData,
					dataType: "json",
					contentType : false,
					cache : false,
					processData : false
				}).done(function(data) {
					if(data != 0) {
						alert("파일에 문제가 있습니다.\n다시 업로드해주세요.");
					} else {
						
					}
				});
			} else {
				alert("3MB이하에 파일만 업로드할 수 있습니다.");
			}
		}
	}
	
	function deleteFile() {
		$.ajax({
			url : "/updateBoard/deleteFile",
			type : "POST",
			cache : false,
			dataType : "html",
			success : function(data) {
				$("#uploadedFile").remove();
			},
			error : function(request, status, error) {
				alert("알수 없는 에러가 발생하였습니다. 새로고침 후 다시 시도해주세요.");
			}
		});
	}
</script>