<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
<style>
#draggable {
	width: 320px;
	padding: 0.5em;
	z-index: 1;
	right: 5%;
	background: #d2d2d2db;
	cursor: all-scroll;
}
</style>
<link rel="stylesheet" href="/css/jquery-ui.min.css">
</head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">크레딧 샵</h2>
						&nbsp;<a class="btn btn-light btn-circle" id="helpButton" character="리지" href="javascript:;">
							<i class="fas fa-info-circle"></i>
						</a>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
							<div class="input-group mb-3">
								<select class="custom-select" id="category" onChange="javascript:getList(-1,'N');">
									<option selected value="0">전체보기</option>
									<th:block th:each="list : ${categoryList}">
										<option th:value="${list.getCategoryNo()}"
											th:text="${list.getCategoryName()}">카드</option>
									</th:block>
								</select>
								<a href="/product/insertProduct" th:if="${productButton == 'Y'}">
									<button type="button" class="btn btn-secondary">상품등록</button>
								</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="Search"
									aria-label="Search" aria-describedby="basic-addon1" id="search">
								<button type="button" class="btn btn-secondary">검색</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="draggable" class="ui-widget-content" style="position: fixed">
							<p><h4>장바구니</h4></p>
							<h6>*마우스로 움직일수 있습니다.</h6>
							<hr>
							<div style="overflow-y: auto; max-height: 263px;" id="basketDiv">
								<div class="alert alert-secondary" role="alert"
								style="display: flex;" th:if="${cust==null}">
									<b> 로그인을 해주세요.</b>
								</div>
								<div class="alert alert-secondary" role="alert"
								style="display: flex;" th:if="${cust!=null && cust.familyCustNo==null}">
									<b id="login2" >
										연동을 해주세요.
									</b>
								</div>
							</div>
							<div id="clear" th:if="${cust!=null && cust.familyCustNo!=null}">
								<div class="alert alert-secondary" role="alert" style="display: flex;">
									<b>비어있습니다.</b>
								</div>
							</div>
							<hr class="notClear">
							<div class="notClear">
								<button type="button" class="btn btn-secondary btn-block"
								onClick="location.href='/basket'">구입하기</button>
							</div>
						</div>
					</div>
					<br>

					<!-- 따라다니는 광고 레이어 시작-->
					<!-- 					<div class="fixed-bottom-right"> -->
					<!-- 						<img src="img/add/nomoney.png"> -->
					<!-- 					</div> -->
					<!-- 따라다니는 광고 레이어 마지막 -->

					<div class="container" id="creditMain"></div>
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer class="sticky-footer bg-white" th:include="/footer/footer">

				</footer>
				<!-- End of Footer -->

			</div>
			<div class="modal fade" id="promptModal" tabindex="-1" role="dialog"
				aria-labelledby="promptModal" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">장바구니</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">상품명 :
									<b id="productNameByModal"></b>
									<input type="hidden" id="productNoByModal">
								<br>
								<label for="recipient-name" class="col-form-label">수량<b>(<b id="productAmountByModal"></b>개 남음)</b></label>
								<input type="number" class="form-control" id="amount" >
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-secondary"
								onClick="javascript:basketAction()" id="promptButton">확인</button>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Content Wrapper -->
		</div>
		<!-- End of Page Wrapper -->

		<!-- Bootstrap core JavaScript-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="/js/sb-admin-2.min.js"></script>
		
	<!-- common -->
    <script src="/js/common.js"></script>
	<script src="/js/header.js"></script>
	<!--jquery ui -->
	<script src="/js/jquery-ui.min.js"></script>
</body>
</html>
<script>
var helpCommentList = [
	"안녕하세여어~ 저느은<br> 여러분을 도와드릴 리지라고 해여어~ <br>크레딧 샵 페이지는여어<br> 카테고리, 상품검색, 상품이 있어여어<br>"
+ "카테고리에선 전체보기로 상품전체를<br>보거나 특정한기호품만 볼수있게 설정할수있구여어",
"검색버튼은 회원님이 원하시는<br> 상품을 검색하셔서 찾을수있어여어~<br>","그리고 상품은 이미지와이름가격<br>"+ "상세보기,장바구니 이렇게있는데여어<br>"
+ "장바구니는 상품을 장바구니창으로 옮기는거에여<br>",
 "상세보기는 상품보기페이지로 이동되는데에 <br>상품의 자세한 정보들을 확인하실 수 있서여어<br>",
 "상품을사고싶으면 구매하실 수량을<br>적으시고 즉시구매를 누르시면되구여<br>"
+ "다른 상품을 찾으려면 크레딧샵을 클릭해 되돌아갈 수 있어여어"]

	$(function() {		
		$( "#draggable" ).draggable({ containment: "#content", scroll: false });
		getBasket();
	});

	function comma(num) {
		var len, point, str;

		num = num + "";
		point = num.length % 3;
		len = num.length;

		str = num.substring(0, point);
		while (point < len) {
			if (str != "")
				str += ",";
			str += num.substring(point, point + 3);
			point += 3;
		}

		return str;
	}
	
	var page = 0;
	
	$(function() { //페이지가 로드되면 데이터를 가져오고 page를 증가시킨다.
		getList(-1, 'N');
	});

	$(window).scroll(
		function() { //스크롤이 최하단 으로 내려가면 리스트를 조회하고 page를 증가시킨다.
			if ($(window).scrollTop() >= $(document).height()
				- $(window).height()) {
				getScrollList(page, 'N');
			page += 20;
		}
	});


	
	function getList() {
		$("#creditMain").html("");
		
		beforeSearch = $("#search").val();
		page=0;
		
		$.ajax({
			url : "/creditShop/list?pagingNo=" + page,
			type : "POST",
			cache : false,
			async: false,
			dataType : "json",
			data : {
				categoryNo :  $("#category").val()   
			,	productName : $("#search").val()
			},
			success : function(data) {
				str = "";

				var i = 0;
				var num = data.length;

				if (num > 20) {
					num = 20;
				}

				while (i < num) {
					str += "<div class='row'>";

					for (var j = 0; j < 4; j++) {
						if (data[i] != undefined) {
							var img = "";

							if (data[i].productImgUrl != undefined) {
								img = data[i].productImgUrl;
							}

							var productName = data[i].productName.trim();
							var productAmount = data[i].productAmount;
							var productNo = data[i].productNo;
							var prefer = data[i].useYn;
							var productCredit = comma(data[i].productCredit);

							str += "	<div class='card col-lg-3 col-md-6 col-sm-6  col-xs-12'>";
							str += "		<img class='card-img-top' alt=''...' style='height: 180px; width:100%;'";
							str += "			src='" + img + "'";
							str += "			onerror=this.src='/img/error/not-found.png'>";
							str += "		<div class='card-body'>";
							str += "			<hr>";
							str += "			<h5 class='card-title'>";
							str += "				<span>"
									+ productName
									+ "</span>";
							str += "			</h5>";
							str += "			<p class='card-text'>";
							str += "				<span>"
									+ productCredit
									+ "</span>크레딧<span style='float: right'>";
							str += "			</p>";
							str += "			<p class='card-text'>";
							str += "				<span style='float: right'> <input id='prefer" + productNo + "'";
							str += "					class='btn-secondary' type='button' value='찜'";
							
							if(prefer == "Y") {
								str += " style='background: orange;'"
							}
							
							str += "					onclick=javascript:preferProduct(" + productNo + ");>";
							str += "				</span>";
							str += "				<span style='float: right'> <input";
							str += "					class='btn-secondary' type='button' value='상세보기'";
							str += "					onclick=javascript:openProduct('" + productNo + "')>";
							str += "				</span>";
							str += "				<span style='float: right'> <input";
							str += "					class='btn-secondary' type='button' productName ='" + productName +
																"' productNo='" + productNo + "' productamount='" + productAmount+ "' value='장바구니'";
							str += "						onClick=javascript:openModal($(this))>"
							str += "			</p>";
							str += "		</div>";
							str += "	</div>";

							if (i >= num) {
								break;
							}

							i++;
						}
					}

					str += "</div>";
				}

				page+=20;
				$("#creditMain").append(str);
				$("#creditMain").slideDown(200);
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	};
	
	function getScrollList(page, searchGubun) {
		if(searchGubun == "Y") {
			if($("#search").val() == beforeSearch) {
				return;
			}
		}
		
		beforeSearch = $("#search").val();
		
		$.ajax({
			url : "/creditShop/list?pagingNo=" + page,
			type : "POST",
			cache : false,
			async : false,
			dataType : "json",
			data : {
				categoryNo :  $("#category").val()   
			,	productName : $("#search").val()
			},
			success : function(data) {
				str = "";

				var i = 0;
				var num = data.length;

				if (num > 20) {
					num = 20;
				}

				while (i < num) {
					str += "<div class='row'>";

					for (var j = 0; j < 4; j++) {
						if (data[i] != undefined) {
							var img = "";

							if (data[i].productImgUrl != undefined) {
								img = data[i].productImgUrl;
							}

							var productName = data[i].productName.trim();
							var productAmount = data[i].productAmount;
							var productNo = data[i].productNo;
							var prefer = data[i].useYn;
							var productCredit = comma(data[i].productCredit);

							str += "	<div class='card col-lg-3 col-md-6 col-sm-6  col-xs-12'>";
							str += "		<img class='card-img-top' alt=''...' style='height: 180px; width:100%;'";
							str += "			src='" + img + "'";
							str += "			onerror=this.src='/img/error/not-found.png'>";
							str += "		<div class='card-body'>";
							str += "			<hr>";
							str += "			<h5 class='card-title'>";
							str += "				<span>"
									+ productName
									+ "</span>";
							str += "			</h5>";
							str += "			<p class='card-text'>";
							str += "				<span>"
									+ productCredit
									+ "</span>크레딧<span style='float: right'>";
							str += "			</p>";
							str += "			<p class='card-text'>";
							str += "				<span style='float: right'> <input id='prefer" + productNo + "'";
							
							str += "					class='btn-secondary' type='button' value='찜'";
							
							if(prefer == "Y") {
								str += " style='background: orange;'"
							}
							
							str += "					onclick=javascript:preferProduct(" + productNo + ");>";
							str += "				</span>";
							str += "				<span style='float: right'> <input";
							str += "					class='btn-secondary' type='button' value='상세보기'";
							str += "					onclick=javascript:openProduct('" + productNo + "')>";
							str += "				</span>";
							str += "				<span style='float: right'> <input";
							str += "					class='btn-secondary' type='button' productName ='" + productName +
																"' productNo='" + productNo + "' productamount='" + productAmount+ "' value='장바구니'";
							str += "						onClick=javascript:openModal($(this))>"
							str += "			</p>";
							str += "		</div>";
							str += "	</div>";

							if (i >= num) {
								break;
							}

							i++;
						}
					}

					str += "</div>";
				}

				page+=20;
				$("#creditMain").append(str);
				$("#creditMain").slideDown(200);
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}

	function openProduct(productNo) {
		var win = window.open("/showProduct/" + productNo, "_blank");
	    win.focus();
	}
	
	function basketAction() {
		var productNo = $("#productNoByModal").val();
		if($("#amount").val() < 0) {
			alert("수량은 0개이상으로 입력해주세요.");
			return;
		}
		
		$.ajax({
			url : "/basket/insert",
			type : "POST",
			cache : false,
			dataType : "html",
			data : "basketAmount=" + $("#amount").val()
			+ "&productNo=" + productNo,
			success : function(data) {
				if (data.trim() == 0) {
					alert("장바구니에 담았습니다.\n누군가 전부 구입하기전에 먼저 구입해주세요!");
					getBasket();
					$("#promptModal").modal("hide");
				} else if (data.trim() == -99) {
					alert("로그인을 해야 장바구니에 담을 수 있습니다.");
				} else if (data.trim() == -98) {
					alert("패밀리 회원만 장바구니에 담을 수 있습니다.");
				} else if (data.trim() == -97) {
					alert("장바구니 수량을 상품 수량보다 적게 입력해주세요.");
				} else if (data.trim() == -95) {
					alert("이미 장바구니에 담은 상품입니다.");
				} else {
					alert("알수없는 에러가 발생하였습니다.\n새로고침 후 다시 시도해주세요.");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function openModal(obj) {
		var productNo = obj.attr("productno");
		var productName = obj.attr("productname");
		var productAmount = obj.attr("productamount");

		$("#amount").val("");
		
		$("#productNoByModal").val(productNo);
		$("#productNameByModal").html(productName);
		$("#productAmountByModal").html(productAmount);
		$('#promptModal').modal('show');
	}

	function preferProduct(productNo) {
		$.ajax({
			url : "/showProduct/prefer",
			type : "POST",
			cache : false,
			dataType : "html",
			data : "productNo=" + productNo,
			success : function(data) {				
				if (data.trim() == 0) {
					$("#prefer" + productNo).attr("Style","background:orange");
				} else if(data.trim() == 1) {
					$("#prefer" + productNo).attr("Style","");
				} else if(data.trim() == -97) { 
					alert("로그인을 해야만 찜을 할 수 있습니다.");
				} else if(data.trim() == -96) { 
					alert("패밀리 회원만 찜을 할 수 있습니다.");
				} else {
					alert("알수없는 에러가 발생하였습니다.\n새로고침 후 다시 시도해주세요.");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}

	function getBasket() {
		$.ajax({
			url : "/creditShop/getBasket",
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {
				if (data == -99) {
					return false;
				} else {
					$("#basketDiv").html("");
					
					for(i = 0; i < data.length; i++) {
						var str = "";
						str +="<div class='alert alert-secondary' style='display: flex;'>";
						str +=" <div>";
						str +=" 	<b>" + data[i].productName + "</b><br> <b>" + data[i].basketAmount + "개</b>";
						str +=" </div>";
						str +=" <div>";
						str +=" 	<i class='fas fa-trash-alt' basketNo='" + data[i].basketNo + "'";
						str +=" 		style='cursor: pointer; margin-top: 14px; margin-left: 67px;'";
						str +=" 		onclick='deleteBasketDiv($(this));'></i>";
						str +=" </div>";
						str +="</div>";
						
						$("#basketDiv").append(str);
					}
					
					if($("#basketDiv div").length != 0) {
						$("#clear").attr("style", "display: none");
						$(".notClear").attr("style", "");
					} else {
						$("#clear").attr("style", "");
						$(".notClear").attr("style", "display: none");
					}
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}

	function deleteBasketDiv(obj) {
		obj.parent().parent().fadeOut(300, function() {
			
			$.ajax({
				url : "/basket/delete",
				type : "POST",
				cache : false,
				dataType : "html",
				data : "basketNoStr=" + obj.attr("basketNo"), 
				success : function(data) {
					if(data == 1) {
						obj.parent().parent().remove();
						
						if($("#basketDiv div").length == 0) {
							$("#clear").fadeIn(300);
							$(".notClear").attr("style", "display: none");
						}
					}
				},
				error : function(request, status, error) {
					var msg = "ERROR : " + request.status + "<br>"
					msg += +"내용 : " + request.responseText + "<br>" + error;
					console.log(msg);
				}
			});
		});
	}
	
	$("#search").keyup(function(e){getList(-1, "Y"); });
</script>

