<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">크레딧 샵</h2>
						<a class="btn btn-light btn-circle" href="#"> <i
							class="fas fa-info-circle"></i>
						</a>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
							<div class="input-group mb-3">
								<select class="custom-select" id="category" onChange="javascript:getList(-1,'N');">
									<option selected value="0">전체보기</option>
									<th:block th:each="list : ${categoryList}">
										<option th:value="${list.getCategoryNo()}"
											th:text="${list.getCategoryName()}">카드</option>
									</th:block>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="Search"
									aria-label="Search" aria-describedby="basic-addon1" id="search">
								<button type="button" class="btn btn-secondary">검색</button>
							</div>
						</div>
					</div>
					<br>

					<!-- 따라다니는 광고 레이어 시작-->
					<!-- 					<div class="fixed-bottom-right"> -->
					<!-- 						<img src="img/add/nomoney.png"> -->
					<!-- 					</div> -->
					<!-- 따라다니는 광고 레이어 마지막 -->

					<div class="container" id="creditMain"></div>
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer class="sticky-footer bg-white" th:include="/footer/footer">

				</footer>
				<!-- End of Footer -->

			</div>
			<div class="modal fade" id="promptModal" tabindex="-1" role="dialog"
				aria-labelledby="promptModal" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">장바구니</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">상품명 :
									<b id="productNameByModal"></b>
									<input type="hidden" id="productNoByModal">
								<br>
								<label for="recipient-name" class="col-form-label">수량<b>(<b id="productAmountByModal"></b>개 남음)</b></label>
								<input type="number" class="form-control" id="amount">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-secondary"
								onClick="javascript:basketAction()" id="promptButton">확인</button>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Content Wrapper -->
		</div>
		<!-- End of Page Wrapper -->

		<!-- Bootstrap core JavaScript-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="/js/sb-admin-2.min.js"></script>
		
		<script src="/js/header/header.js"></script>
</body>
</html>
<script>	
	function comma(num) {
		var len, point, str;

		num = num + "";
		point = num.length % 3;
		len = num.length;

		str = num.substring(0, point);
		while (point < len) {
			if (str != "")
				str += ",";
			str += num.substring(point, point + 3);
			point += 3;
		}

		return str;
	}
	
	var page = 0;
	
	$(function() { //페이지가 로드되면 데이터를 가져오고 page를 증가시킨다.		
		getList(page, 'N');
		page+=20;
	});

	$(window).scroll(
		function() { //스크롤이 최하단 으로 내려가면 리스트를 조회하고 page를 증가시킨다.
			if ($(window).scrollTop() >= $(document).height()
				- $(window).height()) {
			getList(page, 'N');
			page += 20;
		}
	});

	var beforeSearch = "-";
	
	function getList(page, searchGubun) {
		if(searchGubun == "Y") {
			if($("#search").val() == beforeSearch) {
				return;
			}
		}
			
		if(page == -1) {
			$("#creditMain").html("");
			page = 0;
		}
		
		beforeSearch = $("#search").val();
		
		if(page == -1) {
			page = 0;
		}
		
		$.ajax({
			url : "/creditShop/list?pagingNo=" + page,
			type : "POST",
			cache : false,
			dataType : "json",
			data : {
				categoryNo :  $("#category").val()   
			,	productName : $("#search").val()
			},
			success : function(data) {
				str = "";

				var i = 0;
				var num = data.length;

				if (num > 20) {
					num = 20;
				}

				while (i < num) {
					str += "<div class='row'>";

					for (var j = 0; j < 4; j++) {
						if (data[i] != undefined) {
							var img = "";

							if (data[i].productImgUrl != undefined) {
								img = data[i].productImgUrl;
							}

							var productName = data[i].productName.trim();
							var productAmount = data[i].productAmount;
							var productNo = data[i].productNo;
							var productCredit = comma(data[i].productCredit);

							str += "	<div class='card col-lg-3 col-md-3 col-sm-6  col-xs-12'>";
							str += "		<img class='card-img-top' alt=''...' style='height: 180px; width:180px;;'";
							str += "			src='" + img + "'";
							str += "			onerror=this.src='/img/error/notFound.jpg'>";
							str += "		<div class='card-body'>";
							str += "			<hr>";
							str += "			<h5 class='card-title'>";
							str += "				<span>"
									+ productName
									+ "</span><span style='float: right'> <input";
							str += "					class='btn-secondary' type='button' value='상세보기'";
							str += "					onclick=javascript:openProduct('" + productNo + "')>";
							str += "				</span>";
							str += "			</h5>";
							str += "			<p class='card-text'>";
							str += "				<span>"
									+ productCredit
									+ "</span>크레딧<span style='float: right'><input";
							str += "					class='btn-secondary' type='button' productName ='" + productName +
																"' productNo='" + productNo + "' productamount='" + productAmount+ "' value='장바구니'";
							str += "						onClick=javascript:openModal($(this))>";
							str += "			</p>";
							str += "		</div>";
							str += "	</div>";

							if (i >= num) {
								break;
							}

							i++;
						}
					}

					str += "</div>";
				}

				page+=10;
				$("#creditMain").append(str);
				$("#creditMain").slideDown(200);
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	};

	function openProduct(productNo) {
		var win = window.open("/showProduct/" + productNo, "_blank");
	    win.focus();
	}
	
	function basketAction() {
		var productNo = $("#productNoByModal").val();
		if($("#amount").val() < 0) {
			alert("수량은 0개이상으로 입력해주세요.");
			return;
		}
		
		$.ajax({
			url : "/basket/insert",
			type : "POST",
			cache : false,
			dataType : "html",
			data : "basketAmount=" + $("#amount").val()
			+ "&productNo=" + productNo,
			success : function(data) {
				if (data.trim() == 0) {
					alert("장바구니에 담았습니다.\n누군가 전부 구입하기전에 먼저 구입해주세요!");
				} else if (data.trim() == -99) {
					alert("로그인을 해야 장바구니에 담을 수 있습니다.");
				} else if (data.trim() == -98) {
					alert("패밀리 회원만 장바구니에 담을 수 있습니다.");
				} else if (data.trim() == -97) {
					alert("장바구니 수량을 상품 수량보다 적게 입력해주세요.");
				} else if (data.trim() == -95) {
					alert("이미 장바구니에 담은 상품입니다.");
				} else {
					alert("알수없는 에러가 발생하였습니다.\n새로고침 후 다시 시도해주세요.");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function openModal(obj) {
		var productNo = obj.attr("productno");
		var productName = obj.attr("productname");
		var productAmount = obj.attr("productamount");

		$("#amount").val("");
		
		$("#productNoByModal").val(productNo);
		$("#productNameByModal").html(productName);
		$("#productAmountByModal").html(productAmount);
		$('#promptModal').modal('show');
	}
	
	$("#search").keyup(function(e){getList(-1, "Y"); });
</script>

