<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">크레딧 샵</h2>
						<a class="btn btn-light btn-circle" href="#"> <i
							class="fas fa-info-circle"></i>
						</a>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
							<div class="input-group mb-3">
								<select class="custom-select">
									<option selected>전체보기</option>
									<th:block th:each="list : ${categoryList}">
										<option th:value="${list.getCategoryNo()}"
											th:text="${list.getCategoryName()}">카드</option>
									</th:block>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="Search"
									aria-label="Search" aria-describedby="basic-addon1">
								<button type="button" class="btn btn-secondary">검색</button>
							</div>
						</div>
					</div>
					<br>

					<!-- 따라다니는 광고 레이어 시작-->
					<!-- 					<div class="fixed-bottom-right"> -->
					<!-- 						<img src="img/add/nomoney.png"> -->
					<!-- 					</div> -->
					<!-- 따라다니는 광고 레이어 마지막 -->

					<div class="container" id="creditMain"></div>
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer class="sticky-footer bg-white" th:include="/footer/footer">

				</footer>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->
		</div>
		<!-- End of Page Wrapper -->

		<!-- Bootstrap core JavaScript-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="/js/sb-admin-2.min.js"></script>
</body>
</html>
<script>	
	function comma(num) {
		var len, point, str;

		num = num + "";
		point = num.length % 3;
		len = num.length;

		str = num.substring(0, point);
		while (point < len) {
			if (str != "")
				str += ",";
			str += num.substring(point, point + 3);
			point += 3;
		}

		return str;
	}
	
	var page = 0;
	
	$(function() { //페이지가 로드되면 데이터를 가져오고 page를 증가시킨다.		
		getList(page);
		page+=20;
	});

	$(window).scroll(
		function() { //스크롤이 최하단 으로 내려가면 리스트를 조회하고 page를 증가시킨다.
			if ($(window).scrollTop() >= $(document).height()
				- $(window).height()) {
			getList(page);
			page += 20;
		}
	});

	function getList(page) {
		$.ajax({
			url : "/creditShop/list?pageParameter=" + page,
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {
				str = "";

				var i = 0;
				var num = data.length;

				if (num > 20) {
					num = 20;
				}

				while (i < num) {
					str += "<div class='row'>";

					for (var j = 0; j < 4; j++) {
						if (data[i] != undefined) {
							var img = "";

							if (data[i].productImgUrl != undefined) {
								img = data[i].productImgUrl;
							}

							var productName = data[i].productName;
							var productNo = data[i].productNo;
							var productCredit = comma(data[i].productCredit);

							str += "	<div class='card col-lg-3 col-md-3 col-sm-6  col-xs-12'>";
							str += "		<img class='card-img-top' alt=''...' style='height: 180px'";
							str += "			src='" + img + "'";
							str += "			onerror=this.src='/img/error/notFound.jpg'>";
							str += "		<div class='card-body'>";
							str += "			<hr>";
							str += "			<h5 class='card-title'>";
							str += "				<span>"
									+ productName
									+ "</span><span style='float: right'> <input";
							str += "					class='btn-secondary' type='button' value='상세보기'";
							str += "					onclick=javascript:location.href='/showProduct/" + productNo + "/'>";
							str += "				</span>";
							str += "			</h5>";
							str += "			<p class='card-text'>";
							str += "				<span>"
									+ productCredit
									+ "</span>크레딧<span style='float: right'><input";
							str += "					class='btn-secondary' type='button' value='장바구니'>";
							str += "			</p>";
							str += "		</div>";
							str += "	</div>";

							if (i >= num) {
								break;
							}

							i++;
						}
					}

					str += "</div>";
				}

				page+=10;
				$("#creditMain").append(str);
				$("#creditMain").slideDown(200);
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	};
</script>

