<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta name="viewport" -->
<!-- 	content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>



<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css"
>
<link href="/css/Nunito.css" rel="stylesheet">


<!-- Custom styles for this template-->

<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<style>
.input-group-text {
	width: 90px;
}

.kingImg {
	width: 150px;
	height: 150px;
	margin-right: 7px;
	margin-bottom: 7px;
	cursor: pointer;
}
.kingImg:hover {
	opacity: .5;
}
</style>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar"
		>
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">
				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"
				></nav>
				<!-- End of Topbar -->
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">판매자 상품등록</h2>
						&nbsp;<a class="btn btn-light btn-circle" id="helpButton" character="리지" href="javascript:;">
							<i class="fas fa-info-circle"></i>
						</a>	
					</div>
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<h3>상품 기본 정보</h3>
								</div>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">카테고리</span>
								</div>
								<select class="form-control" id="category">
									<option th:each="list : ${categoryList}"
										th:text="${list.getCategoryName()}" th:value="${list.getCategoryNo()}"
									></option>
								</select>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">상품명</span>
								</div>
								<input type="text" class="form-control" placeholder="Product Name"
									id="productName"
								>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">부가설명</span>
								</div>
								<textarea class="form-control" id="productDesc"></textarea>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">가격</span>
								</div>
								<input type="text" class="form-control" placeholder="Credit"
									id="productPrice" numberOnly
								>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">재고</span>
								</div>
								<input type="text" class="form-control" placeholder="Amount" numberOnly
									id="productAmount"
								>
							</div>
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<h3>이미지 등록</h3>
								</div>
							</div>
							<hr>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<h5>링크로 이미지추가</h5>
								</div>
							</div>
							<button type="button" class="btn btn-secondary"
								onClick="javascript:addLink();">
								<i class="fas fa-plus-square"></i>&nbsp;링크 추가하기
							</button>
							<div id="imgDiv"
								style="height: 150px; border: 1px solid; padding: 2px; overflow-y: auto;"
							></div>
							<hr>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<h5>파일로 이미지 추가</h5>
								</div>
								<div class="input-group mb-3">
									*이미지를 삭제하려면 이미지를 클릭해주세요.
								</div>
								<div class="input-group mb-3">
									<button type="button" class="btn btn-secondary" id="btn-upload">
										<i class="fas fa-plus-square"></i>&nbsp;이미지 추가하기
									</button>
									<div id="fileImgDiv" style="display: none;"></div>
								</div>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend"
									style="display: flex; overflow-x: auto;" id="imgPreviewDiv"
								></div>
							</div>
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="row justify-content-between">
								<div class="col-4">
									<button type="button" class="btn btn-secondary btn-block"
									onClick="javascript:location.href='/creditShop'">
										<i class="fas fa-times"></i>&nbsp;취소하기
									</button>
								</div>
								<div class="col-4">
									<button type="button" class="btn btn-secondary btn-block"
										onClick="register();">
										<i class="fab fa-product-hunt"></i>&nbsp;등록하기
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->

			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalCenterTitle">이미지 미리보기</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<img src="" style="max-width: 100%" id="imgPreviewByLink"
							onerror="this.src='/img/error/not-found.png'"/>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal fade" id="listImgModal" tabindex="-1" role="dialog"
				aria-labelledby="listImgModal" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" >대표 이미지 선택</h5>
						</div>
						<div class="modal-body" style="display: inline;" id="crownImgList">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Main Content -->

	<!-- Footer -->
	<footer class="sticky-footer bg-white" th:include="/footer/footer"> </footer>
	<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->



	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	<!-- common -->
	<script src="/js/common.js"></script>
	<script src="/js/header.js"></script>
</body>

</html>
<script>
var helpCommentList = [
	"판매자 상품등록페이지에여 <br>이곳은 판매자분들만<br>"
+ "상품판매등록이가능해여",	
"상품 기본정보에서 <br>"
+ "카테고리로 판매할상품의 <br>"
+ "종류를고를실수있고여<br>"
+ "상품명엔 판매할 상품의<br>"
+ "이름을 적으시면되여",
"부가설명란에는 상품의 <br>특징이나 설명문을적으시면되구여<br>"
+ "가격은 판매자분이 임의로정하시고<br>재고는 판매수량을 적으시면되여",
"이미지등록에는 <br>링크이미지추가와 <br>"
+ "이미지링크 추가가있어여",
"링크이미지는 url있는이미지주소를 <br>적어두시면 복사가완료되여<br>"
+ "예시:https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BBUHQ5K.img?h=315&w=600&m=6&q=60&o=t&l=f&f=jpg"]
		
	function register() {
		if ($("#productName").val().trim() == "") {
			alert("상품명을 입력해주세요.");
			$("#productName").focus();
			return false;
		}

		if ($("#productDesc").val().trim() == "") {
			alert("상품 설명을 입력해주세요.");
			$("#productDesc").focus();
			return false;
		}

		if ($("#productPrice").val() < 10
				|| $("#productPrice").val() > 100000000) {
			alert("상품 크레딧은 10크레딧~1억크레딧까지만 가능합니다.");
			$("#productPrice").focus();
			return false;
		}

		if ($("#productAmount").val() < 1 || $("#productAmount").val() > 100000) {
			alert("상품 재고는 1~10만까지만 등록가능합니다.");
			$("#productAmount").focus();
			return false;
		}

		var imageUrl = new Array;
		var imageServerGubun = new Array;

		for (i = 0; i < $(".image-url").length; i++) {
			if(checkUrlForm($(".image-url").eq(i).val()) == false) {
				alert("링크 이미지가 URL형식이 아닙니다.\nURL형식으로만 등록이 가능합니다.");
				$(".image-url").eq(i).focus();
				return false;
			} 
		}

		var desc = $("#productDesc").val().replace("\n", "<br>");
		
		var formData = new FormData();
 		var fileLength = $("input[type='file']").length;
 		
 		var imgCnt = 0;
 		var j =0; 		
 		
		for(n = 0; n < fileLength; n++) {			
			$.each($("input[type='file']")[n].files, function(i, file) {
				if($("[for=" + j + "]").length == 1) {
					if(file.size <= 1024*1024) {
				    	imgCnt ++;
				    	formData.append('file', file);
					} else {
						alert("1메가 이하의 파일만 등록이 가능합니다.\n"
								+ (imgCnt +1) + "번째 파일이 1메가 이상입니다.");
						return false;
					}
				}
				
				j++;
			});
		}
		
		for (i = 0; i < $(".image-url").length; i++) {
			imageUrl.push($(".image-url").eq(i).val());
			imageServerGubun.push("N");
		}
		
		if($("#imgDiv input").length == 0 && imgCnt == 0) {
			alert("최소한 1개이상의 사진을 등록해주세요.");
			return false;
		}

		$.ajax({
			url : "/product/uploadImages",
			type : "POST",
			cache : false,
			async : false,
			dataType : "json",
			enctype : "multipart/form-data",
			cache: false,
			processData: false,
			contentType: false,
			data :formData,
			success : function(data) {
				for(i = 0; i < data.length; i++) {
					imageUrl.push(data[i].imgUrl);
					imageServerGubun.push("Y");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
		
		$.ajax({
			url : "/product/insertProduct/insert",
			type : "POST",
			cache : false,
			async : false,
			dataType : "html",
			traditional : true,
			data : {
				categoryNo : $("#category").val(),
				productName : $("#productName").val(),
				productDesc : desc,
				productCredit : $("#productPrice").val(),
				productAmount : $("#productAmount").val(),
				productImgUrls : imageUrl,
				productImgServer : imageServerGubun
			},
			success : function(data) {
				if(data >= 1) {
					//alert("상품이 등록되었습니다.");
					var productNo = data;
					$.ajax({
						url : "/product/listImgs",
						type : "POST",
						cache : false,
						async : false,
						dataType : "json",
						data : "productNo=" + productNo,
						success : function(data) {
							var str = "";
							
							for(i = 0; i < data.length; i++) {								
								str += '<img ';
								str += " src='" + data[i].productImgUrl + "'";
								str += " onClick=javascript:selectImg('" + productNo + "','" + data[i].productImageNo + "')";
								str += ' class="kingImg">';
								
								$("#crownImgList").html(str);
							}
							
							$('#listImgModal').modal({backdrop: 'static', keyboard: false}) ;
						},
						error : function(request, status, error) {
							var msg = "ERROR : " + request.status + "<br>"
							msg += +"내용 : " + request.responseText + "<br>" + error;
							console.log(msg);
						}
					});
				} else {
					alert("문제가 생겼습니다. 새로고침 후 다시 시도해주세요.");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}

	function addLink() {
		var str = "";
		str += '<div class="input-group mb-3" style="display: none;">';
		str += '	<input type="text" class="form-control image-url" placeholder="Image URL">';
		str += '	<button type="button" onClick="javascript:previewImg($(this));" ' ;
		str += '	class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter" >';
		str += '		<i class="fas fa-images"></i>&nbsp;이미지 미리보기';
		str += '	</button>';
		str += '	&nbsp;';
		str += '	<button type="button" class="btn btn-secondary"  onclick="javascript:deleteLink($(this))">';
		str += '		<i class="fas fa-trash-alt"></i>&nbsp;링크 삭제';
		str += '	</button>';
		str += '</div>';

		$("#imgDiv").append(str);

		$("#imgDiv div").fadeIn(300);
	}

	function deleteLink(obj) {
		obj.parent().fadeOut(300, function() {
			obj.parent().remove();
		})
	}

	var GLOBAL_FILE = 0;

	var GLOBAL_FOR_IMG = 0;
	
	// 이미지추가 > 취소 >  이미지추가하면 버그잇슴
	$(function() {
		$('#btn-upload').click(
		function(e) {
			e.preventDefault();
			$("#fileImgDiv").append(
							'<input type="file" style=""' 
							+ 'class="imgFile' + GLOBAL_FILE + '" multiple/>');
			
			$(".imgFile" + GLOBAL_FILE).click();

			$(".imgFile" + GLOBAL_FILE).change(function(e) {
				var ext = $(".imgFile" + GLOBAL_FILE).val().split(
				".").pop().toLowerCase();
		
				if( $(this)[0].files.length < 1) {
					$(".imgFile" + GLOBAL_FILE).remove();
					return  false;
				}
				
				if (ext.length > 0) {
					if ($.inArray(ext, [ "gif", "png", "jpg", "jpeg" ]) == -1) {
						alert("gif,png,jpg 파일만 업로드 할수 있습니다.");
						$(".imgFile" + GLOBAL_FILE).remove();
						return  false;
					}
				}
				
				var i = 0;

				for (i = 0; i < this.files.length; i++) {

					var readImg = new FileReader();

					var file = this.files[i];

					
					if (file.type.match('image.*')) {
						readImg.onload = (function(file) {
							return function(e) {
								imgStr = "<div>";
								imgStr += "	<img src='" + e.target.result + "' ";
								imgStr += "	for='" + (GLOBAL_FOR_IMG++) + "'";
								imgStr += "	width='150px;' height='150px;' style='cursor: pointer;'>";
								
								imgStr +='	<div style="display: inline-grid;">';
// 								imgStr +='		<button class="btn btn-secondary" onClick="javascript:kingImg($(this));" name="king">';
// 								imgStr +='			<i class="fas fa-crown"></i>&nbsp;대표이미지';
// 								imgStr +='		</button>';
								imgStr +='		<button class="btn btn-secondary" onClick="javascript:removeImg($(this));">';
								imgStr +='			<i class="fas fa-times"></i>&nbsp;삭제';
								imgStr +='		</button>';
								imgStr +=' 	</div>';
								imgStr +='</div>';

								$('#imgPreviewDiv').append(imgStr);
							};
						})(file);
						readImg.readAsDataURL(file);
					}
				}

				GLOBAL_FILE++;
			});
		});
	});

	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function(e) {
				var files = e.target.files;

				imgStr = "";
				imgStr += "<img src='" + files[0] + "'";
				imgStr += "width='150px;' style='margin-right: 15px;'>";
				$("#imgPreviewDiv").append(imgStr);
			}

			reader.readAsDataURL(input.files[0]);
		}
	}
	
	function checkUrlForm(strUrl) {
	    var expUrl = /^http[s]?\:\/\//i;
	    return expUrl.test(strUrl);
	}
	
	function removeImg(obj) {
		obj.parent().parent().remove();
	}
	
	function previewImg(obj) {
		$("#imgPreviewByLink").attr("src", obj.prev().val());
	}
	
// 	function kingImg(obj) {
// 		$('#imgPreviewDiv').prepend(obj.parent().parent());
// 		$("[name='king']").attr("style","");
// 		obj.attr("style", "background: orange");
// 	}
	
	function selectImg(productNo, productImgNo) {
		$.ajax({
			url : "/product/chooseKingImg",
			type : "POST",
			async : false,
			dataType : "json",
			cache: false,
			data : {
				productNo : productNo, 
				productImageNo :productImgNo
			},
			success : function(data) {
				alert("상품이 등록되었습니다.");
				location.replace("/showProduct/" + productNo);
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
</script>
