<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Sports</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/css/Nunito.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>
	
	    <!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
		
		      <!-- Main Content -->
			<div id="content">
				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:include="/header/header">
				</nav>
				<!-- End of Topbar -->
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">상품보기</h2>
					</div>
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="input-group mb-3">
								<h3 th:text="${product.productName}">상품이름</h3>
							</div>
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
									<img src="http://gdimg.gmarket.co.kr/982212715/still/600?ver=1532747867" width=100%>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">가격</span>
										</div>
										<label class="text-word-l" th:text="${product.productCredit}+'크레딧'">0</label>
									</div>
									<div class="input-group mb-2">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">상품평</span>
											</div>
											<label class="text-word-l">★★★☆☆</label>
										</div>
									</div>
									<div class="input-group mb-2">
										<div class="input-group">
											<h3>상품 설명</h3>
										</div>
										<div class="col-lg-12 mb-12">
											<div class="card bg-secondary text-white shadow">
												<div class="card-body" th:text="${product.productDesc}"></div>
											</div>
										</div>
									</div>
									<br>
									<div class="input-group mb-2">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">남은 재고</span>
											</div>
											<input type="text" class="form-control" th:value="${product.productAmount}" disabled>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">개수</span>
											</div>
											<input type="text" class="form-control" placeholder="Amount" id="amount">
										</div>
									</div>
									<div class="input-group mb-2">
										<div class="input-group mb-3">
											<div class="col-6">
												<button type="button" class="btn btn-secondary btn-block btn-lg" th:onClick="|javascript:basket(${product.productNo});|">장바구니</button>
											</div>
											<div class="col-6">
												<button type="button" class="btn btn-secondary btn-block btn-lg" th:onClick="|javascript:directBuy(${product.productNo});|">즉시구매</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-xl-12 col-md-12 mb-3">
									<div class="input-group mb-3">
										<h4>상품 평<span style="color:orange">(2)</span></h4>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="input-group mb-3">
									<label style="padding-top:8px;padding-right:2px;">KakaoAd</label>
									<a class="navbar-brand" href="#">
									<img src="#" width="30" height="30" alt="">
									</a>
									<input type="text" class="form-control" placeholder="Comment" aria-describedby="basic-addon1">
									<button type="button" class="btn btn-secondary" style="margin-left:5px">등록</button>
								</div>
							</div>
							<div class="row">
								<div class="input-group d-flex">
									<div class="p-1">
										<label class="text-word-r">구매자1</label>
										<a class="navbar-brand" href="#">
										<img src="img/social/naver.jpg" width="30" height="30" alt="">
										</a>
									</div>
									<div class="p-1">
										<span>★★★★☆</span><br>
										<span>내용</span>
									</div>
									<p class="ml-auto p-2 ">
										<label class="text-word-l">2015. 12. 12 12:25:33</label>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="input-group d-flex">
									<div class="p-1">
										<label class="text-word-r">KakaoAd</label>
										<a class="navbar-brand" href="#">
										<img src="img/social/naver.jpg" width="30" height="30" alt="">
										</a>
									</div>
									<div class="p-1">
										<span>★★★★★</span><br>
										<span>좋네</span>
									</div>
									<p class="ml-auto p-2 ">
										<button type="button" class="btn btn-secondary">수정</button>
										<button type="button" class="btn btn-secondary">삭제</button>
										<label class="text-word-l">2010. 05. 02 12:23:23</label>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	        <!-- /.container-fluid -->
	
			</div>
		</div>
	      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:include="/footer/footer">
      
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
	</div>
  <!-- End of Page Wrapper -->

  

    <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>
</body>
</html>
<script>
	function basket(productNo) {
		if(isNaN($("#amount").val()) == true) {
			alert("숫자만 입력해주세요.");
			$("#amount").focus();
			return;
		}
		
		if($("#amount").val() < 1) {
			alert("수량은 1개이상 써주세요.");
			$("#amount").focus();
			return;
		}
		
		$.ajax({
			url : "/basket/insert",
			type : "POST",
			cache : false,
			dataType : "html",
			data : "productNo=" + productNo 
					+ "&basketAmount=" + $("#amount").val(),
			success : function(data) {
				if(data.trim() == 0) {
					alert("장바구니에 담았습니다.\n누군가 전부 구입하기전에 먼저 구입해주세요!");
				} else if(data.trim() == -99) {
					alert("로그인을 해야 장바구니에 담을 수 있습니다.");
				} else if(data.trim() == -98) {
					alert("패밀리 회원만 장바구니에 담을 수 있습니다.");
				} else if(data.trim() == -97) {
					alert("장바구니 수량을 상품 수량보다 적게 입력해주세요.");
				} else if(data.trim() == -95) {
					alert("이미 장바구니에 담은 상품입니다.");
				} else {
					alert("알수없는 에러가 발생하였습니다.\n새로고침 후 다시 시도해주세요.");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function directBuy() {
		if(isNaN($("#amount").val()) == true) {
			alert("숫자만 입력해주세요.");
			$("#amount").focus();
			return;
		}
		
		if($("#amount").val() < 1) {
			alert("수량은 1개이상 써주세요.");
			$("#amount").focus();
			return;
		}
		
		$.ajax({
			url : "/productSell/insert",
			type : "POST",
			cache : false,
			dataType : "html",
			data : "productBuyAmount=" + $("#amount").val(),
			success : function(data) {
				if(data.trim() == 1) {
					alert("상품을 구입했습니다.");
					location.reload();
				} else if(data.trim() == -99) {
					alert("로그인을 해야 구입을 할 수 있습니다.");
				} else if(data.trim() == -98) {
					alert("패밀리 회원만 구입을 할 수 있습니다.");
				} else if(data.trim() == -97) {
					alert("얘! 구입할 크레딧이 없단다.\n토토하러 가렴.");
				} else if(data.trim() == -96) {
					alert("얘! 그만큼의 재고가 없단다.");
				} else {
					alert("알수없는 에러가 발생하였습니다.\n새로고침 후 다시 시도해주세요.");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
</script>
