<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">






<title>One Sports</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link href="/css/Nunito.css" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">






</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">홀짝</h2>
						&nbsp;<a class="btn btn-light btn-circle" id="helpButton" character="토순이" href="javascript:;">
							<i class="fas fa-info-circle"></i>
						</a>
					</div>

					<!-- 사다리 페이지 -->
					<div class="row">
						<div class="col-xl-9 col-lg-9 .col-md-9 .col-sm-9 ">
							<div class="card shadow mb-4">
								<div class="card-header py-3"></div>
								<div class="card-body" style="min-height: 492px;">
									<canvas id="myCanvas"
										style="width: 100%; height: 100%; background: #068e06;"></canvas>
									<br>
									<h2 id="result" style="display: none;">
										결과 : <span id="resultText"></span>
									</h2>
								</div>
							</div>
						</div>

						<!-- 배팅리모콘 -->
						<div class="col-xl-3 col-lg-3 .col-md-3 .col-sm-3">
							<div class="card shadow mb-4" style="align: center">
								<div class="card-header py-3">

									<h6 class="m-0 font-weight-bold text-primary text-center"
										style="font-size: 25px">배팅 리모콘</h6>
									<hr>
									<h6 class="m-0 font-weight-bold text-primary text-center">보유
										크레딧</h6>
									<br> <input type="text" class="form-control"
										aria-describedby="basic-addon1" id="haveCredit"
										th:value="${#numbers.formatInteger(creditInfo.getCreditValue(), 0, 'COMMA')}"
										disabled>
									<hr>

									<h6 class="m-0 font-weight-bold text-primary text-center">배팅금액</h6>
									<br> <input type="text" class="form-control"
										placeholder="Betting" id="credit"
										aria-describedby="basic-addon1"
										numberOnly>
									<hr>

									<h6 class="m-0 font-weight-bold text-primary text-center">홀짝
										배팅</h6>
									<br>
									<h6 class="m-0 font-weight-bold text-primary text-center">
										<div class="row justify-content-md-center">									
											<div class="col-4">홀<br>x1.95</div>
											<div class="col-4">짝<br>x1.95</div>
											<div class="col-4">더블<br>x3.95</div>
										</div>
									</h6>
									<div class="text-center row justify-content-md-center">
										<div class="col-4">
											<input type="radio" name="option" style="width: 30px; height: 30px" value="H"/>
										</div>
										<div class="col-4">
											<input type="radio" name="option" value="J" style="width: 30px; height: 30px"/>
										</div>
										<div class="col-4">
											<input type="radio" name="option" value="D" style="width: 30px; height: 30px"/>	
										</div>
									</div>
								</div>
								<hr>
								<input class="btn-secondary" id="betButton" type="button"
									value="배팅하기" onclick="javascript:bet();"
									style="width: 90%; margin: 0 auto; height: 45px"></input><br>
							</div>
						</div>
					</div>


				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<!-- common -->
    <script src="/js/common.js"></script>
	<script src="/js/header.js"></script>
	
</body>

</html>
<script>
var helpCommentList = [
"이번 게임은 사다리보다 쉬울거야<br>주사위게임은 자신의 크레딧을걸고 홀인지 짝인지를 맞추는 게임이야<br>우측 배팅리모콘에 너의 현재보유하고있는 크레딧과<br>그 크레딧을 이용해 배팅을 할 수 있어~",
"자신의 배팅할금액을 적고 홀,짝,더블 세가지중 하나를 선택한후<br>"
+ "배팅을누르면 게임이 시작해<br>그러면 중앙에서 주사위가 굴러지게되지<br>"
+ "사다리보다는 쉬울지도 모르니까 <br> 잘해봐~" ]


	$("#credit").focus();
	var diceResult1 = "";
	var diceResult2 = "";
	var timeRef;
	
	function goCharge() {
		location.href = "/charge"
	}
	
	function bet() {
		if ($("#credit").val().trim() == "") {
			alert("크레딧을 입력해주세요.");
			$("#credit").focus();
			return false;
		}
		
		if($("#credit").val() < 1000 || $("#credit").val() > 100000) {
			alert("1,000 ~ 100,000크레딧만 배팅이 가능합니다.");
			$("#credit").focus();
			return;
		}
		
		var radioVal = $('input[name="option"]:checked').val();
		if (radioVal == undefined) {
			alert("배팅 옵션을 선택해주세요.");
			return false;
		}
		$.ajax({
			url : "/toto/dice/bet",
			type : "POST",
			cache : false,
			dataType : "json",
			data : "creditValue=" + $("#credit").val() + "&diceCustBetOption="
					+ radioVal,
			success : function(data) {
				if (data.error == -99) {
					alert("배팅할 크레딧이 부족합니다.");
					return;
				}
				$("#credit").attr("disabled", true);
				$('input[name="option"]').attr("disabled", true)
				var currentCredit = removeComma($("#haveCredit").val())
						- $("#credit").val();
				$("#haveCredit").val(numberWithCommas(currentCredit));
				$("#credit").val(numberWithCommas($("#credit").val()));
				for (i = 1; i <= 6; i++) {
					if (data.dice1 == i) {
						diceResult1 = "/img/toto/dice/dice" + i + ".png";
					}
				}
				for (i = 1; i <= 6; i++) {
					if (data.dice2 == i) {
						diceResult2 = "/img/toto/dice/dice" + i + ".png";
					}
				}
				
				$("#resultText").html(data.dice1 + ", " + data.dice2 + "<br>"
						+ numberWithCommas(data.getCredit) + "크레딧을 얻었습니다.");
				
				timeRef = setInterval(function() {
					draw(data.error, data.getCredit);
				}, 10);
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	var size = 20;
	var canvas = document.getElementById("myCanvas");
	var ballRadius = size;
	var ctx1 = canvas.getContext("2d");
	var ctx2 = canvas.getContext("2d");
	var x1 = canvas.width / 2;
	var y1 = canvas.height - size;
	var x2 = canvas.width / 2;
	var y2 = canvas.height - size;
	var dx1 = getRandomArbitrary(-10, 10);
	var dy1 = getRandomArbitrary(-10, 10);
	var dx2 = getRandomArbitrary(-10, 10);
	var dy2 = getRandomArbitrary(-10, 10);
	var imgClo1 = new Image();
	var imgClo2 = new Image();
	var n = 0;
	var turnTime = 30;
	function drawBall() {
		var random1 = Math.floor(6 * Math.random()) + 1;
		var random2 = Math.floor(6 * Math.random()) + 1;
		n++;
		if (n >= turnTime) {
			for (var i = 1; i <= 6; i++) {
				if (random1 == i) {
					imgClo1.src = "/img/toto/dice/dice" + i + ".png";
				}
				if (random2 == i) {
					imgClo2.src = "/img/toto/dice/dice" + i + ".png";
				}
			}
			n = 1;
			turnTime += 10;
		}
	}
	function draw(result, credit) {		
		if (turnTime >= 100) {
			clearInterval(timeRef);
			
			if (result == 0) {
				//alert("돈을 얻었습니다.");
				var haveCredit = removeComma($("#haveCredit").val());
				var result = haveCredit + credit;
				$("#haveCredit").val(numberWithCommas(result));
			} else if (result == 1) {
				//alert("돈을 잃었습니다.");
			}
			
			$("#result").attr("style", "");
			$("#betButton").val("다시하기");
			$("#betButton").attr("onclick", "location.reload()");
			imgClo1.src = diceResult1;
			imgClo2.src = diceResult2;
			asyncExp();
			
			// 이상하게 이걸 써야 마지막 이미지가나온다.
			setInterval(function(){
				ctx2.drawImage(imgClo2, x2, y2, ballRadius, ballRadius);
				ctx1.drawImage(imgClo1, x1, y1, ballRadius, ballRadius);
			}, 10);
			
			return false;
		} else {
			ctx1.clearRect(0, 0, canvas.width, canvas.height);
		}
		////
		if (x1 + dx1 > canvas.width - ballRadius
				|| x1 + dx1 < ballRadius - size) {
			dx1 = -dx1;
		}
		if (y1 + dy1 > canvas.height - ballRadius
				|| y1 + dy1 < ballRadius - size) {
			dy1 = -dy1;
		}
		x1 += dx1;
		y1 += dy1;
		////		    
		if (x2 + dx2 > canvas.width - ballRadius
				|| x2 + dx2 < ballRadius - size) {
			dx2 = -dx2;
		}
		if (y2 + dy2 > canvas.height - ballRadius
				|| y2 + dy2 < ballRadius - size) {
			dy2 = -dy2;
		}
		x2 += dx2;
		y2 += dy2;
		////
		console.log("AA")
		drawResultDices();
	}
	function getRandomArbitrary(min, max) {
		var randomVal = (Math.random() * (max - min) + min);
		return randomVal == 0 ? getRandomArbitrary(min, max) : randomVal;
	}
	function drawResultDices() {
		drawBall();
		ctx2.drawImage(imgClo2, x2, y2, ballRadius, ballRadius);
		ctx1.drawImage(imgClo1, x1, y1, ballRadius, ballRadius);
	}
</script>