<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link href="/css/Nunito.css" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<style>
	#getBetNum {
	    font-weight: bold;
	    font-size: 8em;
	    position: absolute;
	    top: 22%;
	    left: 40%;
    }
</style>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">그래프</h2>
						&nbsp;<a class="btn btn-light btn-circle" id="helpButton" character="토순이" href="javascript:;">
							<i class="fas fa-info-circle"></i>
						</a>
					</div>

					<!-- 사다리 페이지 -->
					<div class="row">
						<div class="col-xl-9 col-lg-9 .col-md-9 .col-sm-9 ">
							<div class="card shadow mb-4">
								<div class="card-header py-3"></div>
								<div class="card-body">
									<div id="chartContainer" style="height: 300px; width: 100%;"></div>
									<div id="getBetNum"></div>

									<input id="startStopButton" class="btn-secondary" type="button"
										value="시작하기" onclick="javascript:stopGraph();"
										style="width: 100%; height: 45px;"></input>
								</div>
							</div>
						</div>

						<!-- 배팅리모콘 -->
						<div class="col-xl-3 col-lg-3 .col-md-3 .col-sm-3">
							<div class="card shadow mb-4" style="align: center">
								<div class="card-header py-3">
									<input class="btn-secondary" type="button" value="게임방법"
									onclick="alert('게임설명')" style="width:100%"/>
									<h6 class="m-0 font-weight-bold text-primary text-center"
										style="font-size: 25px">배팅 리모콘</h6>
									<hr>
									<h6 class="m-0 font-weight-bold text-primary text-center">현재 크레딧</h6>
									<input type="text" class="form-control" disabled value="0" id="currentCredit"
										th:value="${#numbers.formatInteger(creditInfo.getCreditValue(), 0, 'COMMA')}"> <br>
									<h6 class="m-0 font-weight-bold text-primary text-center">배팅 크레딧</h6>
									<input type="text" class="form-control" placeholder="Bet" id="credit" numberOnly>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/chart.js/Chart.min.js"></script>

	<!-- graph -->
	<script src="/js/canvasjs.min.js"></script>
	
	<!-- common -->
    <script src="/js/common.js"></script>
	<script src="/js/header.js"></script>
	
</body>

</html>
<script>
var helpCommentList = [
	"이번 게임은 그래프게임이야<br>그래프게임은 빠지는 타이밍이 중요하지~<br>"
+ "우측 배팅리모콘에 너의 현재보유하고있는 크레딧과<br>그 크레딧을 이용해 배팅을 할 수 있다구~",
	"배팅 금액을 설정하고 시작하기를 누르게 되면<br>"
+ "그래프의 배율이 계속올라가<br>언제 멈출지는 아무도 모르고~",
"너가 이 쯤이다 싶을 때 멈추면 <br>그 시점의 배율만큼 너는 돈을 따게 되는거지<br>"
+ " 너가 멈추기전에 게임이 끝나버린다면..알고있지?"]



	$("#credit").focus();
	var updateInterval = 100; // 기본값100
	
	var yVal = 0.0;
	var dataLength = 100; // number of dataPoints visible at any point
	var timer;
	var data = 1.0;
	var GLOBAL_MAX_GRPAH_DATA = 0;
	
	function goCharge() {
		location.href = "/charge"
	}
	
	var dps = []; // dataPoints
	var chart = new CanvasJS.Chart("chartContainer", {
		title :{
			text: "그래프"
		},
		axisY: {
			includeZero: false
		,	minimum : 0
		},      
		data: [{
			type: "line",
			dataPoints: dps
		}]
	});
	
	var updateChart = function (count) {
// 		$.ajax({
// 			url : "/toto/graph/process",
// 			type : "POST",
// 			cache : false,
// 			async : false,
// 			dataType : "html",
// 			success : function(data) {
// 				if(data == 0) {
// 					alert("패배하였습니다.");
					
// 					$("#credit").attr("disabled", false);
// 					$("#credit").val("");
// 					$("#startStopButton").val("시작하기");
// 					clearInterval(timer);
// 					clearGraph();
// 					return false;
// 				} else if(data < 0) {
// 					alert("문제가 발생하였습니다.\n에러코드 : " + data);
// 					location.reload();
// 					return false;
// 				} else {
				
				if(GLOBAL_MAX_GRPAH_DATA <= data.toFixed(2)) {
					alert("패배하였습니다.");
					
					$("#credit").attr("disabled", false);
					$("#credit").val("");
					$("#startStopButton").val("시작하기");
					clearInterval(timer);
					clearGraph();
					$("#credit").focus();
					return false;
				}
					data = parseFloat(data);
					$("#getBetNum").html(data.toFixed(2));
					
					dps.push({
						y: data
					});
	
					dataLength++;	// 있어야함
					chart.render();
					
					data += 0.01;
					
					return true;
// 				}
// 			},
// 			error : function(request, status, error) {
// 				var msg = "ERROR : " + request.status + "<br>"
// 				msg += +"내용 : " + request.responseText + "<br>" + error;
// 				console.log(msg);
// 				location.reload();
// 				return false;
// 			}
// 		});
	};
	
	var initialChart = function (count) {
		
		count = count || 1;

		for (var j = 0; j < count; j++) {
			yVal = yVal +  0.01;
			dps.push({
				//x: xVal,
				y: yVal
			});
			//xVal+=0.01;
		}
		
		dataLength++;
		
		if (dps.length > dataLength) {
			dps.shift();
		}

		$("#getBetNum").html(yVal.toFixed(2))
		
		chart.render();
	};
	
	initialChart(dataLength);
	
	function stopGraph() {
		if($("#startStopButton").val() == "시작하기") {
			if($("#credit").val() < 1000 || $("#credit").val() > 100000) {
				alert("1,000 ~ 100,000크레딧만 배팅이 가능합니다.");
				$("#credit").focus();
				return;
			}
			
			data = 1.0;
			
			$.ajax({
				url : "/toto/graph/start",
				type : "POST",
				cache : false,
				async: false,
				data : "creditValue=" + $("#credit").val(),
				dataType : "html",
				success : function(data) {
					if(data == -99) {
						alert("배팅할 크레딧이 부족합니다.");
						return;
					} else if(data > 0) {
						GLOBAL_MAX_GRPAH_DATA = data;
						asyncExp();
						var currentCredit = removeComma($("#currentCredit").val());
						var resultCredit = parseInt(currentCredit) - parseInt($("#credit").val());
						$("#currentCredit").val(numberWithCommas(resultCredit));
						
						$("#startStopButton").val("멈추기");
						$("#credit").attr("disabled", true);
						$("#credit").val(numberWithCommas($("#credit").val()));
						
						startInterval();
					} else {
						alert("에러가 발생하였습니다.\n 새로고침후 다시 시도해주세요.");
					}
				},
				error : function(request, status, error) {
					var msg = "ERROR : " + request.status + "<br>"
					msg += +"내용 : " + request.responseText + "<br>" + error;
					console.log(msg);
				}
			});
		} else {
			$("#startStopButton").val("시작하기");
			clearInterval(timer);
			
			$.ajax({
				url : "/toto/graph/stop",
				type : "POST",
				cache : false,
				async: false,
				data : "value=" + $("#getBetNum").html().trim(),
				dataType : "html",
				success : function(data) {
					if(data >= 1000) {
						alert(numberWithCommas(data) + "크레딧을 땃습니다!");
						var resultCredit = parseInt(removeComma($("#currentCredit").val())) + parseInt(data)
						$("#currentCredit").val(numberWithCommas(resultCredit));
						$("#credit").attr("disabled", false);
						$("#credit").val("");
						clearGraph();
						$("#credit").focus();
						asyncExp();
					}
				},
				error : function(request, status, error) {
					var msg = "ERROR : " + request.status + "<br>"
					msg += +"내용 : " + request.responseText + "<br>" + error;
					console.log(msg);
				}
			});
		}
	}
	
	var startInterval =function(){
	    timer = setInterval(function(){
	    	updateChart();
	    	
	        if(dataLength % 2 == 0){ 
	        	updateInterval--;
	            clearInterval(timer);
	            startInterval();
	        }
	    }, updateInterval);
	}

	function clearGraph() {
		dps = []
		chart = new CanvasJS.Chart("chartContainer", {
			title : {
				text : "그래프"
			},
			axisY : {
				includeZero : false,
				minimum : 0
			},
			data : [ {
				type : "line",
				dataPoints : dps
			} ]
		});

		yVal = 0.0;
		dataLength = 100; // number of dataPoints visible at any point
		updateInterval = 100;
		initialChart(dataLength);
	}
</script>