<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"
>
<meta name="description" content="">
<meta name="author" content="">


<title>One Sports</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css"
>
<link href="/css/Nunito.css" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">




</head>

<body id="page-top">
	<div
		style="background: #000000c4; width: 100%; height: 71px; position: fixed; z-index: 10000; color: white; font-weight: 800; cursor: pointer;"
		onclick="javascript:$(this).slideUp()">
		<center>기능은 동작하나 디자인 작업중인 페이지입니다.</center>
	</div>
	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"
				></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div> -->

					<!-- 사다리 페이지 -->
					<div class="row">
						<div class="col-xl-9 col-lg-9 .col-md-9 .col-sm-9" >
							<div class="card shadow mb-4" style="height:450px">
								<div class="card-header py-3" style="height:100px"></div>
								<!-- 카드 안 토토 -->
								<center>
									<img src="/img/toto/slotmachine/slot-m7.png" name="first">
									<img src="/img/toto/slotmachine/slot-m7.png" name="second">
									<img src="/img/toto/slotmachine/slot-m7.png" name="third"><br>
									<input type="button" value="stop" class="rulletButton btn-secondary" onclick="end(0, $(this))" style="width:10%; border-radius:30px; height:40px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									<input type="button" value="stop" class="rulletButton btn-secondary" onclick="end(1, $(this))" style="width:10%; border-radius:30px; height:40px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									<input type="button" value="stop" class="rulletButton btn-secondary" onclick="end(2, $(this))" style="width:10%; border-radius:30px; height:40px"><br>
									<br>
									<input type="text" size="55" id="pay_back">
								</center>
							</div>
						</div>


						<!-- 배팅리모콘 -->
						<div class="col-xl-3 col-lg-3 .col-md-3 .col-sm-3">
							<div class="card shadow mb-4" style="align: center">
								<div class="card-header py-3">

									<h6 class="m-0 font-weight-bold text-primary text-center"
										style="font-size: 25px">배팅 리모콘</h6>
									<hr>
									<h6 class="m-0 font-weight-bold text-primary text-center">보유 크레딧</h6>
									<br> <input type="text" class="form-control"
										aria-describedby="basic-addon1" id="haveCredit"
										th:value="${#numbers.formatInteger(creditInfo.getCreditValue(), 0, 'COMMA')}"
										disabled>
									<hr>

									<h6 class="m-0 font-weight-bold text-primary text-center">배팅금액</h6>
									<br> <input type="text" class="form-control" placeholder="Betting"
										id="credit" aria-describedby="basic-addon1">
									<hr>
									<input class="btn-secondary" id="betButton" type="button" value="배팅하기"
										onclick="start();"
										style="width: 100%; margin: 0 auto; height: 45px"></input><br>
								</div>
							</div>
						</div>


					</div>
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer class="sticky-footer bg-white" th:include="/footer/footer">

				</footer>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

		<!-- Bootstrap core JavaScript-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="/js/sb-admin-2.min.js"></script>

		<!-- common -->
		<script src="/js/common.js"></script>
		<script src="/js/header.js"></script>
</body>

</html>
<script>
	$("#credit").focus();
	var GLOBAL_REUSLT_ARR = [-1,-1,-1];
	var GLOBAL_STOP_CHECK_ARR = [0,0,0];
	var	rullet = 0;
	
	function start() {
		GLOBAL_REUSLT_ARR = [-1,-1,-1];
		GLOBAL_STOPCHECK_ARR = [0,0,0];
		rullet = 0;
		
		if($("#credit").val() < 1000 || $("#credit").val() > 100000) {
			alert("1,000 ~ 100,000크레딧만 배팅이 가능합니다.");
			return;
		}
		
		$.ajax({
			url : "/toto/rullet/start",
			type : "POST",
			cache : false,
			async: false,
			data : "creditValue=" + $("#credit").val(),
			dataType : "html",
			success : function(data) {
				if(data == -99) {
					alert("배팅할 크레딧이 부족합니다.");
					return;
				} else if(data == 1) {
					$(".rulletButton").attr("disabled", false);
					$("#betButton").attr("disabled", true);
					$("#credit").attr("disabled", true);
					
					var haveCredit = removeComma($("#haveCredit").val());
					
					$("#haveCredit").val(numberWithCommas(haveCredit-$("#credit").val()));
					$("#credit").val(numberWithCommas($("#credit").val()));
					
					playAlert = setInterval(function() {
						if(GLOBAL_STOP_CHECK_ARR[0] != -1) {
							$("[name=first]").attr("src", "/img/toto/slotmachine/slot-m" + rullet + ".png");
						}
						
						if(GLOBAL_STOP_CHECK_ARR[1] != -1) {
							$("[name=second]").attr("src", "/img/toto/slotmachine/slot-m" + rullet + ".png");
						}
						
						if(GLOBAL_STOP_CHECK_ARR[2] != -1) {
							$("[name=third]").attr("src", "/img/toto/slotmachine/slot-m" + rullet + ".png");
						}
						
						rullet++;
						
						if(rullet >= 10) {
							rullet = 0;
						}
					}, 10);
				} else {
					alert("에러가 발생하였습니다.\n 새로고침후 다시 시도해주세요.");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function end(idx, obj) {
		GLOBAL_REUSLT_ARR[idx] = rullet-1;	// 
		GLOBAL_STOP_CHECK_ARR[idx] = -1;		// 이미지 멈춤 체크
		obj.attr("disabled", true);
		
		if(GLOBAL_STOP_CHECK_ARR[0] == -1 &&
				GLOBAL_STOP_CHECK_ARR[1] == -1 &&
				GLOBAL_STOP_CHECK_ARR[2] == -1) {
			gameResult();
		}
	}
	
	function gameResult() {
		var arr = GLOBAL_REUSLT_ARR;
		
		$.ajax({
			url : "/toto/rullet/end",
			type : "POST",
			cache : false,
			async: false,
			traditional : true,
			data : {"sResult" : arr},
			dataType : "html",
			success : function(data) {
				if(data >= 0) {
					if(data == 0) {
						$("#pay_back").val("실패");
					} else {
						$("#pay_back").val(numberWithCommas(data) + "크레딧을 얻었습니다.");
						
						var haveCredit = removeComma($("#haveCredit").val());
						$("#haveCredit").val(numberWithCommas(parseInt(haveCredit)+parseInt(data)));
					}
					
					$("#betButton").val("다시하기");
					$("#betButton").removeAttr("disabled");
					$("#betButton").attr("onclick","location.reload();");
				} else {
					alert("에러가 발생하였습니다.\n 새로고침후 다시 시도해주세요.");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
</script>