
<meta charset="utf-8">
<!-- Sidebar -->


<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center"
	href="/"
>
	<div class="sidebar-brand-icon rotate-n-1">
		<img src="/img/logo/white_new.png">
	</div>
	<div class="sidebar-brand-text mx-3">One Sports</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">Toto & Shop</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item"><a class="nav-link collapsed" href="#"
	data-toggle="collapse" data-target="#collapseToto" aria-expanded="true"
	aria-controls="collapseToto"><i class="fas fa-crown"></i><span> 토토</span>
</a>
	<div id="collapseToto" class="collapse" aria-labelledby="headingTwo"
		data-parent="#accordionSidebar">
		<div class="bg-white py-2 collapse-inner rounded">
			<h6 class="collapse-header">Games</h6>
			<a class="collapse-item" href="/toto/ladder"> <i class="fas fa-swimming-pool"></i> 사다리
			</a> <a class="collapse-item" href="/toto/dice"> <i class="fas fa-dice"></i> 홀짝
			</a> <a class="collapse-item" href="/toto/graph"> <i class="fas fa-chart-line"></i> 그래프
			</a> <a class="collapse-item" href="/toto/rullet"> <i class="fas fa-sort-numeric-up-alt"></i> 슬롯머신
			</a>
			<h6 class="collapse-header">Betting</h6>
			<a class="collapse-item" href="javascript:alert('준비중입니다.')"> <i class="fas fa-gamepad"></i>
				<span style="text-decoration:line-through">게임배팅</span>
			</a> <a class="collapse-item" href="/toto/sports/soccer"> <i class="fas fa-futbol"></i>
				스포츠배팅
			</a>
		</div>
	</div>
	<a class="nav-link collapsed" href="#" data-toggle="collapse"
		data-target="#collapseHall" aria-expanded="true" aria-controls="collapseHall"> <i class="fas fa-trophy"></i> <span>명예의 전당</span>
	</a>
	<div id="collapseHall" class="collapse" aria-labelledby="headingTwo"
		data-parent="#accordionSidebar">
		<div class="bg-white py-2 collapse-inner rounded">
			<a class="collapse-item" href="/ranking/exp"><i class="fas fa-running"></i>
				<span>경험치 랭킹</span></a>
				<a class="collapse-item" href="/ranking/game"><i class="fas fa-gamepad"></i>
				<span>게임 랭킹</span></a>
		</div>
	</div></li>


<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item"><a class="nav-link collapsed" href="#"
	data-toggle="collapse" data-target="#collapseShop" aria-expanded="true"
	aria-controls="collapseShop"
> <i class="fas fa-store-alt"> <span
			class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
	</i> <span>상점</span>
</a>
	<div id="collapseShop" class="collapse" aria-labelledby="headingTwo"
		data-parent="#accordionSidebar">
		<div class="bg-white py-2 collapse-inner rounded">
			<a class="collapse-item" href="/itemShop"><i class="fas fa-gift"></i>
				아이템샵</a> <a class="collapse-item" href="/creditShop"><i class="fas fa-store"></i>
				크레딧샵</a>
		</div>
	</div></li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">Board</div>

<!-- Nav Item - Charts -->
<!--       <li class="nav-item"> -->
<!--         <a class="nav-link" href="charts.html"> -->
<!--           <i class="fas fa-calendar-week"></i> -->
<!--           <span>이벤트</span></a> -->
<!--       </li> -->

<!-- Nav Item - Tables -->
<li class="nav-item"><a class="nav-link collapsed" href="#"
	data-toggle="collapse" data-target="#collapseBoard" aria-expanded="true"
	aria-controls="collapseBoard"
> <i class="fas fa-book-reader"></i> <span>게시판</span>
</a>
	<div id="collapseBoard" class="collapse" aria-labelledby="headingTwo"
		data-parent="#accordionSidebar">
		<div class="bg-white py-2 collapse-inner rounded">
			<a class="collapse-item" href="/boardList"><i class="fas fa-book-open"></i>
				자유게시판</a> <a class="collapse-item" href="/qna"><i
				class="fas fa-question-circle"
			></i> Q&A</a>
		</div>
	</div></li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">Etc</div>

<!-- Nav Item - Tables -->
<li class="nav-item"><a class="nav-link collapsed" href="#"
	data-toggle="collapse" data-target="#collapseAboutUs" aria-expanded="true"
	aria-controls="collapseAboutUs"> <i class="fas fa-user-friends"></i> <span>About Us</span>
</a>
	<div id="collapseAboutUs" class="collapse" aria-labelledby="headingTwo"
		data-parent="#accordionSidebar">
		<div class="bg-white py-2 collapse-inner rounded">
			<a class="collapse-item" href="/project">
			<i class="fas fa-project-diagram"></i> 프로젝트 소개</a> <a class="collapse-item" href="/history">
			<i class="fas fa-shoe-prints"></i> 연혁</a> <a class="collapse-item" href="/introduceTeam">
			<i class="fas fa-users"></i> 팀원소개</a>
		</div>
	</div></li>
<li class="nav-item">
	<a class="nav-link" href="javascript:alert('준비중입니다.')">	
	<i class="fas fa-fw fa-graduation-cap"></i> <span style="text-decoration:line-through">Tutorial</span></a></li>
<div class="sidebar-heading">PRIVATE</div>
<!-- VIP Room -->
<li class="nav-item"><a class="nav-link collapsed" href="#"
	data-toggle="collapse" data-target="#collapseVip" aria-expanded="true"
	aria-controls="collapseVip">
		<i class="fab fa-vuejs"></i>
		<span class="glyphicon glyphicon-align-left"aria-hidden="true"></span>
		<span>VIP</span>
</a>
	<div id="collapseVip" class="collapse" aria-labelledby="headingTwo"
		data-parent="#accordionSidebar">
		<div class="bg-white py-2 collapse-inner rounded">
			<a class="collapse-item" href="/vip">
				<i class="fas fa-door-open"></i>
				<span style="text-decoration:line-through">입장하기</span>
			</a>
		</div>
	</div></li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
	<button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

<!-- End of Sidebar -->