<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
<style>
.boardrow:hover {
	background: black;
	color: white;
	cursor: pointer;
}
</style>
</head>

<body id="page-top">
<div style="background: #000000c4;
    width: 100%;
    height: 71px;
    position: fixed;
    z-index: 10000;
    color: white;
    font-weight: 800;
    cursor:pointer;"
    onClick="javascript:$(this).slideUp()"
    >
    <center>
		기능이 일부만 되거나 안되는 페이지입니다.
		</center>
	</div>
	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div> -->



					<!-- 입장/개설 -->
					<div class="row">
						<div class="col-xl-7 col-lg-7 .col-md-7 .col-sm-7 ">
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">입장하기 / 개설하기</h6><hr>
								</div>						
								<img src="/img/Teduri.png"style="width:100%; padding:0.5rem"
								href="/vipEnt">
							</div>
						</div>
											<!-- 입장/개설 -->
					<div class="col-xl-3 col-lg-3 .col-md-3 .col-sm-3">
					<img src="/img/character/boar.png" style="margin-left:20rem;margin-top:6.3rem;">
					</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	<!-- common -->
    <script src="/js/common.js"></script>
	<script src="/js/header.js"></script>
	

</body>

</html>
<script>
	function goCharge() {
		location.href = "/charge"
	}
	
	function clickBoard(no) {
		location.href= "/showBoard/" + no;
	}
</script>