<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
<style>
.boardrow:hover {
	background: black;
	color: white;
	cursor: pointer;
}
</style>
</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div> -->



					<!-- 입장/개설 -->
					<div class="row">
						<div class="col-xl-8 col-lg-8 .col-md-8 .col-sm-8 ">
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">- VIP GAME LIST -</h6>
								</div>						
								
								<!-- 방 리스트 -->
								<table class="table table-hover" style="text-align:center;">
									<thead>
										<tr>
											<th style="width:20%;">번호</th>
											<th style="width:50%;">제목</th>
											<th style="width:30%;">모드</th>
										</tr>
									</thead>
									<tbody style="cursor:pointer" id="listGameRoom">
										
									</tbody>
								</table>
								<!-- 방 리스트 -->
								
							</div>
						</div>
						
						<div class="col-xl-4 col-lg-4 .col-md-4 .col-sm-4 ">
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">- REMOTE CONTROLER -</h6><hr>
									<div class="text-center row justify-content-md-center">
										<div class="col-6">
											<span style="display: block;">러시안 룰렛</span>
											<input type="radio" name="option" style="width: 30px; height: 30px" value="R" checked>
										</div>
										<div class="col-6">
											<span style="display: block;">인디안 포커</span>
											<input type="radio" name="option" value="I" style="width: 30px; height: 30px">
										</div>
									</div>
									<input class="btn-secondary" id="goOpenButton" type="button"
										value="개설하기" style="width: 100%; margin: 0 auto; height: 45px"
										onclick="createRoom();"></input>
								</div>
								<h9 style="padding:1.5rem">이이잉</h2>
							</div>
						</div>
					</div>
					<!-- 입장/개설 -->

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	<!-- common -->
    <script src="/js/common.js"></script>
	<script src="/js/header.js"></script>
	

</body>

</html>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-analytics.js"></script>
<!-- // Firebase 기본 SDK, 꼭 필요로 함 -->
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>

<!-- // Firebase App SDK -->
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-app.js"></script>

<!-- // Firebase Auth SDK, 계정 인증 사용시 필요 -->
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-auth.js"></script>

<!-- // Firebase Database SDK, 데이터베이스 사용시 필요 -->
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-database.js"></script>
<script>
	// Your web app's Firebase configuration
	var firebaseConfig = {
		apiKey : "AIzaSyA2rSRgor5OCyVBpkdyPpUbtuiBkVlzZxY",
		authDomain : "familytoto-a142b.firebaseapp.com",
		databaseURL : "https://familytoto-a142b.firebaseio.com",
		projectId : "familytoto-a142b",
		storageBucket : "familytoto-a142b.appspot.com",
		messagingSenderId : "92460229559",
		appId : "1:92460229559:web:20dd41e80ac304ce4c7e32",
		measurementId : "G-NSJXMNT524"
	};
	// Initialize Firebase
	firebase.initializeApp(firebaseConfig);
	// firebase.analytics();
	var database = firebase.database();
	
	
	var dbRef = firebase.database().ref().child("russiaRullet/");

	dbRef.on('child_added',function(data){
		var dbRef = firebase.database().ref().child("russiaRullet/" + data.key);
		var roomKey = data.key;
		str = "";
		
		console.log(data.key + "==" + "AA")
        dbRef.once('child_added',function(data){
        		console.log(data.key + "==" + "BB")
			str += "<tr onClick=javascript:location.href='/vipOpenrr?roomNo=" + roomKey + "'>";
			str += "	<td>" + roomKey + "</td>";
			str += "	<td>" + data.val().name + "</td>";
			str += "	<td>러시안룰렛</td>";
			str += "</tr>";
			$("#listGameRoom").append(str);
        })
	});
	
	dbRef.on('child_removed',function(data){
		for(i = 0; i < $("#listGameRoom tr").length; i++) {
			if($("#listGameRoom tr:eq(" + i + ") td:eq(0)").html() == data.key) {
				$("#listGameRoom tr:eq(" + i + ")").remove();
			}
		}
	});
	
	function createRoom() {
		roomName = prompt("방이름을 입력해주세요.");
		
		if (roomName != null) {
			if($(":input:radio[name=option]:checked").val() == "R") {
				location.href = "/vipOpenrr?roomName=" + roomName;
			} else {
				location.href = "/vipOpenip?roomName=" + roomName;
			}
		}
	}
</script>