<html>


<META http-equiv="refresh" content="4; url=/vipEnt">
<body bgcolor="#000000" style="opacity:1">
<div id="fade_div" style="margin: 0 auto; width:100%;">
	<center>
		<img src="/img/viproom/vipInt.png" style="height:100%;">
	</center>
</div>
</body>

</html>

<script>
var start_fun;
var op_count=0;
var setime_func;
var settime1_func;
window.onload=function(){
	start_fun=setTimeout(fade_in,500)
}

function fade_in(){
	op_count=op_count+0.1;
	fade_div.style.opecity=op_count;
	settime_func=setTimeout(fade_in,100);
	if(op_count >1){
		clearTimeout(settime_func);
		settime1_func=setTimeout(fade_out,1000);
		op_count=1;
	}
}

function fade_out(){
	op_count=op_count-0.1;
	fade_div.style.opacity=op_count;
	settime_func=setTimeout(fade_out,100);
	if(op_count <0){
		clearTimeout(settime_func);
		op_count=0;
	}
}
</script>
