<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"
>
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css"
>
<link th:href="@{css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
<style>
.boardrow:hover {
	background: black;
	color: white;
	cursor: pointer;
}

#test {
	background: red;
}
</style>
</head>

<body id="page-top" onunload="leave()">
	<h2 id="test">방리스트</h2>
	<div
		style="background: #000000c4; width: 100%; height: 71px; position: fixed; z-index: 10000; color: white; font-weight: 800; cursor: pointer;"
		onClick="javascript:$(this).slideUp()"
	>
		<center>기능이 일부만 되거나 안되는 페이지입니다.</center>
	</div>
	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar"
		>
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"
				></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

			
					<!-- Page Heading -->
					<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div> -->

					<!-- 입장/개설 -->
					<div class="row">
						<div class="col-xl-7 col-lg-7 .col-md-7 .col-sm-7 ">
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">입장하기 / 개설하기</h6><hr>
								</div>						
								<a href="/vipIntro"><img src="/img/viproom/Teduri.png"style="width:100%; padding:0.5rem"></a>
							</div>
						</div>
											<!-- 입장/개설 -->
					<div class="col-xl-3 col-lg-3 .col-md-3 .col-sm-3">
					<img src="/img/character/boar.png" style="margin-left:20rem;margin-top:6.3rem;">
					</div>
					</div>



				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	<!-- common -->
	<script src="/js/common.js"></script>
	<script src="/js/header.js"></script>


</body>

</html>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-analytics.js"></script>
<!-- // Firebase 기본 SDK, 꼭 필요로 함 -->
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>

<!-- // Firebase App SDK -->
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-app.js"></script>

<!-- // Firebase Auth SDK, 계정 인증 사용시 필요 -->
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-auth.js"></script>

<!-- // Firebase Database SDK, 데이터베이스 사용시 필요 -->
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-database.js"></script>
<script>
	// Your web app's Firebase configuration
	var firebaseConfig = {
		apiKey : "AIzaSyA2rSRgor5OCyVBpkdyPpUbtuiBkVlzZxY",
		authDomain : "familytoto-a142b.firebaseapp.com",
		databaseURL : "https://familytoto-a142b.firebaseio.com",
		projectId : "familytoto-a142b",
		storageBucket : "familytoto-a142b.appspot.com",
		messagingSenderId : "92460229559",
		appId : "1:92460229559:web:20dd41e80ac304ce4c7e32",
		measurementId : "G-NSJXMNT524"
	};
	// Initialize Firebase
	firebase.initializeApp(firebaseConfig);
	// firebase.analytics();
	var database = firebase.database();
	
	var GLOBAL_FAMILY_CUST_NO = "1000000005";
	var GLOBAL_ROOM_NUM = 20;
	
	var userNoArray = new Array();
	var userStateArray = new Array();
	var userLinkArray = new Array();
	
	///// 방만들기
	function createRoom(roomName) {
		/*
		*	여기에 DB호출해야함
		*/
		var randomVal = parseInt((Math.random() * 6 + 1));
		
		database.ref('russiaRullet/' + GLOBAL_ROOM_NUM).push({
			turn : "0"					// 턴상태, 0번에서 총알넣고 돌리고 > 1번부터 방장시작
		,	state : "W"					// 방상태
		,	deathTurn : randomVal		// 1~6임
		,	name : roomName				// 방이름
		,	currentFamilyCustNo : "0"	// 누구턴인지
		});
		
		enterRoom();
	}
	
	///// 방 접속
	function enterRoom() {
		var roomSate = "";
		
		// 4명 이하인지 체크
		var playerCnt = 0;
		
		database.ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/players/").once('value', function(data){
			if(data.numChildren() >= 5) { 
				alert("게임방에는 1~5명만 접속할 수 있습니다.");
				return false;
			} else {
				// 4명 이하인지 체크
				
				// 방 상태값 체크
				// 대기방인지 체크
				var isEnterCheck = false;
				database.ref('russiaRullet/' + GLOBAL_ROOM_NUM).on('child_added', function(data){
					if(data.val().state != undefined) {
						roomState = data.val().state;
						
						// 방입장
						if(roomState == "W") {
							database.ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/players/" + String(GLOBAL_FAMILY_CUST_NO)).push({
								state : "W"
							});
							
							// 방 key 갱신 
							var dbTestRef = database.ref('russiaRullet/' + GLOBAL_ROOM_NUM)
		
							dbTestRef.on('child_added', function(data){
								if(data.key.substring(0,1) === "-") {
									var bigOne = document.getElementById('test');
								    var dbRef = firebase.database().ref().child("russiaRullet/" + GLOBAL_ROOM_NUM + "/" + data.key + "/currentFamilyCustNo");
								    
								    // 실시간으로 출력하는 함수 
								    dbRef.on('value',function(data){
								    	if(data.val() == GLOBAL_FAMILY_CUST_NO) {
									    	$("#test").html("방아쇠 당기기 ");								    		
								    	} else {
								    		if(data.val() == "0") {
								    			$("#test").html("대기중");
								    		} else {
									    		$("#test").html(data.val() + "차례입니다.");							    			
								    		}
								    	}
								    });
								    
								    // 게임시작했는지 여부
								    var dbRef = firebase.database().ref().child("russiaRullet/" + GLOBAL_ROOM_NUM + "/" + data.key + "/state");
								    dbRef.on('value',function(data){								    	
								    	if(data.val() != null) {
								    		if(data.val() == "Y") {
								    			$("#test").html("게임이 시작되었습니다.");
								    		}
								    	}
								    });
								    
								    // 사망자 통보
								    var dbRef = firebase.database().ref().child("russiaRullet/" + GLOBAL_ROOM_NUM + "/" + data.key + "/death");
								    dbRef.on('value',function(data){								    	
								    	if(data.val() != null) {
									    	alert("사망자 : " + data.val())
									    	// 사망자 생겨서 배열 초기화
									    	userNoArray = new Array();
											userStateArray = new Array();
											userLinkArray = new Array();
											
											return false;
								    	}
								    });
								    
								 	// 혼자남으면 승리
									database.ref("russiaRullet/" + GLOBAL_ROOM_NUM + "/" + data.key + "/winner").on('value', function(data){
										if(data.val() != null) {
											if(data.val() == GLOBAL_FAMILY_CUST_NO) {
												alert("승리하셨습니다.");
												database.ref('russiaRullet/' + GLOBAL_ROOM_NUM+"/").remove()
												
												// 승리 ajax
												alert(10000 + "크레딧을 얻었습니다!\n이거나드셔 !");
												return false;
											}
										}
									});
								}
							})
						} else {
							alert("대기중인 게임방에만 접속할 수 있습니다.");
							return false;
						}
					}
				})
			}
		})
	}
	
	///// 겜시작
	function gameStart() {
		var dbTestRef = database.ref('russiaRullet/' + GLOBAL_ROOM_NUM)
		
		dbTestRef.on('child_added', function(data){
			if(data.key.substring(0,1) === "-") {
				// 방상태값 Y로
				database.ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/" + data.key).update({
					state: "Y"	
				})
				
				$("#test").html("게임 시작")
			}
		})
	}
	
	///// 겜 진행	
	function turnPassGame() {	
		// 게임유저들 데이터 가져오기
		var query = firebase.database().ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/players/");
		query.on('child_added', function(childSnapshot, prevChildKey) { // 플레이어 패밀리번호 for
			var familyCustNoInFB = childSnapshot.key;
			var query = firebase.database().ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/players/"
					+ familyCustNoInFB);
			
			query.once('child_added', function(childSnapshot, prevChildKey) {
				var updateLink = 'russiaRullet/' + GLOBAL_ROOM_NUM + "/players/"
				+ familyCustNoInFB + "/"
				+ childSnapshot.key;
				
				// 한 사이클 지난후 1번유저가 다시하기위해서2번 반복함
				// 성능상으로는 안좋지만 임시방편
				var updateLinkQuery =  firebase.database().ref(updateLink);
				updateLinkQuery.once('child_added', function(childSnapshot, prevChildKey) {
					// 유저 데이터들 푸시하기
					userNoArray.push(familyCustNoInFB);
					userStateArray.push(childSnapshot.val());
					userLinkArray.push(updateLink);
				});
			});
		});
		
		var arrLength = userNoArray.length
		for(i = 0; i < arrLength; i++) {
			userNoArray.push(userNoArray[i]);
			userStateArray.push(userStateArray[i]);
			userLinkArray.push(userLinkArray[i]);
		}
		
		// 방 키값 가져오기
		var dbTestRef = database.ref('russiaRullet/' + GLOBAL_ROOM_NUM);
		
		dbTestRef.on('child_added', function(data){
			if(data.key.substring(0,1) === "-") {
				var starCountRef = database.ref('russiaRullet/' + GLOBAL_ROOM_NUM +"/" + data.key);
				
				starCountRef.once('value', function(snapshot) {		
					
					// 데스턴과 현재턴같으면 해당 패밀리커스터넘버 사망
					// 겜종료
					if(snapshot.val().deathTurn == snapshot.val().turn) { // 사망자 있을때						
						// 진사람 파베에서 삭제
						database.ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/players/" +
								userNoArray[parseInt(snapshot.val().turn)-1]).remove();
						
						// 새게임 갱신
						var randomVal = parseInt((Math.random() * 6 + 1));
						database.ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/" + data.key).update({
							turn: "0"				// 다음턴넘기기위해 처음에 0으로
						,	deathTurn : randomVal 
						,	
						});
						
						// 사망자통보
						database.ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/" + data.key).update({
							death : userNoArray[parseInt(snapshot.val().turn)-1]
						});
						
						turnPassGame();
						
						var gameRoomKeyValue = data.key
						
						// 승리자 갱신
						database.ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/players/").once('value', function(data){
							if(data.numChildren() == 1) {
								database.ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/" + gameRoomKeyValue).once('value', function(roomData){
									database.ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/" + gameRoomKeyValue).update({
										winner : roomData.val().currentFamilyCustNo
									});
								})
								
								return false;
							}					
						});
						
						alert("얘! 사망했단다.");
						// 여기서 방나가기
					} else { // 사망자없이 게임 진행일때
						var turnVar = parseInt(snapshot.val().turn)+1;
						
						// 다음 턴과 패밀리커스트넘버 세팅
						database.ref('russiaRullet/' + GLOBAL_ROOM_NUM + "/" + data.key).update({
							turn: turnVar
						,	currentFamilyCustNo : userNoArray[turnVar-1]
						});
					}
				});
			}
		})
	}
	
	function leave() {
		database.ref('russiaRullet/' + GLOBAL_ROOM_NUM+"/players/" + GLOBAL_FAMILY_CUST_NO).remove();
		// location.replace("대기리스트");
	}
</script>