<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">장바구니</h2>
						&nbsp;<a class="btn btn-light btn-circle" id="helpButton" character="리지" href="javascript:;">
							<i class="fas fa-info-circle"></i>
						</a>
					</div>
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th style="width:2%;">
												<div class="custom-control custom-checkbox">
<!-- 													<input type="checkbox" class="custom-control-input" -->
<!-- 														id="customCheck1"> <label -->
<!-- 														class="custom-control-label" for="customCheck1"></label> -->
												</div>
											</th>
											<th style="width:10%;">상품번호</th>
											<th style="width:58%;">상품명</th>
											<th style="width:10%;">가격</th>
											<th style="width:10%;">개수</th>
											<th style="width:10%;">총가격</th>
										</tr>
									</thead>
									<tbody id="basketTbody">
										<tr th:each="ba : ${basket}">
											<td style="text-align: center;">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														th:basketNo="${ba.getBasketNo()}"
														name="chBasket"
														th:id="'ch'+${ba.getProductNo()}"> <label class="custom-control-label"
														th:for="'ch'+${ba.getProductNo()}"></label>
												</div>
											</td>
											<td th:text="${ba.getProductNo()}"></td>
											<td><a target="_blank"
												th:href="'/showProduct/'+${ba.getProductNo()}"
												th:text="${ba.getProductName()}"></a></td>
											<td th:text="${#numbers.formatInteger(ba.getProductCredit(), 0, 'COMMA')}" style="text-align: right;"></td>
											<td class="text-middle">
												<input type="text" class="form-control"
												placeholder="Amount" name="amount"
												th:value="${ba.getBasketAmount()}"
												onKeyup="javascript:updateCredit($(this));" numberOnly>
											</td>
											<td th:text="${#numbers.formatInteger(ba.getTotalCredit(), 0, 'COMMA')}" class="totalCredit" style="text-align: right;"></td>
										</tr>
									</tbody>
								</table>
								<center id="emptyBasket"><h6 th:if="${basket.size()} == 0">장바구니에 담긴 상품이 없습니다.</h6></center>
							</div>
						</div>
					</div>
					<div class="d-flex bd-highlight mb-3">
						<div class="p-2 bd-highlight">
							<button type="button" class="btn btn-secondary btn-lg"
								style="width: 100%;" onClick="javascript:fn_delRow();">선택삭제</button>
						</div>
						<div class="p-2 bd-highlight">
							<button type="button" class="btn btn-secondary btn-lg"
								style="width: 100%;" onClick="javascript:chooseBuy();">선택구매</button>
						</div>
						<div class="ml-auto p-2 bd-highlight">
							<h5 class="text-word-l text-title">적립예정 마일리지 : <span id="expectedMileage">Loading..</span>‭</h5>
						</div>
					</div>
					<div class="d-flex bd-highlight mb-3">
						<div class="p-2 bd-highlight">
							<button type="button" class="btn btn-secondary btn-lg"
								style="width: 100%; background: gray;"
								onClick="javascript:allDelete();">전체삭제</button>
						</div>
						<div class="p-2 bd-highlight">
							<button type="button" class="btn btn-secondary btn-lg"
								style="width: 100%; background: gray;"
								onClick="javascript:allBuy();">전체구매</button>
						</div>
						<div class="ml-auto p-2 bd-highlight">
							<h5 class="text-word-l text-title">상품 총가격 : <span id="productTotalCredit">‭Loading..</span>‬</h5>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->



	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	<!-- common -->
    <script src="/js/common.js"></script>
	<script src="/js/header.js"></script>
	

</body>

</html>
<script>
var helpCommentList = [
	"장바구니페이지에여 <br>여기엔 회원님이 사신<br>"
+ "물품들을 보실수있어여<br>구매하신 상품들은 상품번호,상품명,선택 <br>"
+ "가격,개수,총가격으로 구성되어있어여",
"선택버튼을 누르신뒤<br>"
+ "선택삭제나 선택구매를누르시면<br>"
+ "해당상품을 삭제하거나 구매하실수있구여",
"전체삭제를누르시면<br>장바구니페이지를 전부삭제시키고<br>"
+ "전체구매를 누르시면<br>전부구입할수있어여"]


	$( document ).ready(function() {
		var totalCredit = 0;
		
		for(i = 0; i < $(".totalCredit").length; i++) {
			totalCredit += removeComma($(".totalCredit").eq(i).html());
		}
		
		$("#productTotalCredit").html(comma(totalCredit));
		$("#expectedMileage").html(comma(totalCredit*0.1));
	});
	

	function allBuy() {
		var basketNo = new Array();
		var basketAmount = new Array();
		
		for(var i = 0; i < $("[name=amount]").length; i++ ) {
			basketNo.push($("[basketno]").eq(i).attr("basketno"));
			basketAmount.push($("[name=amount]").eq(i).val());
		}
		
		// 장바구니 개수 변경하기
		$.ajax({
			url : "/basket/update",
			type : "POST",
			cache : false,
			dataType : "html",
			traditional : true,
			data : {
					"basketNo" : basketNo
			, 		"basketAmount" : basketAmount
			},
			success : function(data) {
				if(data == 0) {
					location.href= "/basketBuy";
				} else if(data.trim() == -99) {
					alert("로그인을 해야 구입을 할 수 있습니다.");
				} else if(data.trim() == -98) {
					alert("패밀리 회원만 구입을 할 수 있습니다.");
				} else {
					alert("알수없는 에러가 발생하였습니다.\n새로고침 후 다시 시도해주세요.");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function fn_delRow() {
 		if ($("input[name=chBasket]").is(":checked")){
	 		var basketNoStr = "";
	 		
			for(var i=$("input[name=chBasket]:checked").length-1; i>-1; i--) {
				if(i == 0) {
					basketNoStr += $("[name='chBasket']:checked").eq(i).attr("basketNo");
				} else { 
					basketNoStr += $("[name='chBasket']:checked").eq(i).attr("basketNo") + ",";
				}
			}
			
			$.ajax({
				url : "/basket/delete",
				type : "POST",
				cache : false,
				dataType : "html",
				data : "basketNoStr="+basketNoStr,
				success : function(data) {
					if(data == 1) {
						for(var i=$("input[name=chBasket]:checked").length-1; i>-1; i--) {
							$("[name='chBasket']:checked").eq(i).closest("tr").remove();
						}
						
						if($("input[name=chBasket]").length == 0) {
							$("#emptyBasket").html("<h6>장바구니에 담긴 상품이 없습니다.</h6>")
						}
					} else if(data.trim() == -99) {
						alert("로그인을 해야 구입을 할 수 있습니다.");
					} else if(data.trim() == -98) {
						alert("패밀리 회원만 구입을 할 수 있습니다.");
					} else {
						alert("알수없는 에러가 발생하였습니다.\n새로고침 후 다시 시도해주세요.");
					}
				},
				error : function(request, status, error) {
					var msg = "ERROR : " + request.status + "<br>"
					msg += +"내용 : " + request.responseText + "<br>" + error;
					console.log(msg);
				}
			});﻿﻿
		} else {
 			alert("선택된 상품이 없습니다.");
		}﻿
	}﻿ 
	
	function allDelete() {
		var basketNoStr = "";
		
		for(var i=$("input[name=chBasket]").length-1; i>-1; i--) {
			if(i == 0) {
				basketNoStr += $("[name='chBasket']").eq(i).attr("basketNo");
			} else { 
				basketNoStr += $("[name='chBasket']").eq(i).attr("basketNo") + ",";
			}
		}
		
		$.ajax({
			url : "/basket/delete",
			type : "POST",
			cache : false,
			dataType : "html",
			data : "basketNoStr="+basketNoStr,
			success : function(data) {
				if(data == 1) {
					for(var i=$("input[name=chBasket]").length-1; i>-1; i--) {
						$("[name='chBasket']").eq(i).closest("tr").remove();
					}
					
					if($("input[name=chBasket]").length == 0) {
						$("#emptyBasket").html("<h6>장바구니에 담긴 상품이 없습니다.</h6>")
					}
				} else if(data.trim() == -99) {
					alert("로그인을 해야 구입을 할 수 있습니다.");
				} else if(data.trim() == -98) {
					alert("패밀리 회원만 구입을 할 수 있습니다.");
				} else {
					alert("알수없는 에러가 발생하였습니다.\n새로고침 후 다시 시도해주세요.");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});		
	}
	
	function comma(num){
	    var len, point, str; 
	       
	    num = num + ""; 
	    point = num.length % 3 ;
	    len = num.length; 
	   
	    str = num.substring(0, point); 
	    while (point < len) { 
	        if (str != "") str += ","; 
	        str += num.substring(point, point + 3); 
	        point += 3; 
	    } 
	     
	    return str;
	}
	
	function chooseBuy() {
		var basketNoStr = "";
		
		if ($("input[name=chBasket]").is(":checked")){
			for(var i=$("input[name=chBasket]:not(:checked)").length-1; i>-1; i--) {
				
				if(i == 0) {
					basketNoStr += $("[name=chBasket]:not(:checked)").eq(i).attr("basketNo");
				} else { 
					basketNoStr += $("[name=chBasket]:not(:checked)").eq(i).attr("basketNo") + ",";
				}
			}
			
			var basketNo = new Array();
			var basketAmount = new Array();
			
			for(var i=0; i < $("input[name=chBasket]").length; i++) {
				if($('input:checkbox[name=chBasket]').eq(i).is(":checked") == true) {
					basketNo.push($("[basketno]").eq(i).attr("basketno"));
					basketAmount.push($("[name=amount]").eq(i).val());
				}
			}

			// 장바구니 개수 변경하기
			$.ajax({
				url : "/basket/update",
				type : "POST",
				cache : false,
				dataType : "html",
				traditional : true,
				async : false,
				data : {
						"basketNo" : basketNo
				, 		"basketAmount" : basketAmount
				},
				success : function(data) {
					if(data == 0) {

					} else if(data.trim() == -99) {
						alert("로그인을 해야 구입을 할 수 있습니다.");
						return false;
					} else if(data.trim() == -98) {
						alert("패밀리 회원만 구입을 할 수 있습니다.");
						return false;
					} else {
						alert("알수없는 에러가 발생하였습니다.\n새로고침 후 다시 시도해주세요.");
						return false;
					}
				},
				error : function(request, status, error) {
					var msg = "ERROR : " + request.status + "<br>"
					msg += +"내용 : " + request.responseText + "<br>" + error;
					console.log(msg);
				}
			});
			
			$.ajax({
				url : "/basket/chooseBuy",
				type : "POST",
				cache : false,
				dataType : "html",
				data : "basketNoStr="+basketNoStr,
				success : function(data) {
					location.href="/basketBuy";
				},
				error : function(request, status, error) {
					var msg = "ERROR : " + request.status + "<br>"
					msg += +"내용 : " + request.responseText + "<br>" + error;
					console.log(msg);
				}
			});
		} else {
			alert("선택된 상품이 없습니다.");
		}
	}
	
	function updateCredit(obj) {
		var amount = obj.val()
		var credit = removeComma(obj.parent().prev().html());
		var result = comma(amount * credit) ;  
		obj.parent().next().html(result);
	}
	
	function removeComma(str) {
		n = parseInt(str.replace(/,/g,""));
		return n;
	}
</script>
