<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css"
>
<link th:href="@{css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet">

<style>
.button {
	cursor: pointer;
}

.button div:hover {
	background-color: #c5c5c5;
}

.row-L {
	background: #ff7979;
}

.row-W {
	background: #e2e2ff;
}

.row-wait {
	
}
</style>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar"
		>
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"
				></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">대시보드</h2>
						&nbsp;<a class="btn btn-light btn-circle" id="helpButton" character="토순"
							href="javascript:;"
						> <i class="fas fa-info-circle"></i>
						</a>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="card shadow h-100 py-2">
								<div class="card-body">
									<button type="button" class="btn btn-secondary btn-lg">
										<i class="far fa-file-excel"></i> 엑셀 다운로드
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4  col-md-6 mb-4 button"
							onClick="javascript:creditInfo()">
							<div class="card border-left-secondary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-primary text-uppercase mb-1"
											>Credit</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">
												$<span id="credit"
													th:text="${#numbers.formatInteger(list.credit, 0, 'COMMA')}"
												>0</span>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-calendar fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-4 col-md-6 mb-4 button"
							onclick="javascript:mileageInfo()"
						>
							<div class="card border-left-secondary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-primary text-uppercase mb-1"
											>Mileage</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">
												$<span id="mileage"
													th:text="${#numbers.formatInteger(list.mileage, 0, 'COMMA')}"
												>0</span>
											</div>
										</div>
										<div class="col-auto">
											<i class="fab fa-monero fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-4 col-md-6 mb-4 button" onclick="javascript:expInfo()">
							<div class="card border-left-secondary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-primary text-uppercase mb-1"
											>Experience</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">
												LEVEL <b th:text="${#numbers.formatInteger(list.level, 0, 'COMMA')}"></b><br>
												<span th:text="${#numbers.formatInteger(list.exp, 0, 'COMMA')}"></span>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-running fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 col-lg-6">
							<!-- Area Chart -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">
										<span class="profitChartName">크레딧 수익</span> 변동
									</h6>
								</div>
								<div class="card-body">
									<div class="chart-area">
										<div class="chartjs-size-monitor">
											<div class="chartjs-size-monitor-expand">
												<div class=""></div>
											</div>
											<div class="chartjs-size-monitor-shrink">
												<div class=""></div>
											</div>
										</div>
										<canvas id="profitChart"
											style="display: block; width: 1037px; height: 320px;" width="1037"
											height="320" class="chartjs-render-monitor"
										></canvas>
									</div>
									<hr>
									토토로 돈을 따보는건 어떨까요? <a href="/toto/ladder">사다리</a> <a href="/toto/dice">홀짝</a>
									<a href="/toto/graph">그래프</a>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6">
							<!-- Area Chart -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">
										<span class="profitChartName">크레딧 수익</span> 최근내역 TOP 100
									</h6>
								</div>
								<div class="table-responsive"
									style="overflow-y: auto; max-height: 418px;">
									<center id="clearTable">존재하지않습니다.</center>
									<table class="table table-bordered" id="dataTable" width="100%"
										cellspacing="0">
										<thead>
											<tr>
												<th style="width: 33%">상태</th>
												<th style="width: 33%">값</th>
												<th style="width: 33%">날짜</th>
											</tr>
										</thead>
										<tbody id="earnTable">
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- 등록 게시글, 등록 댓글, 등록 상품평  -->
					<div class="row">
						<div class="col-xl-4  col-md-6 mb-4 button"
							onClick="javascript:getRegisterBoardTable()">
							<div class="card border-left-secondary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-primary mb-1">게시글</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">
												<span th:text="${#numbers.formatInteger(list.board, 0, 'COMMA')}">0</span>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-book-open fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-4 col-md-6 mb-4 button"
							onclick="javascript:getRegisterCommentTable()">
							<div class="card border-left-secondary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-primary mb-1">댓글</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">
												<span th:text="${#numbers.formatInteger(list.comment, 0, 'COMMA')}">0</span>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-comment fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-4 col-md-6 mb-4 button"
							onclick="javascript:getRegisterProductCommentTable()">
							<div class="card border-left-secondary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-primary mb-1">상품평</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">
												<span
													th:text="${#numbers.formatInteger(list.productComment, 0, 'COMMA')}"
												>0</span>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-star-half-alt fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 2번째  row -->
					<div class="row">
						<div class="col-xl-12 col-lg-12">
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">
										<span id="dynamicTableTitle">게시글 리스트</span>
									</h6>
								</div>
								<div class="table-responsive"
									style="overflow-y: auto; max-height: 418px;">
									<center id="middleClearDiv">존재하지않습니다.</center>
									<table id="middleTableDiv" class="table table-bordered" width="100%"
										cellspacing="0"
									>
										<thead>
											<tr id="dynamicTitle">
												<th style="width: 15%">게시글 번호</th>
												<th style="width: 10%">소셜 구분</th>
												<th style="width: 20%">작성자</th>
												<th style="width: 35%">게시글 제목</th>
												<th style="width: 20%">작성일</th>
											</tr>
										</thead>
										<tbody id="middleTable">

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<!-- 토토 -->
					<div class="row">
						<div class="col-xl-12 col-lg-12">
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">배팅한 토토 목록</h6>
								</div>
								<div class="table-responsive"
									style="overflow-y: auto; max-height: 418px;">
									<center th:if="${totoBetList} == null">존재하지않습니다.</center>
									<table class="table table-bordered" id="totoTable" width="100%"
										cellspacing="0">
										<thead>
											<tr>
												<th style="width: 10%">배팅번호</th>
												<th style="width: 10%">배팅금액</th>
												<th style="width: 10%">배당률</th>
												<th style="width: 20%">일정</th>
												<th style="width: 10%">종류</th>
												<th style="width: 10%">리그</th>
												<th style="width: 10%">팀1</th>
												<th style="width: 10%">팀2</th>
												<th style="width: 10%">결과</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="list : ${totoBetList}"
												th:class="'row-'+${list.bettingGroupResult}">
												<td th:class="${list.sportsBettingGroupNo}"
													style="text-align: center">
													<a href="javascript:;"
														th:data-result="${list.bettingGroupResult}"
														th:onClick="|javascript:getBettingToto(${list.sportsBettingGroupNo}, $(this).attr('data-result'));|"														th:text="${list.sportsBettingGroupNo}" data-toggle="modal"
														data-target=".totoModal"
													></a>
												</td>
												<td style="text-align: right"
													th:class="${list.sportsBettingGroupNo}"
													th:text="${#numbers.formatInteger(list.creditValue, 3, 'COMMA')}"
												></td>
												<td style="text-align: right"
													th:class="${list.sportsBettingGroupNo}"
													th:text="${list.bettingGroupBet}"
												></td>
												<td style="text-align: center" th:text="${list.sportsSchedule}"></td>
												<td style="text-align: center" th:text="${list.sportsGubun}"></td>
												<td style="text-align: center" th:text="${list.sportsLeagueName}"></td>
												<td style="text-align: center" th:text="${list.sportsTeam1Name}"></td>
												<td style="text-align: center" th:text="${list.sportsTeam2Name}"></td>
												<td th:class="${list.sportsResult}+${list.sportsBettingGroupNo}"
													th:text="${list.sportsResult}" style="text-align: center">대기중</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="row" th:if="${productList} != null">
						<div class="col-xl-12 col-lg-12">
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">등록상품 리스트</h6>
								</div>
								<div class="table-responsive"
									style="overflow-y: auto; max-height: 418px;">
									<table class="table table-bordered" id="productTable" width="100%"
										cellspacing="0">
										<thead>
											<tr>
												<th style="width: 15%">상품번호</th>
												<th style="width: 15%">카테고리</th>
												<th style="width: 35%">상품명</th>
												<th style="width: 15%">상품 크레딧</th>
												<th style="width: 10%">상품 재고</th>
												<th style="width: 10%">상품평</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="list : ${productList}">
												<td th:text="${list.productNo}" style="text-align: center;"></td>
												<td th:text="${list.categoryName}" style="text-align: center;"></td>
												<td style="text-align: left;">
													<a th:href="'/showProduct/'+${list.productNo}"
														th:text="${list.productName}"
													  th:data-geo="${list.productImgUrl}"></a>
												</td>
												<td style="text-align: right;"
													th:text="${#numbers.formatInteger(list.productCredit, 0, 'COMMA')}"
												></td>
												<td th:text="${list.productAmount}" style="text-align: right;"></td>
												<td th:text="${list.producctCommentRating}"
													style="text-align: right;"
												>없음</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer class="sticky-footer bg-white" th:include="/footer/footer">

				</footer>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->

			<div class="modal fade bd-example-modal-xl totoModal" tabindex="-1"
				role="dialog" aria-labelledby="totoModal" aria-hidden="true">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">스포츠 배팅 상세보기</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="table-responsive"
								style="overflow-y: auto; max-height: 418px;">
								<table class="table table-bordered" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th style="width: 10%">경기번호</th>
											<th style="width: 10%">경기구분</th>
											<th style="width: 10%">리그이름</th>
											<th style="width: 20%" id="totoMatchTeam1">팀1</th>
											<th style="width: 10%" id="totoMatchTeam2">팀2</th>
											<th style="width: 10%">경기결과</th>
											<th style="width: 10%">나의 픽</th>
											<th style="width: 10%">결과</th>
										</tr>
									</thead>
									<tbody id="totoMatchTr">
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-secondary"
							id="modalGetBetting" onClick="javascript:getBettingCredit();">배팅금액 받기</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- End of Page Wrapper -->



		<!-- Bootstrap core JavaScript-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="/js/sb-admin-2.min.js"></script>
		<script src="/vendor/chart.js/Chart.min.js"></script>
		<!-- common -->
		<script src="/js/common.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
</body>
  <style>
  .photo {
    width: 300px;
    text-align: center;
  }
  .photo .ui-widget-header {
    margin: 1em 0;
  }
  .map {
    width: 350px;
    height: 350px;
  }
  .ui-tooltip {
    max-width: 350px;
  }
  </style>
</html>
<script>

$( document ).tooltip({
    items: "img, [data-geo], [title]",
    show : { effect: "blind", duration: 250 },
    hide :{ effect: "blind", duration: 0 },
    content: function() {
      var element = $( this );
      if ( element.is( "[data-geo]" ) ) {
        var text = element.text();
        
        return "<img style='width:200px; height:200px;' src='" + element.attr("data-geo") + "'>";
      }
      if ( element.is( "[title]" ) ) {
        return element.attr( "title" );
      }
      if ( element.is( "img" ) ) {
        return element.attr( "alt" );
      }
    }
  });

	$.fn.rowspan = function(colIdx, isStats) {       
	    return this.each(function(){      
	        var that;     
	        $('tr', this).each(function(row) {      
	            $('td:eq('+colIdx+')', this).filter(':visible').each(function(col) {
	                 
	                if ($(this).attr("class") == $(that).attr("class")
	                    && (!isStats 
	                            || isStats && $(this).prev().attr("class") == $(that).prev().attr("class")
	                            )
	                    ) {            
	                    rowspan = $(that).attr("rowspan") || 1;
	                    rowspan = Number(rowspan)+1;
	 
	                    $(that).attr("rowspan",rowspan);
	                     
	                    // do your action for the colspan cell here            
	                    $(this).remove();
	                     
	                    //$(this).remove(); 
	                    // do your action for the old cell here
	                     
	                } else {            
	                    that = this;         
	                }          
	                 
	                // set the that if not already set
	                that = (that == null) ? this : that;      
	            });     
	        });    
	    });  
	};
	
	$('#totoTable').rowspan(8);
	$('#totoTable').rowspan(2);
	$('#totoTable').rowspan(1);
	$('#totoTable').rowspan(0);
	creditInfo();
	getRegisterBoardTable();
	
	var chartOption = {
		type : 'line',
		data : {
			labels : "",
			datasets : [ {
				label : "",
				lineTension : 0.3,
				backgroundColor : "rgba(78, 115, 223, 0.05)",
				borderColor : "#000000",
				pointRadius : 3,
				pointBackgroundColor : "#000000",
				pointBorderColor : "#000000",
				pointHoverRadius : 3,
				pointHoverBackgroundColor : "rgba(78, 115, 223, 1)",
				pointHoverBorderColor : "rgba(78, 115, 223, 1)",
				pointHitRadius : 10,
				pointBorderWidth : 2,
			} ],
		},
		options : {
			maintainAspectRatio : false,
			layout : {
				padding : {
					left : 10,
					right : 25,
					top : 25,
					bottom : 0
				}
			},
			scales : {
				xAxes : [ {
					time : {
						unit : 'date'
					},
					gridLines : {
						display : false,
						drawBorder : false
					},
					ticks : {
						maxTicksLimit : 7
					}
				} ],
				yAxes : [ {
					ticks : {
						maxTicksLimit : 10,
						padding : 10,
						// Include a dollar sign in the ticks
						callback : function(value, index, values) {
							return '$' + number_format(value);
						}
					},
					gridLines : {
						color : "rgb(234, 236, 244)",
						zeroLineColor : "rgb(234, 236, 244)",
						drawBorder : false,
						borderDash : [ 2 ],
						zeroLineBorderDash : [ 2 ]
					}
				} ],
			},
			legend : {
				display : false
			},
			tooltips : {
				backgroundColor : "rgb(255,255,255)",
				bodyFontColor : "#858796",
				titleMarginBottom : 10,
				titleFontColor : '#6e707e',
				titleFontSize : 14,
				borderColor : '#dddfeb',
				borderWidth : 1,
				xPadding : 15,
				yPadding : 15,
				displayColors : false,
				intersect : false,
				mode : 'index',
				caretPadding : 10,
				callbacks : {
					label : function(tooltipItem, chart) {
						var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label
								|| '';
						return datasetLabel
								+ number_format(tooltipItem.yLabel);
					}
				}
			}
		}
	}
	
	var chartOption1 = {
			type : 'line',
			data : {
				labels : "",
				datasets : [ {
					label : "",
					lineTension : 0.3,
					backgroundColor : "rgba(78, 115, 223, 0.05)",
					borderColor : "#000000",
					pointRadius : 3,
					pointBackgroundColor : "#000000",
					pointBorderColor : "#000000",
					pointHoverRadius : 3,
					pointHoverBackgroundColor : "rgba(78, 115, 223, 1)",
					pointHoverBorderColor : "rgba(78, 115, 223, 1)",
					pointHitRadius : 10,
					pointBorderWidth : 2,
				} ],
			},
			options : {
				maintainAspectRatio : false,
				layout : {
					padding : {
						left : 10,
						right : 25,
						top : 25,
						bottom : 0
					}
				},
				scales : {
					xAxes : [ {
						time : {
							unit : 'date'
						},
						gridLines : {
							display : false,
							drawBorder : false
						},
						ticks : {
							maxTicksLimit : 7
						}
					} ],
					yAxes : [ {
						ticks : {
							maxTicksLimit : 10,
							padding : 10,
							// Include a dollar sign in the ticks
							callback : function(value, index, values) {
								return '$' + number_format(value);
							}
						},
						gridLines : {
							color : "rgb(234, 236, 244)",
							zeroLineColor : "rgb(234, 236, 244)",
							drawBorder : false,
							borderDash : [ 2 ],
							zeroLineBorderDash : [ 2 ]
						}
					} ],
				},
				legend : {
					display : false
				},
				tooltips : {
					backgroundColor : "rgb(255,255,255)",
					bodyFontColor : "#858796",
					titleMarginBottom : 10,
					titleFontColor : '#6e707e',
					titleFontSize : 14,
					borderColor : '#dddfeb',
					borderWidth : 1,
					xPadding : 15,
					yPadding : 15,
					displayColors : false,
					intersect : false,
					mode : 'index',
					caretPadding : 10,
					callbacks : {
						label : function(tooltipItem, chart) {
							var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label
									|| '';
							return datasetLabel
									+ number_format(tooltipItem.yLabel);
						}
					}
				}
			}
		}
	
	var ctx1 = $("#profitChart");
	
	profitChart = new Chart(ctx1, chartOption);
	
	function getProfitCredit() {
		$.ajax({
			url : "/dashboard/getCredit",
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {
				for(i = 0; i < 7; i++) {
					removeData(profitChart);
				}
				
				//  수익 크레딧
				var nSubCredit = [];
				var sum = 0;
				
				for(i = 0; i < data.length; i++) {
					addData(profitChart, data[i].regCreditDt, data[i].creditValue);
					nSubCredit[i]=data[i].creditValue;
				}
				
				// 마지막 인덱스는 변동하면안되서0으로
				//nSubCredit[6] = 0;
				
				// 과거크레딧
				j = data.length-1;
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function getProfitMileage() {
		$.ajax({
			url : "/dashboard/getMileage",
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {				
				for(i = 0; i < 7; i++) {
					removeData(profitChart);
				}
				
				//  수익 마일리지
				var nSubMileage = [];
				var sum = 0;
				
				for(i = 0; i < data.length; i++) {
					addData(profitChart, data[i].regMileageDt, data[i].mileageValue);
					nSubMileage[i]=data[i].mileageValue;
				}
				
				// 마지막 인덱스는 변동하면안되서0으로
				nSubMileage[6] = 0;
			}, 
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function getProfitExp() {
		$.ajax({
			url : "/dashboard/getExp",
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {				
				for(i = 0; i < 7; i++) {
					removeData(profitChart);
				}
				
				//  수익 마일리지
				var nSubMileage = [];
				var sum = 0;
				
				for(i = 0; i < data.length; i++) {
					addData(profitChart, data[i].regExpDt, data[i].expValue);
					nSubMileage[i]=data[i].expValue;
				}
				
				// 마지막 인덱스는 변동하면안되서0으로
				nSubMileage[6] = 0;
			}, 
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	var GLOBAL_SPORTS_GROUP_NO = 0;
	
	function getBettingToto(sportsGroupNo, gubun) {
		$.ajax({
			url : "/dashboard/listShowBettingTotoMatch/" + sportsGroupNo,
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {
				var trStr = "";
				GLOBAL_SPORTS_GROUP_NO = sportsGroupNo;
				if(gubun == "W" || gubun == "L") {
					$("#modalGetBetting").attr("style", "display:none");
				} else {
					$("#modalGetBetting").attr("style", "");
				}				
				
				
				for(i = 0; i < data.length; i++) {
					trStr += "<tr>";
					trStr += "	<td>" + data[i].sportsNo + "</td>";
					trStr += "	<td>" + data[i].sportsGubun + "</td>";
					trStr += "	<td>" + data[i].sportsLeagueName + "</td>";
					trStr += "	<td>" + data[i].sportsTeam1Name + "</td>";
					trStr += "	<td>" + data[i].sportsTeam2Name + "</td>";
					
					var result = "";
					
					if(data[i].sportsResult == "0") {
						result = "무승부";
					} else if(data[i].sportsResult == "1") {
						result = data[i].sportsTeam1Name + "승";
					} else {
						result = data[i].sportsTeam2Name + "승";
					}
					
					trStr += "	<td>" + result + "</td>";
					
					var choice = "";
					
					if(data[i].teamBettingChoice == "0") {
						choice = "무승부";
					} else if(data[i].teamBettingChoice == "1") {
						choice = data[i].sportsTeam1Name + "승";
					} else {
						choice = data[i].sportsTeam2Name + "승";
					}
					
					trStr += "	<td>" + choice + "</td>";					
					trStr += "	<td>" + data[i].sportsResult + "</td>";
					trStr += "</tr>";	
				}
				
				$("#totoMatchTr").html(trStr);
			}, 
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	//Set new default font family and font color to mimic Bootstrap's default styling
			Chart.defaults.global.defaultFontFamily = 'Nunito',
			'-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
	Chart.defaults.global.defaultFontColor = '#000000';

	function number_format(number, decimals, dec_point, thousands_sep) {
		// *     example: number_format(1234.56, 2, ',', ' ');
		// *     return: '1 234,56'
		number = (number + '').replace(',', '').replace(' ', '');
		var n = !isFinite(+number) ? 0 : +number, prec = !isFinite(+decimals) ? 0
				: Math.abs(decimals), sep = (typeof thousands_sep === 'undefined') ? ','
				: thousands_sep, dec = (typeof dec_point === 'undefined') ? '.'
				: dec_point, s = '', toFixedFix = function(n, prec) {
			var k = Math.pow(10, prec);
			return '' + Math.round(n * k) / k;
		};
		// Fix for IE parseFloat(0.55).toFixed(0) = 0;
		s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
		if (s[0].length > 3) {
			s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
		}
		if ((s[1] || '').length < prec) {
			s[1] = s[1] || '';
			s[1] += new Array(prec - s[1].length + 1).join('0');
		}
		return s.join(dec);
	}

	// Set new default font family and font color to mimic Bootstrap's default styling
	Chart.defaults.global.defaultFontFamily = 'Nunito',
	'-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
	Chart.defaults.global.defaultFontColor = '#858796';

	// Pie Chart Example
	var ctx = document.getElementById("myPieChart");
	var myPieChart = new Chart(ctx, {
		type : 'doughnut',
		data : {
			labels : [ "Direct", "Referral", "Social" ],
			datasets : [ {
				data : [ 55, 30, 15 ],
				backgroundColor : [ '#4e73df', '#1cc88a', '#36b9cc' ],
				hoverBackgroundColor : [ '#2e59d9', '#17a673', '#2c9faf' ],
				hoverBorderColor : "rgba(234, 236, 244, 1)",
			} ],
		},
		options : {
			maintainAspectRatio : false,
			tooltips : {
				backgroundColor : "rgb(255,255,255)",
				bodyFontColor : "#858796",
				borderColor : '#dddfeb',
				borderWidth : 1,
				xPadding : 15,
				yPadding : 15,
				displayColors : false,
				caretPadding : 10,
			},
			legend : {
				display : false
			},
			cutoutPercentage : 80,
		},
	});
	
	function addData(chart, label, data) {
	    chart.data.labels.push(label);
	    chart.data.datasets.forEach((dataset) => {
	        dataset.data.push(data);
	    });
	    chart.update();
	}

	function removeData(chart) {
	    chart.data.labels.pop();
	    chart.data.datasets.forEach((dataset) => {
	        dataset.data.pop();
	    });
	    chart.update();
	}
	
	function creditInfo() {
		$(".profitChartName").html("크레딧 수익");
		
		getCreditTable();
		getProfitCredit();
	}
	
	function mileageInfo() {
		$(".profitChartName").html("마일리지 수익");
		
		getMileageTable();
		getProfitMileage();
	}
	
	function expInfo() {
		$(".profitChartName").html("경험치");
		
		getExpTable();
		getProfitExp();
	}
	
	function getCreditTable() {
		$.ajax({
			url : "/dashboard/getCreditTable",
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {
				if(data.length==0) {
					$("#clearTable").attr("style","");
					$("#dataTable").attr("style","display:none");
				} else {
					$("#earnTable").html("");
					$("#clearTable").attr("style","display:none");
					$("#dataTable").attr("style","");
					
					for(i = 0; i < data.length; i++) {
						str="";
						str+='<tr class="boardrow">';
						str+='	<td style="text-align: center;">' + data[i].creditState + '</td>';
						str+='	<td style="text-align: right;">' + numberWithCommas(data[i].creditValue) + '</td>';
						str+='	<td style="text-align: center;">' + data[i].regCreditDt + '</td>';
						str+='</tr>';
						
						$("#earnTable").append(str);
					}	
				}
			}, 
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function getMileageTable() {
		$.ajax({
			url : "/dashboard/getMileageTable",
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {
				if(data.length==0) {
					$("#clearTable").attr("style","");
					$("#dataTable").attr("style","display:none");
				} else {
					$("#earnTable").html("");
					$("#clearTable").attr("style","display:none");
					$("#dataTable").attr("style","");
					
					for(i = 0; i < data.length; i++) {
						str="";
						str+='<tr class="boardrow">';
						str+='	<td style="text-align: center;">' + data[i].mileageState + '</td>';
						str+='	<td style="text-align: right;">' + numberWithCommas(data[i].mileageValue) + '</td>';
						str+='	<td style="text-align: center;">' + data[i].regMileageDt + '</td>';
						str+='</tr>';
						
						$("#earnTable").append(str);
					}	
				}
			}, 
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function getExpTable() {
		$.ajax({
			url : "/dashboard/getExpTable",
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {
				if(data.length==0) {
					$("#clearTable").attr("style","");
					$("#dataTable").attr("style","display:none");
				} else {
					$("#earnTable").html("");
					$("#clearTable").attr("style","display:none");
					$("#dataTable").attr("style","");
					
					for(i = 0; i < data.length; i++) {
						str="";
						str+='<tr class="boardrow">';
						str+='	<td style="text-align: center;">' + data[i].expState + '</td>';
						str+='	<td style="text-align: right;">' + numberWithCommas(data[i].expValue) + '</td>';
						str+='	<td style="text-align: center;">' + data[i].regExpDt + '</td>';
						str+='</tr>';
						
						$("#earnTable").append(str);
					}	
				}
			}, 
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function getRegisterBoardTable() {
		$.ajax({
			url : "/dashboard/getRegisteredBoard",
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {
				$("#dynamicTableTitle").html("게시글 리스트");
				
				if(data.length==0) {
					$("#middleClearDiv").attr("style","");
					$("#middleTableDiv").attr("style","display:none");
				} else {
					$("#middleClearDiv").attr("style","display:none");
					$("#middleTableDiv").attr("style","");
					
					$("#middleTable").html("");
					
					var strTitle = "";
					strTitle += '<th style="width: 15%">게시글 번호</th>';
					strTitle += '<th style="width: 10%">소셜 구분</th>';
					strTitle += '<th style="width: 20%">작성자 </th>';
					strTitle += '<th style="width: 35%">게시글 제목</th>';
					strTitle += '<th style="width: 20%">작성일</th>';
					
					$("#dynamicTitle").html(strTitle);
					
					
					for(i = 0; i < data.length; i++) {
						str="";
						str += "<tr>";
						str += "	<td style='text-align:center;'>" + data[i].boardNo + "</td>";
						
						var img = "";
						
						if(data[i].custGubun == "ON") {
							img = '<img src="/img/social/icon/onesportsMiniIcon.jpg" width="30px">';
						} else if(data[i].custGubun == "FA") {
							img = '<img src="/img/social/icon/facebookMiniIcon.jpg" width="30px">';
						} else if(data[i].custGubun == "KA") {
							img = '<img src="/img/social/icon/kakaoMiniIcon.jpg" width="30px">';
						} else {
							img = '<img src="/img/social/icon/naverMiniIcon.jpg" width="30px">';
						}
						
						var aTag = "<a href='/showBoard/" + data[i].boardNo + "'>"
						+ data[i].boardTitle + "</a>";
						
						str += "	<td style='text-align:center;'>" + img + "</td>";
						str += "	<td style='text-align:center;'>" + data[i].custNickname + "</td>";
						str += "	<td>" + aTag + "</td>";
						str += "	<td style='text-align:center;'>" + data[i].regDt + "</td>";
						str += "</tr>";
						$("#middleTable").append(str);
					}	
				}
			}, 
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function getRegisterCommentTable() {
		$.ajax({
			url : "/dashboard/getRegisteredComment",
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {
				$("#dynamicTableTitle").html("댓글 리스트");
				
				if(data.length==0) {
					$("#middleClearDiv").attr("style","");
					$("#middleTableDiv").attr("style","display:none");
				} else {
					$("#middleClearDiv").attr("style","display:none");
					$("#middleTableDiv").attr("style","");
					
					var strTitle = "";
					strTitle += '<th style="width: 10%">댓글 번호</th>';
					strTitle += '<th style="width: 10%">소셜 구분</th>';
					strTitle += '<th style="width: 15%">작성자 </th>';
					strTitle += '<th style="width: 20%">해당 게시글 제목</th>';
					strTitle += '<th style="width: 25%">댓글 내용</th>';
					strTitle += '<th style="width: 20%">작성일</th>';
					
					$("#dynamicTitle").html(strTitle);
					
					$("#middleTable").html("");
					for(i = 0; i < data.length; i++) {
						str="";
						str += "<tr>";
						str += "	<td style='text-align:center;'>" + data[i].commentNo + "</td>";
						
						var img = "";
						
						if(data[i].scCustGubun == "ON") {
							img = '<img src="/img/social/icon/onesportsMiniIcon.jpg" width="30px">';
						} else if(data[i].scCustGubun == "FA") {
							img = '<img src="/img/social/icon/facebookMiniIcon.jpg" width="30px">';
						} else if(data[i].scCustGubun == "KA") {
							img = '<img src="/img/social/icon/kakaoMiniIcon.jpg" width="30px">';
						} else {
							img = '<img src="/img/social/icon/naverMiniIcon.jpg" width="30px">';
						}
						
						var aTag = "<a href='/showBoard/" + data[i].boardNo + "'>"
						+ data[i].boardTitle + "</a>";
						
						str += "	<td style='text-align:center;'>" + img + "</td>";
						str += "	<td style='text-align:center;'>" + data[i].commentAnnoId + "</td>";
						str += "	<td style='text-align:left;'>" + aTag  + "</td>";
						str += "	<td>" + data[i].commentContents + "</td>";
						str += "	<td style='text-align:center;'>" + data[i].regDt + "</td>";
						str += "</tr>";
						$("#middleTable").append(str);
					}	
				}
			}, 
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function getRegisterProductCommentTable() {
		$.ajax({
			url : "/dashboard/getRegisteredProductComment",
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {
				$("#dynamicTableTitle").html("상품평 리스트");
				
				if(data.length==0) {
					$("#middleClearDiv").attr("style","");
					$("#middleTableDiv").attr("style","display:none");
				} else {
					$("#middleClearDiv").attr("style","display:none");
					$("#middleTableDiv").attr("style","");
					
					var strTitle = "";
					strTitle += '<th style="width: 15%">상품평 번호</th>';
					strTitle += '<th style="width: 15%">작성자 </th>';
					strTitle += '<th style="width: 20%">상품 제목</th>';
					strTitle += '<th style="width: 10%">상품 평</th>';
					strTitle += '<th style="width: 20%">상품 댓글</th>';
					strTitle += '<th style="width: 20%">작성일</th>';
					
					$("#dynamicTitle").html(strTitle);
					
					$("#middleTable").html("");
					for(i = 0; i < data.length; i++) {
						str="";
						str += "<tr>";
						str += "	<td style='text-align:center;'>" + data[i].productCommentNo + "</td>";						
						str += "	<td style='text-align:center;'>" + data[i].familyCustNickname + "</td>";
						
						var aTag = "<a href='/showProduct/" + data[i].productNo + "'>"
						+ data[i].productName + "</a>";
						
						str += "	<td style='text-align:left;'>" + aTag + "</td>";
						
						str += "	<td style='text-align:center;'>" + data[i].productCommentRating + "</td>";
						str += "	<td style='text-align:left;'>" + data[i].productCommentContents + "</td>";
						str += "	<td style='text-align:center;'>" + data[i].regDt + "</td>";
						str += "</tr>";
						$("#middleTable").append(str);
					}	
				}
			}, 
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function getBettingCredit() {
		$.ajax({
			url : "/dashboard/resultToto?sportsBettingGroupNo=" + GLOBAL_SPORTS_GROUP_NO,
			type : "POST",
			cache : false,
			dataType : "json",
			success : function(data) {
				if(data == "1") {
					alert("아이고난! 꼴았습니다!");
					location.reload();
					return false;
				} else if(data == "0") {
					alert("이거나드셔! 적중하였습니다!");
					location.reload();
					return false;
				} else if(data == "-99") {
					alert("아직 결과가 안나왔다맨이야.");
				}
			}, 
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
</script>
