<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
<style>
.naverButton{

-webkit-filter: grayscale(100%);
filter: gray;

}
</style>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">로그인</h2>
					</div>

					<div class="row">
						<div class="col-xl-6 col-md-12 mb-6">
							<div class="card shadow h-100 py-12">
								<center>
									<img src="/img/OneSports.png" width="80%" style="margin-top:8%"/>
								</center>
							</div>
						</div>

						<div class="col-xl-6 col-md-12 mb-6">
							<div class="card shadow h-100 py-12">
								<div style="padding: 20px;">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" style="width: 95px;">ID</span>
										</div>
										<input type="text" class="form-control"
											aria-label="Sizing example input"
											aria-describedby="inputGroup-sizing-default" id="id">
									</div>

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">Password</span>
										</div>
										<input type="password" class="form-control"
											aria-label="Sizing example input"
											aria-describedby="inputGroup-sizing-default" id="pw"
											onkeypress="caps_lock(event)">
									</div>
									<p id="capslock"
										style="position: relative; border: 2px solid #003b83; width: 300px; bottom: 0px; display: none">
										&nbsp;<b>CapsLock</b> 키가 눌려있습니다.&nbsp;
									</p>
									<div class="input-group mb-3">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="use">
											<label class="custom-control-label" for="use">아이디 기억</label>
										</div>
									</div>
									<div class="input-group mb-3">
										<img src="/img/social/button/onesportsButton.jpg"
											style="width: 100%; cursor: pointer;"
											onclick="javascript:custLogin()">
									</div>
									<div class="input-group mb-3">
										<img src="/img/social/button/facebookButton.jpg"
											style="width: 100%; cursor: pointer;"
											onClick="javascript:facebookLogin();">
									</div>
									<div class="input-group mb-3">
										<img src="/img/social/button/kakaoButton.jpg"
											style="width: 100%; cursor: pointer;"
											onClick="javascript:kakaoLogin();"> <a
											th:href="${kakaoLoginUrl}" style="display: none"
											id="kakaoSocial">kakao</a>
									</div>
									<div class="input-group mb-3">
										<img 
										src="/img/social/button/naverButton.jpg"
											style="width: 100%; cursor: pointer; -webkit-filter: grayscale(100%); filter: gray;"
											onClick="javascript:naverLogin();"> <a
											th:href="${naverLoginUrl}" style="display: none"
											id="naverSocial">naver</a> <span>*<u><a
												href="http://www.law.go.kr/LSW//precInfoP.do?precSeq=186216"
												target="_blank">관련 법</a></u>에 의하여 네이버 로그인이 중지되었습니다.<br>
												<small>네이버 로그인을 하려면 운영자에게 문의줘야된다 맨이야.</small>
										</span><br>
									</div>
									<p class="text-center">
										<a href="/findID_PW">아이디/비밀번호 찾기</a>
									</p>
									<p class="text-center">
										<a href="/registerCust">회원가입</a>
									</p>
									<input type="hidden" id="refer" th:value="${referUrl}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->


	 <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

	<!-- common -->
    <script src="/js/common.js"></script>
	<script src="/js/header.js"></script>
	
  
  
</body>

</html>
<script>
	function caps_lock(e) {
	    var keyCode = 0;
	    var shiftKey = false;
	    keyCode = e.keyCode;
	    shiftKey = e.shiftKey;
	    if (((keyCode >= 65 && keyCode <= 90) && !shiftKey)
	            || ((keyCode >= 97 && keyCode <= 122) && shiftKey)) {
	        show_caps_lock();
	        setTimeout("hide_caps_lock()", 3500);
	    } else {
	        hide_caps_lock();
	    }
	}
	
	function show_caps_lock() {
	 $("#capslock").show();
	}
	
	function hide_caps_lock() {
	 $("#capslock").hide();
	}
	
	function custLogin() {
		id = $("#id");
		pw = $("#pw");
		
		if(id.val().trim() == "") {
			alert("아이디를 입력해주세요.")
			id.focus();
			return;
		}
		
		if(pw.val() == "") {
			alert("비밀번호를 입력해주세요.")
			pw.focus();
			return;
		}

		$.ajax({
			url : "/login/custLogin",
			type : "POST",
			cache : false,
			dataType : "json",
			data : "custId=" + id.val() 
					+ "&custPassword=" + pw.val(),
			success : function(data) {
				if(data == -99) {
					alert("아이디나 비밀번호가 다릅니다.");
					$("#pw").val("")
					return;
				}
				
				if($("input:checkbox[id='use']").is(":checked") == true) {
					setCookie("rememberCustId",id.val(),30);
				} else {
					deleteCookie("rememberCustId");
				}
				
				location.replace($("#refer").val());
			},

			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	$(document).ready(function(){
		remeberedId = getCookie("rememberCustId");
		
		if(remeberedId != undefined) {
			$("#id").val(remeberedId)			
			$("input:checkbox[id='use']").prop("checked", true);
		}
		
		
        $("#id, #pw").keypress(function (e) {
	        if (e.which == 13){
	        	custLogin();
	        }
    	});
	});
	
	function naverLogin() {
		var url = $("#naverSocial").attr("href")
		var popupX = (document.body.offsetWidth / 2) - (680 / 2);
		var popupY= (document.body.offsetHeight / 2) - (650 / 2);

		window.open(url, '', 'status=no, height=680, width=650, left='+ popupX + ', top='+ popupY);
	}
	
	function kakaoLogin() {
		var url = $("#kakaoSocial").attr("href")
		var popupX = (document.body.offsetWidth / 2) - (680 / 2);
		var popupY= (document.body.offsetHeight / 2) - (650 / 2);

		window.open(url, '', 'status=no, height=680, width=650, left='+ popupX + ', top='+ popupY);
	}
	
	function successKakao() {
		location.replace($("#refer").val())
	}
	
	function successNaver() {
		location.replace($("#refer").val())
	}
</script>

<script>
window.fbAsyncInit = function() {
FB.init({
    appId            : '380846455933511',
    autoLogAppEvents : true,
    xfbml            : true,
    version          : 'v2.9'
  });
}

function getUserData() {
    //,age_range'
	FB.api('/me','GET', {"fields": 'name,email,id'}, function(response) {
    	id = response.id
    	name = response.name
    	email = response.email
    	//age = response.age_range // 18세 이상만 가입가능
    	
    	if(id == undefined || id == "") {
    		alert("아이디정보를 불러 올 수 없어서 페이스북 로그인에 실패하였습니다.");
    		return;
    	}
    	
    	/*if(age == undefined || age == "") {
    		alert("나이를 불러 올 수 없어서 페이스북 로그인에 실패하였습니다.");
    		return;
    	} else {
    		age = response.age_range.min;
    		
    		if(age < 18) {
        		alert("성인만 가입할 수 있습니다.");
        		return;
        	}
    	}*/
    	
    	if(email == undefined || email == "") {
    		alert("이메일정보를 불러 올 수 없어서 페이스북 로그인에 실패하였습니다.");
    		return;
    	}
    	
    	$.ajax({
			url : "/login/social/facebook",
			type : "POST",
			cache : false,
			dataType : "json",
			data : "scCustId=" + id
					+ "&scCustEmail=" + email
					+ "&scCustNick=" + name
					+ "&scCustGubun=" + "FA",
			success : function(data) {
				if(data == 0) {
					location.replace($("#refer").val())
				}
			},

			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
    });
}

function facebookLogin() {
	 FB.login(function(response) {
        if (response.authResponse) {
            getUserData();
        }
    // }, {scope: 'email,public_profile,age_range',
    }, {scope: 'email,public_profile',
   	 auth_type: 'rerequest', return_scopes: true});
}


	function caps_lock(e) {
		var keyCode = 0;
		var shiftKey = false;
		keyCode = e.keyCode;
		shiftKey = e.shiftKey;
       
		if (((keyCode >= 65 && keyCode <= 90) && !shiftKey)
			|| ((keyCode >= 97 && keyCode <= 122) && shiftKey)) {
			show_caps_lock();
			setTimeout("hide_caps_lock()", 3500);
		} else {
			hide_caps_lock();
		}
	}

	function show_caps_lock() {
	     $("#capslock").show();
	}
	
	function hide_caps_lock() {
	     $("#capslock").hide();
	}

</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js">
</script>