	<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

<style>
	.list-group {
		max-height: 300px;
		margin-bottom: 10px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
</style>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar">
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">회원가입</h2>
					</div>
					<br>

					<div class="row">
						<div class="col-xl-12 col-md-12 mb-12">
							<div class="card shadow h-100 py-12">
								<div style="padding: 20px;">
									<div class="row">
										<h3>회원정보</h3>
									</div>
									<hr>
									<label>아이디</label> <input type="text" class="form-control"
										placeholder="ID" aria-label="Username" id="id" onBlur="javascrpt:checkId()">
										
										<span id="check"></span>
							<br><br>
									<label>비밀번호</label> <input type="password" class="form-control"
										placeholder="Password" aria-label="Password" id="password">
										<br>
									<label>비밀번호 확인</label> <input type="password"
										class="form-control" placeholder="Password check"
										aria-label="Password check" id="passwordCheck"><br>
									<label>닉네임</label> <input type="text" class="form-control"
										placeholder="Nickname" aria-label="Nickname" id="nickname"><br>
									<label>이메일</label>
									<div class="row">
										<div class="col-xl-4 col-md-4 mb-4">
											<input type="text" class="form-control" placeholder="E-mail"
												aria-label="E-mail" id="email1">
										</div>
										<label style="padding-top: 6px;">@</label>
										<div class="col-xl-4 col-md-4 mb-4">
											<input type="text" class="form-control" placeholder="E-mail"
												aria-label="E-mail" id="email2">
										</div>
										<div class="col-xl-3 col-md-3 mb-3">
											<select class="custom-select" id="emailChoose"
												onChange="chooseEmail()">
												<option selected value="J">직접선택</option>
												<option value="N">Naver.com</option>
												<option value="D">Daum.net</option>
												<option value="G">Google.com</option>
											</select>
										</div>
									</div>
									<br>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xl-12 col-md-12 mb-12">
							<div class="card shadow h-100 py-12">
								<div style="padding: 20px;">
									<div class="row">
										<h3>배송지</h3>
									</div>
									<hr>
									<h4><label>주소</label></h4>
									<div class="row">
										<div class="col-xl-4 col-md-4 mb-4">
											<span>시</span>
											<div class="input-group mb-3">
												<select class="custom-select" id="sido" onChange="getGugun();" >
													<option selected="">시</option>
												</select>
											</div>
										</div>
										<div class="col-xl-4 col-md-4 mb-4">
											<span>구/군</span>
											<select class="custom-select" id="gugun" onChange="javascript:getDong();">
												<option selected="">구/군</option>
											</select>
										</div>
										<div class="col-xl-4 col-md-4 mb-4">
											<span>동</span>	
											<select class="custom-select" id="dong" onChange="javascript:getZipList();">
												<option selected="">동</option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-xl-6 col-lg-12 col-md-12 mb-6">
											<div class="input-group mb-3" onChange="getZipList();">
												<span class="text-word-r">상세주소</span>
												<input type="text" class="form-control"
													placeholder="Address" aria-label="Address" id="addr">
											</div>
										</div>
										<div class="col-xl-6 col-lg-12 col-md-12 mb-6">
											<div
												class="custom-control custom-radio custom-control-inline"  onClick="radioChange('gu');">
												<input type="radio" id="guCheck"
													name="zipRadio" class="custom-control-input" value="gu">
												<label class="custom-control-label"
													for="guCheck">구주소 우편번호</label>
											</div>
											<div
												class="custom-control custom-radio custom-control-inline" onClick="radioChange('new');">
												<input type="radio" id="newCheck"
													name="zipRadio" class="custom-control-input" value="new" checked>
												<label class="custom-control-label"
													for="newCheck">도로명 우편번호</label>
											</div>
											<div class="input-group mb-3" id="zipArea">
												<span class="text-word-r">우편번호</span>
												<input type="text" class="form-control"
													placeholder="Zip Code" aria-label="zipcode1" id="zipcode1">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<nav id="navbar-example2"
												class="navbar navbar-light bg-light">
												<h4>상세주소 리스트</h4>
											</nav>
											<div data-spy="scroll" data-target="#navbar-example2"
												data-offset="0">
												<div class="list-group" id="list-tab" role="tablist">
													주소를 선택해주세요.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xl-12 col-md-12 mb-12">
							<div class="card shadow h-100 py-12">
								<div style="padding: 20px;">
									<div class="row">
										<h4>기타</h4>
									</div>
									<hr>
									<label>추천인</label> <input type="text" class="form-control"
										placeholder=Recommender aria-label="Recommender"
										id="recommender"><br>
									<div class="row">
										<div class="col-xl-3 col-md-6 mb-3">
											<img src="/captcha/index" id="imgCaptcha"
												style="min-width: 235px; max-width: 100%; float: right; height: 100%;">
										</div>
										<div class="col-xl-9 col-md-6 mb-9">
											<div class="row">
												<div class="col-xl-6 col-md-6 mb-6">
													<div class="input-group mb-3">
														<button type="button"
															class="btn btn-secondary btn-lg btn-block " id="refresh">새로고침</button>
													</div>
												</div>
												<div class="col-xl-6 col-md-6 mb-6">
													<div class="input-group mb-3">
														<button type="button"
															class="btn btn-secondary btn-lg btn-block"
															onclick="javascript:voice();">음성듣기</button>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xl-12 col-md-12 mb-12">
													<div class="input-group mb-3">
														<input type="text" class="form-control"
															placeholder="입력해 주세요." aria-label="capturea"
															aria-describedby="basic-addon1" id="captcha">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xl-12 col-md-12 mb-12">
													<div class="input-group mb-3">*이미지에 있는 문자를 입력해주세요.</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xl-6 col-md-6 mb-6">
											<div class="input-group mb-3">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="use"> <label class="custom-control-label"
														for="use"><a href="#" data-toggle="modal"
														data-target="#exampleModalScrollable">이용약관</a>에 동의하십니까?</label>
												</div>
											</div>
										</div>
										<div class="col-xl-6 col-md-6 mb-6">
											<div class="input-group mb-3">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="adult"> <label class="custom-control-label"
														for="adult"><a href="#" data-toggle="modal"
														data-target="#adultModal">성인</a>이십니까?</label>
												</div>
											</div>
										</div>
									</div>
									<div class="input-group mb-3">
										<button type="button"
											class="btn btn-secondary btn-lg btn-block"
											onClick="javascript:register();">회원가입</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	 <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

	<!-- Modal -->
	<div class="modal fade" id="exampleModalScrollable" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalScrollableTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalScrollableTitle">이용 약관</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<pre>
	      		
제1조(목적)

이 약관은 패밀리토토(전자거래 사업자)이 운영하는 홈페이지(이하 "패밀리"이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 있어 이용자의 권리·의무 및 책임사항을 규정함을 목적으로 합니다.
※ 「PC통신 등을 이용하는 전자거래에 대해서도 그 성질에 반하지 않는 한 이 약관을 준용합니다」

제2조(정의)
① "패밀리" 이란 사업자가 재화 또는 용역을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 또는 용역을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 패밀리을 운영하는 사업자의 의미로도 사용합니다.
② "이용자"란 "패밀리"에 접속하여 이 약관에 따라 "패밀리"가 제공하는 서비스를 받는 회원 및 비회원을 말합니다.
③ "회원"이라 함은 "패밀리"에 개인정보를 제공하여 회원등록을 한 자로서, "패밀리"의 정보를 지속적으로 제공받으며, "패밀리"이 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.
④ "비회원"이라 함은 회원에 가입하지 않고 "패밀리"가 제공하는 서비스를 이용하는 자를 말합니다.

제3조 (약관의 명시와 개정)
① "패밀리"은 이 약관의 내용과 상호, 영업소 소재지, 대표자의 성명, 사업자등록번호, 연락처(전화, 팩스, 전자우편 주소 등) 등을 이용자가 알 수 있도록 사이트의 초기 서비스화면(전면)에 게시합니다.
② "패밀리"은 약관의 규제 등에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망 이용촉진 등에 관한 법률, 방문판매 등에 관한법률, 소비자보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
③ "패밀리"이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 홈페이지의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.
④ "패밀리"이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 "패밀리"에 송신하여 "패밀리"의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.
⑤ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 정부가 제정한 전자거래소비자보호지침 및 관계법령 또는 상관례에 따릅니다.

제4조(서비스의 제공 및 변경)
① "패밀리"은 다음과 같은 업무를 수행합니다.
1. 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결
2. 구매계약이 체결된 재화 또는 용역의 배송
3. 기타 "패밀리"이 정하는 업무
② "패밀리"은 재화의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화·용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화·용역의 내용 및 제공일자를 명시하여 현재의 재화·용역의 내용을 게시한 곳에 그 제공일자 이전 7일부터 공지합니다.
③ "패밀리"이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 "패밀리"은 이로 인하여 이용자가 입은 손해를 배상합니다. 단, "패밀리"에 고의 또는 과실이 없는 경우에는 그러하지 아니합니다.

제5조(서비스의 중단)
① "패밀리"은 컴퓨터 등 정보통신설비의 보수점검·교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.
② 제1항에 의한 서비스 중단의 경우에는 "패밀리"은 제8조에 정한 방법으로 이용자에게 통지합니다.
③ "패밀리"은 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상합니다. 단 "패밀리"에 고의 또는 과실이 없는 경우에는 그러하지 아니합니다.

제6조(회원가입)
① 이용자는 "패밀리"이 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.
② "패밀리"은 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.

1. 가입신청자가 이 약관 제7조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제7조 제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 "패밀리"의 회원재가입 승낙을 얻은 경우에는 예외로 한다.
2. 등록 내용에 허위, 기재누락, 오기가 있는 경우
3. 기타 회원으로 등록하는 것이 "패밀리"의 기술상 현저히 지장이 있다고 판단되는 경우

③ 회원가입계약의 성립 시기는 "패밀리"의 승낙이 회원에게 도달한 시점으로 합니다.
④ 회원은 제15조 제1항에 의한 등록사항에 변경이 있는 경우, 즉시 전자우편 기타 방법으로 "패밀리"에 대하여 그 변경사항을 알려야 합니다.

제7조(회원 탈퇴 및 자격 상실 등)
① 회원은 "패밀리"에 언제든지 탈퇴를 요청할 수 있으며 "패밀리"은 즉시 회원탈퇴를 처리합니다.
② 회원이 다음 각 호의 사유에 해당하는 경우, "패밀리"은 회원자격을 제한 및 정지시킬 수 있습니다.

1. 가입 신청 시에 허위 내용을 등록한 경우
2. "패밀리"을 이용하여 구입한 재화·용역 등의 대금, 기타 "패밀리" 이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우
3. 다른 사람의 "패밀리" 이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를 위협하는 경우
4. "패밀리"을 이용하여 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우

③ "패밀리"이 회원 자격을 제한·정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 "패밀리"은 회원자격을 상실시킬 수 있습니다.
④ "패밀리"이 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 소명할 기회를 부여합니다.

제8조(회원에 대한 통지)
① "패밀리"이 회원에 대한 통지를 하는 경우, 회원이 "패밀리"에 제출한 전자우편 주소로 할 수 있습니다.
② "패밀리"은 불특정다수 회원에 대한 통지의 경우 1주일이상 "패밀리" 게시판에 게시함으로서 개별 통지에 갈음할 수 있습니다.

제9조(구매신청)
"패밀리" 이용자는 "패밀리"상에서 이하의 방법에 의하여 구매를 신청합니다.
1. 성명, 비밀번호, 전화번호, 핸드폰번호, 주소, E-MAIL 입력
2. 재화 또는 용역의 선택
3. 결제방법의 선택
4. 이 약관에 동의한다는 표시(예, 마우스 클릭)

제10조 (계약의 성립)
① "패밀리"은 제9조와 같은 구매신청에 대하여 다음 각 호에 해당하지 않는 한 승낙합니다.
1. 신청 내용에 허위, 기재누락, 오기가 있는 경우
2. 미성년자가 담배, 주류 등 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우
3. 기타 구매신청에 승낙하는 것이 "패밀리" 기술상 현저히 지장이 있다고 판단하는 경우
② "패밀리"의 승낙이 제12조 제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.

제11조(지급방법)
"패밀리"에서 구매한 재화 또는 용역에 대한 대금지급방법은 다음 각 호의 하나로 할 수 있습니다.
1. 계좌이체
2. 신용카드결제
3. 온라인무통장입금
4. 전자화폐에 의한 결제
5. 수령 시 대금지급 등

제12조(수신확인통지·구매신청 변경 및 취소)
① "패밀리"은 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다.
② 수신확인통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있습니다.
③ "패밀리"은 배송 전 이용자의 구매신청 변경 및 취소 요청이 있는 때에는 지체 없이 그 요청에 따라 처리합니다.

제13조(배송)
"패밀리"은 이용자가 구매한 재화에 대해 배송수단, 수단별 배송비용 부담자, 수단별 배송기간 등을 명시합니다. 만약 "패밀리"의 고의·과실로 약정 배송기간을 초과한 경우에는 그로 인한 이용자의 손해를 배상합니다.
제14조(환급, 반품 및 교환)
① "패밀리"은 이용자가 구매 신청한 재화 또는 용역이 품절 등의 사유로 재화의 인도 또는 용역의 제공을 할 수 없을 때에는 지체 없이 그 사유를 이용자에게 통지하고, 사전에 재화 또는 용역의 대금을 받은 경우에는 대금을 받은 날부터 3일 이내에, 그렇지 않은 경우에는 그 사유발생일로부터 3일 이내에 계약해제 및 환급절차를 취합니다.
​​② 다음 각 호의 경우에는 "패밀리"은 배송된 재화일지라도 재화를 반품 받은 다음 영업일 이내에 이용자의 요구에 따라 즉시 환급, 반품 및 교환 조치를 합니다. 다만 그 요구기한은 배송된 날로부터 20일 이내로 합니다.
​
1. 배송된 재화가 주문내용과 상이하거나 "패밀리"이 제공한 정보와 상이할 경우
​2. 배송된 재화가 파손, 손상되었거나 오염되었을 경우
3. 재화가 광고에 표시된 배송기간보다 늦게 배송된 경우
4. 방문판매 등에 관한 법률 제18조에 의하여 광고에 표시하여야 할 사항을 표시하지 아니한 상태에서 이용자의 청약이 이루어진 경우

제15조(개인정보보호)
​① "패밀리"은 이용자의 정보 수집시 구매계약 이행에 필요한 최소한의 정보를 수집합니다.
​다음 사항을 필수사항으로 하며 그 외 사항은 선택사항으로 합니다.
​
1. 희망ID(회원의 경우)
​2. 비밀번호(회원의 경우)
3. 이름
4. 별명
5. E-MAIL
6. 주소
​7. 전화번호
8. 휴대번호
​9. 메일링서비스
10. SMS 수신여부

② "패밀리"이 이용자의 개인 식별이 가능한 개인정보를 수집하는 때에는 반드시 당해 이용자의 동의를 받습니다.
③ 제공된 개인정보는 당해 이용자의 동의 없이 목적 외의 이용이나 제3자에게 제공할 수 없으며, 이에 대한 모든 책임은 "패밀리"이 집니다. 다만, 다음의 경우에는 예외로 합니다.

1. 배송업무상 배송업체에게 배송에 필요한 최소한의 이용자의 정보(성명, 주소, 전화번호)를 알려주는 경우
2. 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우

④ "패밀리"이 제2항과 제3항에 의해 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명 및 전화번호 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공 받는자, 제공목적 및 제공할 정보의 내용)등 정보통신망이용촉진 등에 관한 법률 제16조 제3항이 규정한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수 있습니다. 
⑤ 이용자는 언제든지 "패밀리"이 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 "패밀리"은 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에는 "패밀리"은 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.
⑥ "패밀리"은 개인정보 보호를 위하여 관리자를 한정하여 그 수를 최소화하며 신용카드, 은행계좌 등을 포함한 이용자의 개인정보의 분실, 도난, 유출, 변조 등으로 인한 이용자의 손해에 대하여 모든 책임을 집니다.
⑦ "패밀리" 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체 없이 파기합니다.

제16조("패밀리"의 의무)
① "패밀리"은 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화·용역을 제공하는 데 최선을 다하여야 합니다.
② "패밀리"은 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.
③ "패밀리"이 상품이나 용역에 대하여 「표시·광고의 공정화에 관한 법률」 제3조 소정의 부당한 표시·광고행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집니다.
④ "패밀리"은 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.

제17조( 회원의 ID 및 비밀번호에 대한 의무)
① 제15조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있습니다.
② 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안 됩니다.
③ 회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 "패밀리"에 통보하고 "패밀리"의 안내가 있는 경우에는 그에 따라야 합니다.

제18조(이용자의 의무)
이용자는 다음 행위를 하여서는 안 됩니다.
1. 신청 또는 변경 시 허위내용의 등록
2. "패밀리"에 게시된 정보의 변경
3. "패밀리"이 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시
4. "패밀리" 기타 제3자의 저작권 등 지적재산권에 대한 침해
5. "패밀리" 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
6. 외설 또는 폭력적인 메시지·화상·음성 기타 공서양속에 반하는 정보를 홈페이지에 공개 또는 게시하는 행위

​제19조(연결"패밀리"과 피연결"패밀리" 간의 관계)
① 상위 "패밀리"과 하위 "패밀리"이 하이퍼링크(예: 하이퍼링크의 대상에는 문자, 그림 및 동화상 등이 포함됨)방식 등으로 연결된 경우, 전자를 연결 "패밀리"(웹 사이트)이라고 하고 후자를 피연결 "패밀리"(웹사이트)이라고 합니다.
② 연결 "패밀리"은 피연결 "패밀리"이 독자적으로 제공하는 재화·용역에 의하여 이용자와 행하는 거래에 대해서 보증 책임을 지지 않는다는 뜻을 연결 "패밀리"의 사이트에서 명시한 경우에는 그 거래에 대한 보증 책임을 지지 않습니다.

제20조(저작권의 귀속 및 이용제한)
① "패밀리"이 작성한 저작물에 대한 저작권 기타 지적재산권은 "패밀리"에 귀속합니다.
② 이용자는 "패밀리"을 이용함으로써 얻은 정보를 "패밀리"의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다.

제21조(분쟁해결)
① "패밀리"은 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치·운영합니다.
② "패밀리"은 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.
③ "패밀리"과 이용자간에 발생한 분쟁은 전자거래기본법 제28조 및 동 시행령 제15조에 의하여 설치된 전자거래분쟁조정위원회의 조정에 따를 수 있습니다.

제22조(재판권 및 준거법)
① "패밀리"과 이용자간에 발생한 전자거래 분쟁에 관한 소송은 민사소송법상의 관할법원에 제기합니다.
② "패밀리"과 이용자간에 제기된 전자거래 소송에는 한국법을 적용합니다.
	      	</pre>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="adultModal" tabindex="-1" role="dialog"
		aria-labelledby="adultModal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="adultModal">성인</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					자라서 어른이 된 사람. 보통 만 19세 이상의 남녀를 이른다.<br> 성인이 아니라면 뒤로가기를 눌러주세요.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

<script>
	getSido();
	
	function getSido() {
		$.ajax({
			url : "/zipcode/getSido",
			type : "POST",
			cache : false,
			async : false,
			dataType : "json",
			success : function(data) {
				var sStr = "";
				
				for(var i = 0;i < data.length; i++) {
					var sSido = data[i].sido;
					sStr += "<option value='" + sSido + "'>" + sSido + "</option>";
				}
				
				$("#sido").html(sStr);
				getGugun();
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function getGugun() {
		$.ajax({
			url : "/zipcode/getGugun",
			type : "POST",
			cache : false,
			async : false,
			dataType : "json",
			data : "sido=" + $("#sido").val(),
			success : function(data) {
				var sStr = "";
				
				for(var i = 0;i < data.length; i++) {
					var sData = data[i].gugun;
					sStr += "<option value='" + sData + "'>" + sData + "</option>";
				}
				
				$("#gugun").html(sStr);
				getDong();
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function getDong() {
		$.ajax({
			url : "/zipcode/getDong",
			type : "POST",
			cache : false,
			async : false,
			dataType : "json",
			data : "sido=" + $("#sido").val()
					+ "&gugun=" + $("#gugun").val(),
			success : function(data) {
				var sStr = "";
				
				for(var i = 0;i < data.length; i++) {
					var sData = data[i].dong;
					sStr += "<option value='" + sData + "'>" + sData + "</option>";
				}
				
				$("#dong").html(sStr);
				getZipList();
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function getZipList() {
		$.ajax({
			url : "/zipcode/getZip",
			type : "POST",
			cache : false,
			async : false,
			dataType : "json",
			data : "sido=" + $("#sido").val()
					+ "&gugun=" + $("#gugun").val()
					+ "&dong=" + $("#dong").val(),
			success : function(data) {
				var sStr = "";
				var sListLi = "";
				
				if(data.length > 0) {
					for(var i = 0;i < data.length; i++) {
						var sRi = data[i].ri;
						var zip1 = data[i].zipCode1;
						var zip2 = data[i].zipCode2;
						
						var gubun = "구주소";
						
						
						if(zip1 == undefined) {
							zip1 = "";
							gubun = "도로명주소";
						} 
						 
						if(zip2 == undefined) {
							zip2 = "";
						}
						
						var sListData = "";
	
						sListData += "<a class='list-group-item list-group-item-action '";
						sListData += " data-toggle='list' href='javascript:;' ri='" + sRi + "' zipcode1='" + zip1 +"' zipcode2='" + zip2 +"'";
						sListData += " onClick='javascript:chooseZip($(this));'";						
						sListData += "role='tab' >" + sRi + "<sup><b>" + gubun + "</b></sup></a>";
						
						sListLi += sListData; 
					} 
				} else {
					sListLi = "<center>상세주소가 존재하지 않습니다.</center>"
				}
				
				$("#addr").val("");
				$("#zipcode1").val("");
				$("#zipcode2").val("");
				
				
				$("#list-tab").html(sListLi);				
			},error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
	
	function chooseZip(obj) {
		$("#addr").val(obj.attr("ri"));
		$("#zipcode1").val(obj.attr("zipcode1"));
		$("#zipcode2").val(obj.attr("zipcode2"));
		
		if(obj.attr("zipcode1") == "") {
			$("input:radio[id='newCheck']").prop('checked', true);
			radioChange("new")
		} else {
			$("input:radio[id='guCheck']").prop('checked', true);
			radioChange("gu")
		}
	}
	
	function radioChange(radioValue) {
		var sStr = "";

		if(radioValue == "gu") {
			sStr+='<span class="text-word-r">우편번호</span>';
			sStr+='<input type="text" class="form-control" placeholder="Zip Code" aria-label="zipcode1" id="zipcode1">';
			sStr+='<span style="margin-top: 6px;">-</span>';
			sStr+='<input type="text" class="form-control" placeholder="Zip Code" aria-label="zipcode2" id="zipcode2">';
		} else {
			sStr+='<span class="text-word-r">우편번호</span>';
			sStr+='<input type="text" class="form-control" placeholder="Zip Code" aria-label="zipcode1" id="zipcode1">';
		}
		
		$("#zipArea").html(sStr);
	}

	function chooseEmail() {
		ec = $("#emailChoose").val()
		email2 = $("#email2")

		email2.prop('disabled', true);

		if (ec == "J") {
			email2.val("");
			email2.prop('disabled', false);
		} else if (ec == "N") {
			email2.val("naver.com");
		} else if (ec == "D") {
			email2.val("daume.net");
		} else {
			email2.val("google.com");
		}
	}

	function register() {
		var email = "";

		captcha = $("#captcha");
		custId = $("#id");
		custPassword = $("#password");
		passwordCheck = $("#passwordCheck");

		familyCustNickname = $("#nickname");
		addr = $("#addr");
		reco = $("#recommender");

		email1 = $("#email1");
		email2 = $("#email2");
		email = email1.val() + "@" + email2.val();

		if (custId.val().trim() == "") {
			alert("아이디를 입력해주세요.");
			custId.focus();
			return;
		}

		// 영,숫 유효성검사하기

		var regexp = /^[0-9ㄱ-힣a-zA-Z]*$/
		v = custId.val()

		if (!regexp.test(v) || custId.val().length < 4
				|| custId.val().length > 20) {
			alert("아이디는 4~20자리, 영어, 숫자, 한글만 입력이 가능합니다.");
			custId.focus();
			return;
		}

		if (custPassword.val() == "") {
			alert("비밀번호를 입력해주세요.");
			custPassword.focus();
			return;
		}

		if (passwordCheck.val() == "") {
			alert("비밀번호 확인을 입력해주세요.");
			passwordCheck.focus();
			return;
		}

		if (passwordCheck.val().length < 4 || passwordCheck.val().length > 20) {
			alert("비밀번호는 4~20자리까지 입력이 가능합니다.");
			passwordCheck.focus();
			return;
		}

		if (passwordCheck.val() != custPassword.val()) {
			alert("비밀번호와 비밀번호 확인이 다릅니다.");
			passwordCheck.focus();
			return;
		}

		if (familyCustNickname.val().trim() == "") {
			alert("닉네임을 입력해주세요.");
			familyCustNickname.focus();
			return;
		}

		var regexp = /^[0-9ㄱ-힣a-zA-Z]*$/
		v = familyCustNickname.val()

		if (!regexp.test(v) || familyCustNickname.val().length < 2
				|| familyCustNickname.val().length > 8) {
			alert("닉네임은 2~8자리, 영어, 숫자, 한글만 입력이 가능합니다.");
			familyCustNickname.focus();
			return;
		}
		
		if($("#email1").val().trim() == "") {
			alert("이메일을 입력해주세요.");
			$("#email1").focus();
			return;
		}
		
		if($("#email2").val().trim() == "") {
			alert("이메일을 입력해주세요.");
			$("#email2").focus();
			return;
		}

		if (captcha.val().trim() == "") {
			alert("자동 가입 방지 문자를 입력해주세요.");
			captcha.focus();
			return;
		}

		if ($("input:checkbox[id='use']").is(":checked") == false) {
			alert("이용약관을 체크해주세요.");
			return;
		}
		if ($("input:checkbox[id='adult']").is(":checked") == false) {
			alert("성인이 아니면 가입을 할 수가 없습니다.\n성인이면 체크해주세요.");
			return;
		}
		
		var zipCode1 = $("#zipcode1").val();
		var zipCode2 = $("#zipcode2").val();
		
		if(zipCode2 == undefined) {
			zipCode2 = "";
		}

		$.ajax({
			url : "/registerCust/register",
			type : "POST",
			cache : false,
			async : false,
			dataType : "json",
			data : "custId=" + custId.val()
					+ "&custPassword=" + passwordCheck.val()
					+ "&familyCustNickname=" + familyCustNickname.val()
					+ "&familyCustEmail=" + email
					+ "&familyCustAddr=" + addr.val()
 					+ "&zipCode1=" + zipCode1
					+ "&zipCode2=" + zipCode2
					+ "&familyCustAddrSi=" + $("#sido").val()
					+ "&familyCustAddrGugun=" + $("#gugun").val()
					+ "&familyCustAddrDong=" + $("#dong").val()
					+ "&familyCustRecommend=" + reco.val()
					+ "&captcha=" + captcha.val(),
			success : function(data) {
				if (data == -99) {
					alert("자동 가입 방지 문자를 잘못 입력하였습니다.");
					captcha.focus();
					return;
				} else if (data == -98) {
					alert("이미 존재하는 아이디입니다.");
					custId.focus();
					return;
				} else if (data == -97) {
					alert("이미 존재하는 닉네임입니다.");
					familyCustNickname.focus();
					return;
				} else if (data == 1) {
					alert("추천인아이디가 존재하지않습니다.\n회원가입에는 성공하였습니다.");
					location.replace("/")
				} else {
					alert("회원가입에 성공하였습니다.");
					
					$.ajax({
						url : "/login/custLogin",
						type : "POST",
						cache : false,
						dataType : "json",
						data : "custId=" + custId.val() 
								+ "&custPassword=" + passwordCheck.val(),
						success : function(data) {
							if(data == -99) {
								alert("아이디나 비밀번호가 다릅니다.")
								return;
							}
							
							location.replace("/")
						},

						error : function(request, status, error) {
							var msg = "ERROR : " + request.status + "<br>"
							msg += +"내용 : " + request.responseText + "<br>" + error;
							console.log(msg);
						}
					});
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}

	$("#refresh").click(function() {
		$("#imgCaptcha").attr("src", "/captcha/index");
	});

	function voice() {
		var uAgent = navigator.userAgent;
		var soundUrl = '/captcha/voice';
		if (uAgent.indexOf('Trident') > -1 || uAgent.indexOf('MSIE') > -1) {
			//IE일 경우 호출
			winPlayer(soundUrl + '?agent=msie&rand=' + Math.random());
		} else if (!!document.createElement('audio').canPlayType) {
			//Chrome일 경우 호출
			try {
				new Audio(soundUrl).play();
			} catch (e) {
				winPlayer(soundUrl);
			}
		} else
			window.open(soundUrl, '', 'width=1,height=1');
	}
	
	function checkId() {
		custId = $("#id")
		var regexp = /^[0-9ㄱ-힣a-zA-Z]*$/
		v = $("#id").val()
				
		if (!regexp.test(v) || custId.val().length < 4
				|| custId.val().length > 20) {
			$("#check").html("아이디는 4~20자리, 영어, 숫자, 한글만 입력이 가능합니다.");
			$("#check").attr("style","color:red");
			return;
		}
		
		$.ajax({
			url : "/registerCust/checkId",
			type : "POST",
			cache : false,
			async : false,
			dataType : "html",
			data: "custId=" + $("#id").val(),
			success : function(data) {
				if(data.trim() == -99) {
					$("#check").html("사용할 수 있는 아이디입니다.");
					$("#check").attr("style","color:blue");
				} else {
					$("#check").html("이미 사용중인 아이디입니다.");
					$("#check").attr("style","color:red");
				}
			},
			error : function(request, status, error) {
				var msg = "ERROR : " + request.status + "<br>"
				msg += +"내용 : " + request.responseText + "<br>" + error;
				console.log(msg);
			}
		});
	}
</script>