<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"
>
<meta name="description" content="">
<meta name="author" content="">

<title>One Sports</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css"
>
<link th:href="@{/css/Nunito.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar" th:include="/sidebar/sidebar"
		>
		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:include="/header/header"
				></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						<h2 class="text-title">게임 랭킹</h2>
							<h2 class="text-title">경험치 랭킹</h2>
						&nbsp;<a class="btn btn-light btn-circle" id="helpButton" character="토순이" href="javascript:;">
							<i class="fas fa-info-circle"></i>
						</a>	
					</div>
					<div class="card shadow h-100 py-12">
						<div style="padding-bottom:20px;">
							<ul class="nav nav-tabs nav-justified">
								<li class="nav-item">
									<a class="nav-link lgs"  href="?gameName=LGS">사다리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link dgs" href="?gameName=DGS">홀짝</a>
								</li>
								<li class="nav-item">
									<a class="nav-link ggs" href="?gameName=GGS">그래프</a>
								</li>
								<li class="nav-item">
									<a class="nav-link rgs" href="?gameName=RGS">슬롯머신</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th width="15%">순위</th>
											<th width="15%">레벨</th>
											<th width="15%">플레이 수</th>
											<th width="*">닉네임</th>
											<th width="15%">크레딧 수익</th>
											<th width="15%">누적경험치</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list, index : ${list}">
											<td style="text-align: center;" th:text="${index.index+1}"></td>
											<td style="text-align: center;" th:text="${list.getLevel()}"></td>
											<td style="text-align: center;" th:text="${list.getGameCnt()}"></td>
											<td th:text="${list.getFamilyCustNickname()}"></td>
											<td style="text-align: right;" th:text="${#numbers.formatInteger(list.getCreditValue(), 0, 'COMMA')}"></td>
											<td style="text-align: right;" th:text="${#numbers.formatInteger(list.getExpValue(), 0, 'COMMA')}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white" th:include="/footer/footer">

			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->



	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	<!-- common -->
	<script src="/js/common.js"></script>
	<script src="/js/header.js"></script>


</body>

</html>

<script>
var helpCommentList = [
	"여긴 특정게임마다 순위를보여주는<br>게임랭킹페이지야<br>"
+ "각각 순위,레벨,플레이수,닉네임,누적경험치로 구성되어있어",	
"게임은사다리,홀짝,그래프,슬롯머신 <br>"
+ "네개의 게임목록이있어 <br>"
+ "여기도 경험치랭킹처럼<br>"
+ "누적경험치량순으로 순위를매겨<br>",
"여기도 본인의 랭킹을 올리고싶다면<br>토토를 많이해야겠지?"]

	if(getParameterByName("gameName") == "LGS") {
		$(".lgs").addClass("active");
	} else if(getParameterByName("gameName") == "DGS") {
		$(".dgs").addClass("active");
	} else if(getParameterByName("gameName") == "GGS") {
		$(".ggs").addClass("active");
	} else if(getParameterByName("gameName") == "RGS") {
		$(".rgs").addClass("active");
	} else {
		$(".lgs").addClass("active");
	}
	
	function getParameterByName(name) {
	    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	        results = regex.exec(location.search);
	    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}
</script>