<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="basket">
	<insert id="insertBasket">
        INSERT INTO BASKET (
			FAMILY_CUST_NO,		PRODUCT_NO,		BASKET_AMOUNT,
            REG_CUST_NO,		REG_DT,			REG_IP,			USE_YN
        ) VALUES (
			#{familyCustNo},	#{productNo},	#{basketAmount},
            #{regCustNo},		NOW(),			#{regIp},		'Y'
        )
	</insert>
	<select id="listBasket" parameterType="int" resultType="BasketVO">
        SELECT	B.PRODUCT_NO as productNo
        ,		B.BASKET_NO as basketNo
        ,		P.PRODUCT_NAME as productName
        ,		P.PRODUCT_CREDIT as productCredit
        ,		B.BASKET_AMOUNT as basketAmount
        ,		P.PRODUCT_CREDIT * B.BASKET_AMOUNT as totalCredit
        FROM	BASKET B
			INNER JOIN PRODUCT P ON B.PRODUCT_NO = P.PRODUCT_NO AND P.USE_YN = 'Y'
        WHERE	FAMILY_CUST_NO = #{familyCustNo}
        AND		B.USE_YN = 'Y'
	</select>
	<select id="isCheckBeforeBasket" parameterType="int" resultType="boolean">
	    SELECT	COUNT(*) as basketNo
        FROM	BASKET
        WHERE	FAMILY_CUST_NO = #{familyCustNo}
        AND		PRODUCT_NO = #{productNo}
        AND		USE_YN = 'Y'
	</select>
	<update id="updateChooseBuyBasket">
		UPDATE	BASKET
		SET		USE_YN = 'W'
		,		CHG_DT = NOW()
		,		CHG_CUST_NO = #{chgCustNo}
		WHERE	BASKET_NO = #{basketNo}
		AND		FAMILY_CUST_NO = #{familyCustNo}
		AND		USE_YN = 'Y'
	</update>
	<update id="updateOriginBasket" parameterType="int">
		UPDATE	BASKET
		SET		USE_YN = 'Y'
		WHERE	FAMILY_CUST_NO = #{familyCustNo}
		AND		USE_YN = 'W'
	</update>
</mapper>