<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="charge">
	<select id="listChargeCnt" resultType="map" parameterType="CustVO" >				
		SELECT	COUNT(CREDIT_VALUE) as totalCharge
		,		5-COUNT(if(IFNULL(CHG_DT, REG_DT) > curdate(), CREDIT_VALUE, NULL)) as todayCharge
		FROM	CUSTOM_CREDIT
		WHERE	FAMILY_CUST_NO = #{familyCustNo}
		AND		USE_YN = 'Y'
        AND		CREDIT_STATE = 'fre'
	</select>
	<select id="getCurrentCredit" resultType="int" parameterType="int">
		SELECT	IFNULL(SUM(CREDIT_VALUE), 0) as totalCredit
		FROM	CUSTOM_CREDIT
		WHERE	FAMILY_CUST_NO = #{familyCustNo}
		AND		USE_YN = 'Y'
	</select>
	<select id="todayCharge" resultType="map" >				
		SELECT	COUNT(*) as todayChargeCnt
		FROM	CUSTOM_CREDIT
		WHERE	IFNULL(CHG_DT, REG_DT) > curdate()
		AND		FAMILY_CUST_NO = #{familyCustNo}
		AND		CREDIT_STATE = 'fre'
		AND		USE_YN = 'Y'
	</select>
	<select id="getCardInfo" resultType="CreditVO" parameterType="int">
       SELECT	COUNT(*) as chargeCnt
       ,		IFNULL(SUM(CREDIT_VALUE), 0) as creditValue
		FROM	CUSTOM_CREDIT
		WHERE	FAMILY_CUST_NO = #{familyCustNo}
		AND		CREDIT_STATE = 'CBC'
		AND		USE_YN = 'Y';
	</select>
	<insert id="insertCharge" useGeneratedKeys="true" keyProperty="creditId">
		INSERT INTO CUSTOM_CREDIT
		    ( CREDIT_VALUE,		CREDIT_STATE,		CREDIT_STATE_ID, 
		    REG_CUST_NO,		REG_DT, 			REG_IP,
		    USE_YN,				FAMILY_CUST_NO)
		VALUES
		    (#{creditValue},	#{creditState}, 	0, 
		    #{regCustNo}, 		NOW(), 				#{regIp},
		    'Y',				#{familyCustNo});
	</insert>
	<select id="isCardChargeCheck" parameterType="int" resultType="boolean">
		SELECT EXISTS (SELECT 0
        FROM	CUSTOM_CREDIT
        WHERE	CREDIT_STATE = 'CBC'
        AND		FAMILY_CUST_NO = #{familyCustNo}
        AND		USE_YN = 'Y'
        AND		DATE(IFNULL(CHG_DT,REG_DT)) = DATE(NOW())
        HAVING	IFNULL(SUM(CREDIT_VALUE), 0) > 300000)  as creditValue
	</select>
</mapper>