<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dashboard">
	<select id="getTotalMileage" resultType="int" parameterType="int">
		SELECT	IFNULL(SUM(CM.MILEAGE_VALUE),0) as mileageValue
        FROM 	FAMILY_CUSTOM FC
			INNER JOIN CUSTOM_MILEAGE CM ON CM.FAMILY_CUST_NO = FC.FAMILY_CUST_NO AND CM.USE_YN = 'Y'
		WHERE	FC.FAMILY_CUST_NO = #{familyCustNo}
        AND		FC.USE_YN = 'Y';
	</select>
	<select id="getTotalCredit"  resultType="int" parameterType="int">
		SELECT	IFNULL(SUM(CC.CREDIT_VALUE),0) as creditValue
        FROM 	FAMILY_CUSTOM FC
			INNER JOIN CUSTOM_CREDIT CC ON CC.FAMILY_CUST_NO = FC.FAMILY_CUST_NO AND CC.USE_YN = 'Y'
		WHERE	FC.FAMILY_CUST_NO = #{familyCustNo}
        AND		FC.USE_YN = 'Y'
	</select>
	<select id="getTotalExp" resultType="int" parameterType="int">
		SELECT	FAMILY_CUST_EXP as familyCustExp
        FROM 	FAMILY_CUSTOM
		WHERE	FAMILY_CUST_NO = #{familyCustNo}
        AND		USE_YN = 'Y'		
	</select>
	<select id="getCustLevel" resultType="int" parameterType="int">
		<![CDATA[
			SELECT	IFNULL(LEVEL,0) as level
	        ,		COUNT(*) as checkData
			,		IFNULL(FC.FAMILY_CUST_EXP,0) as familyCustExp
			,		IFNULL(START_EXP,0) as startExp
			,		IFNULL(END_EXP,0) as endExp
			FROM	FAMILY_CUSTOM FC, LEVEL
			WHERE	FAMILY_CUST_NO = #{familyCustNo}
			AND		START_EXP <= FC.FAMILY_CUST_EXP
            GROUP BY LEVEL
	        ORDER BY LEVEL DESC
	        LIMIT 1
		]]>
	</select>
	<select id="listRecentProfitCredit" parameterType="int" resultType="CreditVO">
		SELECT	S.REG_DT AS regCreditDt
        ,		IFNULL(SUM(C.CREDIT_VALUE),0) AS creditValue
		FROM	CUSTOM_CREDIT C
		RIGHT OUTER JOIN (
			select DATE_FORMAT( DATE_ADD(now(), INTERVAL -a.a DAY),'%m. %d' ) as REG_DT
			from (
				  select 1 as a  union all 
				  select 2 union all 
				  select 3 union all 
				  select 4 union all 
				  select 5 union all
				  select 6 union all 
				  select 7
			) a
		) S		ON DATE_FORMAT(C.REG_DT,'%m. %d' ) = S.REG_DT 
           AND		C.FAMILY_CUST_NO = #{familyCustNo}
           AND		C.USE_YN = 'Y'
           GROUP BY S.REG_DT
		ORDER BY S.REG_DT
	</select>
	<select id="listRecentProfitMileage" parameterType="int" resultType="MileageVO">
		SELECT	S.REG_DT AS regMileageDt
        ,		IFNULL(SUM(M.MILEAGE_VALUE),0) AS mileageValue
		FROM	CUSTOM_MILEAGE M
		RIGHT OUTER JOIN (
			select DATE_FORMAT( DATE_ADD(now(), INTERVAL -a.a DAY),'%m. %d' ) as REG_DT
			from (
				  select 1 as a  union all 
				  select 2 union all 
				  select 3 union all 
				  select 4 union all 
				  select 5 union all
				  select 6 union all 
				  select 7
			) a
		) S		ON DATE_FORMAT(M.REG_DT,'%m. %d' ) = S.REG_DT
           AND		M.FAMILY_CUST_NO = #{familyCustNo}
           AND		M.USE_YN = 'Y'
           GROUP BY S.REG_DT
		ORDER BY S.REG_DT
	</select>	
</mapper>