<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="exp">
	<insert id="insertExp">
		INSERT INTO CUSTOM_EXP (
			FAMILY_CUST_NO,		EXP_STATE,		EXP_VALUE,		REG_CUST_NO,
            REG_DT,				REG_IP,			USE_YN
        ) VALUES (
			#{familyCustNo},	#{expState},	#{expValue},	#{regCustNo},
            NOW(),				#{regIp},		'Y'
        )
	</insert>
	<update id="updateCustExp">
		UPDATE	FAMILY_CUSTOM
        SET		FAMILY_CUST_EXP = FAMILY_CUST_EXP + #{expValue}
        WHERE	FAMILY_CUST_NO = #{familyCustNo}
		AND		USE_YN = 'Y'	
	</update>
</mapper>