<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="exp">
	<insert id="insertExp">
		INSERT INTO CUSTOM_EXP (
			FAMILY_CUST_NO,		EXP_STATE,		EXP_VALUE,		REG_CUST_NO,
            REG_DT,				REG_IP,			USE_YN
        ) VALUES (
			#{familyCustNo},	#{expState},	#{expValue},	#{regCustNo},
            NOW(),				#{regIp},		'Y'
        )
	</insert>
	<update id="updateCustExp">
		UPDATE	FAMILY_CUSTOM
        SET		FAMILY_CUST_EXP = FAMILY_CUST_EXP + #{expValue}
        WHERE	FAMILY_CUST_NO = #{familyCustNo}
		AND		USE_YN = 'Y'	
	</update>
	<select id="getCustLevel" resultType="ExpVO" parameterType="int">
		<![CDATA[
			SELECT	IFNULL(LEVEL,0) as level
	        ,		COUNT(*) as checkData
			,		IFNULL(FC.FAMILY_CUST_EXP,0) as familyCustExp
			,		IFNULL(START_EXP,0) as startExp
			,		IFNULL(END_EXP,0) as endExp
			FROM	FAMILY_CUSTOM FC, LEVEL
			WHERE	FAMILY_CUST_NO =#{familyCustNo}
			AND		START_EXP <= FC.FAMILY_CUST_EXP
	        ORDER BY LEVEL DESC
	        LIMIT 1
		]]>
	</select>
</mapper>