<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login">
	
	<select id="custLogin" resultType="CustVO">
			
		SELECT	C.CUST_NO as custNo
		,		C.FAMILY_CUST_NO as familyCustNo
		,		C.CUST_PASSWORD as custPassword
	    ,		FC.FAMILY_CUST_EMAIL AS familyCustEmail
	    ,		FC.FAMILY_CUST_NICKNAME as familyCustNick
	   	,		C.CUST_OPERATOR_GUBUN as custOperatorGubun
		FROM	CUSTOM C
	    	inner join	FAMILY_CUSTOM FC ON C.FAMILY_CUST_NO = FC.FAMILY_CUST_NO
	    AND			C.USE_YN = 'Y'
	    AND			FC.USE_YN = 'Y'
		where	CUST_ID = #{custId}
		limit 1;
	</select>
	<select id="socialLogin" resultType="CustVO">
		SELECT	C.FAMILY_CUST_NO as familyCustNo
		,		C.CUST_NO as custNo
		,		SC.SC_CUST_NO as scCustNo
		FROM	SOCIAL_CUSTOM SC
			INNER JOIN CUSTOM C ON SC.FAMILY_CUST_NO = C.FAMILY_CUST_NO
			AND		C.USE_YN = 'Y'
		WHERE	SC_CUST_ID = '${scCustId}'
		AND		SC_CUST_GUBUN = '${scCustGubun}'
		AND		SC.USE_YN = 'Y'	
	</select>
	
	<select id="socialLoginNoFamilyNo" resultType="CustVO">
		select	SC_CUST_NO as custNo
		from	SOCIAL_CUSTOM
		WHERE	SC_CUST_ID = '${scCustId}'
		AND		SC_CUST_GUBUN = '${scCustGubun}'
		AND		USE_YN = 'Y'
	</select>
</mapper>