<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login">
	<select id="custLogin" resultType="CustVO">
		SELECT	C.CUST_NO as custNo
		,		C.FAMILY_CUST_NO as familyCustNo
		,		C.CUST_PASSWORD as custPassword
	    ,		FC.FAMILY_CUST_EMAIL AS familyCustEmail
	    ,		FC.FAMILY_CUST_NICKNAME as familyCustNick
	   	,		C.CUST_OPERATOR_GUBUN as custOperatorGubun
	   	,		FC.FAMILY_CUST_COMPANY_NUMBER as familyCustCompanyNumber
		FROM	CUSTOM C
	    	inner join	FAMILY_CUSTOM FC ON C.FAMILY_CUST_NO = FC.FAMILY_CUST_NO
		    AND			FC.USE_YN = 'Y'
		where	CUST_ID = #{custId}
		AND		C.USE_YN = 'Y'
		limit 1;
	</select>
	<select id="socialLogin" resultType="CustVO">
		SELECT	C.FAMILY_CUST_NO as familyCustNo
		,		C.CUST_NO as custNo
		,		SC.SC_CUST_NO as scCustNo
		FROM	SOCIAL_CUSTOM SC
			INNER JOIN CUSTOM C ON SC.FAMILY_CUST_NO = C.FAMILY_CUST_NO
				AND		C.USE_YN = 'Y'
		WHERE	SC_CUST_ID = #{scCustId}
		AND		SC_CUST_GUBUN = #{scCustGubun}
		AND		SC.USE_YN = 'Y'	
	</select>
	
	<select id="socialLoginNoFamilyNo" resultType="CustVO">
		select	SC_CUST_NO as custNo
		from	SOCIAL_CUSTOM
		WHERE	SC_CUST_ID = #{scCustId}
		AND		SC_CUST_GUBUN = #{scCustGubun}
		AND		USE_YN = 'Y'
	</select>
	
	<select id="geExpInfo" parameterType="int">
		SELECT	FAMILY_CUST_EXP as familyCustExp
        FROM 	FAMILY_CUSTOM
        WHERE	FAMILY_CUST_NO = #{familycustNo}
        AND		USE_YN = 'Y'
	</select>
	<select id="listPreferProduct" parameterType="int" resultType="String">
		SELECT	PRODUCT_NO as productNo
		FROM	CUST_PRODUCT_PREFER
		WHERE	FAMILY_CUST_NO = #{familyCustNo}
		AND		USE_YN = 'Y'
	</select>
	<update id="updateVipticketExpire">
	<![CDATA[
		UPDATE	CUSTOM_EXP
		SET		CHG_DT = NOW()
		,		CHG_CUST_NO = #{chgCustNo}
		,		CHG_IP = #{chgIp}
		,		USE_YN = 'N'
		WHERE	FAMILY_CUST_NO = #{familyCustNo}
		AND		EXP_STATE = 'VIP'
		AND		REG_DT <= NOW()
		AND		USE_YN = 'Y'
		]]>
	</update>
	<update id="updateVipTicketExpireExp" parameterType="int">
		UPDATE	FAMILY_CUSTOM
        SET		FAMILY_CUST_EXP = FAMILY_CUST_EXP - 30000
        WHERE	FAMILY_CUST_NO = #{familyCustNo}
        AND		USE_YN = 'Y'
	</update>
</mapper>