<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productBuy">
	<insert id="insertProductBuy">
		INSERT INTO PRODUCT_BUY (
			FAMILY_CUST_NO,			PRODUCT_NO,				DELIVERY_NO,	PRODUCT_BUY_CREDIT,
            PRODUCT_BUY_AMOUNT,		PRODUCT_BUY_DEL_CREDIT,	REG_CUST_NO,	REG_DT,
            REG_IP,					USE_YN,					PRODUCT_BUY_GRP_NO
        ) VALUES (
			#{familyCustNo},		#{productNo},			#{deliveryNo},	#{productBuyCredit},
            #{productBuyAmount},	#{productBuyDelCredit},	#{regCustNo},	NOW(),
            #{regIp},				'Y',					#{productBuyGrpNo}
        )
	</insert>
	<insert id="insertProductBuyGrp"  useGeneratedKeys="true" keyProperty="productBuyGrpNo">
        INSERT INTO PRODUCT_BUY_GRP (
			REG_CUST_NO,			REG_DT,
            REG_IP,					USE_YN,
            FAMILY_CUST_ADDR,		FAMILY_CUST_ADDR_SI,	FAMILY_CUST_ADDR_GUGUN,
			FAMILY_CUST_ADDR_DONG,	ZIP_CODE1,				ZIP_CODE2
        ) VALUES (
			#{regCustNo},			NOW(),
            #{regIp},				'Y',
            #{familyCustAddr},		#{familyCustAddrSi},	#{familyCustAddrGugun},
            #{familyCustAddrDong},	#{zipCode1},			#{zipCode2}
        )
	</insert>
	<select id="getCustCredit" parameterType="ProductBuyVO" resultType="boolean">
		SELECT	COUNT(*) as familyCustNo
        FROM	CUSTOM_CREDIT CC
			INNER JOIN FAMILY_CUSTOM FC ON FC.FAMILY_CUST_NO = CC.FAMILY_CUST_NO AND FC.USE_YN = 'Y'
		WHERE	FC.FAMILY_CUST_NO = #{familyCustNo}
        AND		CC.USE_YN = 'Y'
        HAVING SUM(CREDIT_VALUE) >= #{productBuyCredit}
	</select>
	<select id="isProductAmount"  parameterType="ProductBuyVO" resultType="boolean">
		SELECT	COUNT(*) as productNo
        FROM	PRODUCT
        WHERE	PRODUCT_NO = #{productNo}
        AND		PRODUCT_AMOUNT >= #{productBuyAmount}
        AND		USE_YN = 'Y'
	</select>
	<update id="updateProductAmount">
		UPDATE	PRODUCT
        SET		PRODUCT_AMOUNT = PRODUCT_AMOUNT - #{productBuyAmount}
        WHERE	PRODUCT_NO = #{productNo}
        AND		USE_YN = 'Y'		
	</update>
	<select id="getProductBuy" resultType="ProductVO">
		SELECT	PRODUCT_NO as productNo
        ,		PRODUCT_NAME as productName
        ,		PRODUCT_CREDIT as productCredit
        ,		PRODUCT_AMOUNT as productAmount
        ,		(PRODUCT_AMOUNT * PRODUCT_CREDIT) as totalCredit
        FROM	PRODUCT
        WHERE	PRODUCT_NO = #{productNo}
        AND		USE_YN = 'Y'
	</select>
	<select id="getCustCreditInfo" resultType="int" parameterType="int">
		SELECT	IFNULL(SUM(CREDIT_VALUE), 0) as creditValue
        FROM 	CUSTOM_CREDIT
        WHERE	FAMILY_CUST_NO = #{familyCustNo}
        AND		USE_YN = 'Y'
	</select>
	<select id="getCustMileageInfo" resultType="int" parameterType="int">
		SELECT	IFNULL(SUM(MILEAGE_VALUE), 0) as mileageValue
        FROM	CUSTOM_MILEAGE
        WHERE	FAMILY_CUST_NO = #{familyCustNo}
        AND		USE_YN = 'Y'
	</select>
</mapper>