<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ranking">
	<select id="listExpRanking" resultType="RankingVO">
		 <![CDATA[
		SELECT	A.expValue
		,		A.familyCustNickname
		,		L.LEVEL as level
			FROM (SELECT	SUM(CE.EXP_VALUE) as expValue
			,				FC.FAMILY_CUST_NICKNAME as familyCustNickname
			FROM	CUSTOM_EXP CE
				INNER JOIN FAMILY_CUSTOM FC  ON CE.FAMILY_CUST_NO= FC.FAMILY_CUST_NO AND  FC.USE_YN = 'Y'
			WHERE	CE.USE_YN = 'Y'
			GROUP BY CE.FAMILY_CUST_NO) A
		    LEFT OUTER JOIN LEVEL L ON L.START_EXP <= A.expValue AND L.END_EXP >= A.expValue
		WHERE A.expValue between L.START_EXP AND L.END_EXP
		ORDER BY  A.expValue DESC
		LIMIT 0, 100
		]]>	
	</select>
	<select id="listGameRanking" parameterType="String" resultType="RankingVO">
		
		SELECT	A.expValue
		,		A.familyCustNickname
		,		A.gameCnt
		,		L.LEVEL as level
			FROM (SELECT	SUM(CE.EXP_VALUE) as expValue
		    ,				SUM(IF(CE.EXP_STATE=#{_parameter},1,0)) as gameCnt
			,				FC.FAMILY_CUST_NICKNAME as familyCustNickname
			FROM	CUSTOM_EXP CE
				INNER JOIN FAMILY_CUSTOM FC  ON CE.FAMILY_CUST_NO= FC.FAMILY_CUST_NO AND  FC.USE_YN = 'Y'
			WHERE	CE.USE_YN = 'Y'
		    <choose>
		    	<when test='_parameter == "LGS"'>
		    		AND		CE.EXP_STATE IN ('LGS', 'LGW')
		    	</when>
		    	<when test='_parameter == "DGS"'>
		    		AND		CE.EXP_STATE IN ('DGS', 'DGW')
		    	</when>
		    	<when test='_parameter == "GGS"'>
		    		AND		CE.EXP_STATE IN ('GGS', 'GGW')
		    	</when>
		    	<otherwise>
		    		AND		CE.EXP_STATE IN ('RGS', 'RGW')
		    	</otherwise>
		    </choose>
		    <![CDATA[   
			GROUP BY CE.FAMILY_CUST_NO) A
		    LEFT OUTER JOIN LEVEL L ON L.START_EXP <= A.expValue AND L.END_EXP >= A.expValue
		WHERE A.expValue between L.START_EXP AND L.END_EXP
		ORDER BY  A.expValue DESC
		LIMIT 0, 100;
		]]>
	</select>	
</mapper>