<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="registerCust">
	<insert id="insertRegisterCust" parameterType="com.familytoto.familytotoProject.registerCust.domain.RegisterCustVO" useGeneratedKeys="true" keyProperty="familyCustNo">
			INSERT INTO FAMILY_CUSTOM (FAMILY_CUST_NICKNAME, FAMILY_CUST_EMAIL, FAMILY_CUST_ADDR, 
				FAMILY_CUST_ADDR_SI, FAMILY_CUST_ADDR_GUGUN, FAMILY_CUST_ADDR_DONG,
			    FAMILY_CUST_RECOMMEND, REG_CUST_NO, CHG_CUST_NO,
			    REG_DT, CHG_DT, REG_IP, CHG_IP, USE_YN, ZIP_CODE1, ZIP_CODE2)
			VALUES(
		    #{familyCustNickname}, #{familyCustEmail}, #{familyCustAddr},
		     #{familyCustAddrSi}, #{familyCustAddrGugun}, #{familyCustAddrDong},
		    #{familyCustRecommend}, 0, NULL,
		     NOW(), NULL, #{regIp}, NULL, 'Y', #{zipCode1}, #{zipCode2});
	</insert>
	<select id="checkNickname" resultType="map">
		SELECT	FAMILY_CUST_NICKNAME
		FROM	FAMILY_CUSTOM 
		WHERE	FAMILY_CUST_NICKNAME= #{familyCustNickname}
		AND		USE_YN='Y'
		LIMIT 1; 
	</select>
	<insert id="insertCust" >
			INSERT INTO CUSTOM ( 
				FAMILY_CUST_NO,	CUST_ID, CUST_PASSWORD, REG_CUST_NO, 
			    CHG_CUST_NO, REG_DT, CHG_DT, REG_IP, 
			    CHG_IP, USE_YN)
			VALUES (
				#{familyCustNo}, #{custId}, #{custPassword}, 0, 
			    NULL, NOW(),NULL, #{regIp},  
			    NULL, 'Y');
	</insert>
	<select id="checkId" resultType="map" >
		select	CUST_ID  as custId
		,		FAMILY_CUST_NO as familyCustNo
		from	CUSTOM
		where	CUST_ID = '${custId}'
		and		USE_YN = 'Y'
		limit 1; 
	</select>	
	<insert id="insertRecommend" >
		INSERT INTO CUSTOM_MILEAGE
		    (FAMILY_CUST_NO,     MILEAGE_VALUE,     MILEAGE_STATE, 
		    REG_CUST_NO,	     REG_DT,			REG_IP,
		    USE_YN)
		VALUES
		    (#{familyCustNo}, 	 2000, 			    'MIR', 
		    0,				  	 NOW(), 		    '${regIp}', 
		    'Y');
    </insert>
    
    <insert id="insertSocial" useGeneratedKeys="true" keyProperty="scCustNo">
    	INSERT INTO SOCIAL_CUSTOM
		    (FAMILY_CUST_NO,     SC_CUST_GUBUN,     SC_CUST_ID,     SC_CUST_EMAIL, 
		    REG_CUST_NO, 	     REG_DT,			REG_IP,			USE_YN,
		    SC_CUST_NICK)
		VALUES
		    (null,		         '${scCustGubun}', '${scCustId}',	'${scCustEmail}', 
		    0,     				NOW(), 			    '${regIp}', 	'Y',
		    '${scCustNick}');
    </insert>
    <insert id="insertAuthSocial" useGeneratedKeys="true" keyProperty="scCustNo">
    	INSERT INTO SOCIAL_CUSTOM
		    (FAMILY_CUST_NO,     SC_CUST_GUBUN,     SC_CUST_ID,     SC_CUST_EMAIL, 
		    REG_CUST_NO, 	     REG_DT,			REG_IP,			USE_YN,
		    SC_CUST_NICK,		CHG_CUST_NO)
		VALUES
		    (${familyCustNo},	'${scCustGubun}', '${scCustId}',	'${scCustEmail}', 
		    #{chgCustNo},     	NOW(), 			    '${regIp}', 	'Y',
		    '${scCustNick}',	#{chgCustNo});
    </insert>
    <select id="checkSocial" resultType="map">
    	select	SC_CUST_NO as scCustNo
		from	SOCIAL_CUSTOM
		where	USE_YN = 'Y'
		AND		SC_CUST_GUBUN = '${scCustGubun}'
		AND		SC_CUST_ID = '${scCustId}'
		LIMIT 1;
    </select>
    <select id="listSido" resultType="com.familytoto.familytotoProject.registerCust.domain.ZipcodeVO">
    	select	DISTINCT sido
        from	ZIPCODE 
        ORDER BY sido ASC
    </select>
    <select id="listGugun" parameterType="String" resultType="com.familytoto.familytotoProject.registerCust.domain.ZipcodeVO">
 		select	DISTINCT SI_GUN_GU_KOR as gugun
        from	NEW_ZIPCODE 
        WHERE	SI_DO_KOR = #{sido}
        UNION DISTINCT
        select	DISTINCT GUGUN as gugun
        from	ZIPCODE 
        WHERE	SIDO = #{sido}        
        ORDER BY gugun ASC    
    </select>
    
    <select id="listDong" parameterType="com.familytoto.familytotoProject.registerCust.domain.ZipcodeVO"
    resultType="com.familytoto.familytotoProject.registerCust.domain.ZipcodeVO">
    	SELECT	DISTINCT	DONG AS DONG
        FROM	ZIPCODE
        WHERE	SIDO = #{sido}
        AND		GUGUN = #{gugun}
        UNION DISTINCT
        SELECT	DISTINCT	DONG_KOR AS DONG
        FROM	NEW_ZIPCODE  
        WHERE	SI_DO_KOR = #{sido}
        AND		SI_GUN_GU_KOR = #{gugun}
        ORDER BY DONG ASC
    </select>
    
    <select id="listZip" parameterType="com.familytoto.familytotoProject.registerCust.domain.ZipcodeVO"
    resultType="com.familytoto.familytotoProject.registerCust.domain.ZipcodeVO">
    	select	DISTINCT
    			TRIM(CONCAT(RI,' ', BUNJI)) as ri
 		,		LEFT(ZIPCODE,3) as zipCode1
 		,		RIGHT(ZIPCODE,3) as zipCode2
        from	ZIPCODE 
        WHERE	SIDO = #{sido}
        AND		GUGUN = #{gugun}
        AND		DONG = #{dong}
        AND		RI != ''
        AND		BUNJI != ''
        UNION DISTINCT
        select	DISTINCT ROAD_NAME_KOR as ri
        ,		null as zipCode1
 		,		null as zipCode2
        from	NEW_ZIPCODE 
        WHERE	SI_DO_KOR = #{sido}
        AND		SI_GUN_GU_KOR = #{gugun}
        AND		DONG_KOR = #{dong}
        ORDER BY ri ASC
    </select>
</mapper>