<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vip">
	<insert id="insertGameRoom" useGeneratedKeys="true" keyProperty="vipGameNo">
		INSERT INTO VIP_GAME (
			GAME_GUBUN,		TOTAL_TURN,		REG_CUST_NO,
            REG_DT,			REG_IP,			USE_YN
        ) VALUES (
			#{gameGubun},	#{totalTurn},	#{regCustNo},
			NOW(),			#{regIp},		'Y'
		)
	</insert>
	<insert id="insertGamePlayers" >
		INSERT INTO VIP_GAME_PLAYERS (
			VIP_GAME_NO,	CREDIT_ID,		FAMILY_CUST_NO,		DEATH_TURN,
            REG_CUST_NO,	REG_DT,			REG_IP,				USE_YN
        ) VALUES (
			#{vipGameNo},	#{creditId},	#{familyCustNo},	null,
            #{regCustNo},	NOW(),			#{regIp},			'Y'
		)
	</insert>
	<insert id="insertVipBet"  useGeneratedKeys="true" keyProperty="creditId">
		INSERT INTO CUSTOM_CREDIT (
			FAMILY_CUST_NO,		CREDIT_VALUE,	CREDIT_STATE,	CREDIT_STATE_ID,
		    REG_CUST_NO,		REG_DT,			REG_IP,			USE_YN
		) VALUES (
			#{familyCustNo},	#{creditValue},	#{creditState},	0,
		    #{regCustNo},		NOW(),			#{regIp},		'Y'
		)
	</insert>
	<select id="isVipCreditValue" parameterType="CreditVO" resultType="boolean">
		SELECT EXISTS(SELECT	FAMILY_CUST_NO
		FROM	CUSTOM_CREDIT
		WHERE	FAMILY_CUST_NO = #{familyCustNo}
		GROUP BY FAMILY_CUST_NO
		HAVING SUM(CREDIT_VALUE) >= #{creditValue})
	</select>
	<insert id="insertVipWinnerCredit">
		INSERT INTO CUSTOM_CREDIT (
			FAMILY_CUST_NO,		CREDIT_VALUE,	CREDIT_STATE,	CREDIT_STATE_ID,
		    REG_CUST_NO,		REG_DT,			REG_IP,			USE_YN
		) VALUES (
			#{familyCustNo},	#{creditValue},	#{creditState},	0,
		    #{regCustNo},		NOW(),			#{regIp},		'Y'
		)
	</insert>
	<select id="getVipGamePlayersCnt" parameterType="int" resultType="int">
		SELECT	COUNT(*)
		FROM	VIP_GAME_PLAYERS
		WHERE	VIP_GAME_NO = #{vipGameNo}
		AND		USE_YN = 'Y'
	</select>
	<update id="updateCloseGameRoom" parameterType="int">
		UPDATE	VIP_GAME
        SET		USE_YN = 'N'
        WHERE	VIP_GAME_NO = #{vipGameNo}
        AND		USE_YN = 'Y'
	</update>
	<select id="isFamilyCustVip" parameterType="int" resultType="boolean">
		<![CDATA[
		SELECT EXISTS(SELECT	FAMILY_CUST_NO
		FROM	FAMILY_CUSTOM
		WHERE	FAMILY_CUST_NO = #{familyCustNo}
		AND		USE_YN = 'Y'
		AND		FAMILY_CUST_EXP >= 30000)
		]]>
	</select>
</mapper>